<h1>Shopping Cart</h1>

<div class="loader" *ngIf="cartItemLoading">
</div>

<div class="no-cart-section" *ngIf="!cartItemLoaded">
  <div class="cart-icon">
    <svg class="cart-icon-svg" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="shopping-cart"
      role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
      <path
        d="M551.991 64H129.28l-8.329-44.423C118.822 8.226 108.911 0 97.362 0H12C5.373 0 0 5.373 0 12v8c0 6.627 5.373 12 12 12h78.72l69.927 372.946C150.305 416.314 144 431.42 144 448c0 35.346 28.654 64 64 64s64-28.654 64-64a63.681 63.681 0 0 0-8.583-32h145.167a63.681 63.681 0 0 0-8.583 32c0 35.346 28.654 64 64 64 35.346 0 64-28.654 64-64 0-17.993-7.435-34.24-19.388-45.868C506.022 391.891 496.76 384 485.328 384H189.28l-12-64h331.381c11.368 0 21.177-7.976 23.496-19.105l43.331-208C578.592 77.991 567.215 64 551.991 64zM240 448c0 17.645-14.355 32-32 32s-32-14.355-32-32 14.355-32 32-32 32 14.355 32 32zm224 32c-17.645 0-32-14.355-32-32s14.355-32 32-32 32 14.355 32 32-14.355 32-32 32zm38.156-192H171.28l-36-192h406.876l-40 192z">
      </path>
    </svg>
  </div>
  <h3>
    These in no item in cart. Please add item before continue.
  </h3>
</div>



<div class="shopping-store-info" *ngIf="cartItemLoaded">
  You are shopping from {{cartStoreDetail.store_name}} min order is ₹{{cartStoreDetail.min_amt}}
</div>

<div class="shopping-cart" *ngIf="cartItemLoaded">

  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>

  <div class="product" *ngFor="let cartItem of cartItems; let i = index;">
    <div class="product-image">
      <img [src]="cartItem.prod_images ? cartItem.prod_images : productPlaceholder" [alt]="cartItem.prod_title + ' image'">
    </div>
    <div class="product-details">
      <div class="product-title">
        <span
          [innerHTML]="(cartItem.prod_title.length>60) ? (cartItem.prod_title | slice:0:60)  + '...' : cartItem.prod_title">
        </span>
        <!-- {{(cartItem.prod_title.length>60)? (cartItem.prod_title | slice:0:60)  + '...' : cartItem.prod_title}} -->
      </div>
      <p class="product-description">
        <span
          [innerHTML]="(cartItem.prod_desc.length>160) ? (cartItem.prod_desc | decodeHTML | slice:0:160)  + '...' : cartItem.prod_desc">
        </span>
        <!-- {{(cartItem.prod_desc.length>160)? (cartItem.prod_desc | slice:0:160)  + '...' : cartItem.prod_desc}} -->
      </p>
    </div>
    <div class="product-price">
      {{cartItem.price | number : '1.2-2'}}
    </div>
    <div class="product-quantity">
      <svg (click)="clickOnPlusIcon(cartItem, i)"
      class="plus-icon"
      [ngClass]="{'disabled-icon': disableALlButtons}"
      aria-hidden="true"
      focusable="false"
        data-prefix="far" data-icon="plus-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path fill="currentColor"
          d="M384 240v32c0 6.6-5.4 12-12 12h-88v88c0 6.6-5.4 12-12 12h-32c-6.6 0-12-5.4-12-12v-88h-88c-6.6 0-12-5.4-12-12v-32c0-6.6 5.4-12 12-12h88v-88c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v88h88c6.6 0 12 5.4 12 12zm120 16c0 137-111 248-248 248S8 393 8 256 119 8 256 8s248 111 248 248zm-48 0c0-110.5-89.5-200-200-200S56 145.5 56 256s89.5 200 200 200 200-89.5 200-200z">
        </path>
      </svg>
      <input [(ngModel)]="cartQtyModel[i]" (change)="changeQuantity(cartItem, i)" type="number" min="1">
      <svg (click)="clickOnMinusIcon(cartItem, i)"
      class="minus-icon"
      [ngClass]="{'disabled-icon': disableALlButtons}"
      aria-hidden="true"
      focusable="false"
        data-prefix="far" data-icon="minus-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path fill="currentColor"
          d="M140 284c-6.6 0-12-5.4-12-12v-32c0-6.6 5.4-12 12-12h232c6.6 0 12 5.4 12 12v32c0 6.6-5.4 12-12 12H140zm364-28c0 137-111 248-248 248S8 393 8 256 119 8 256 8s248 111 248 248zm-48 0c0-110.5-89.5-200-200-200S56 145.5 56 256s89.5 200 200 200 200-89.5 200-200z">
        </path>
      </svg>
    </div>
    <div class="product-removal">
      <button
      (click)="clickOnRemove(cartItem)"
      class="remove-product"
      [ngClass]="{'disabled': disableALlButtons}"
      [disabled]="disableALlButtons">
        Remove
      </button>
    </div>
    <div class="product-line-price">
      {{(cartItem.price * cartItem.qty) | number : '1.2-2'}}
    </div>
  </div>

  <div class="totals">
    <div class="totals-item">
      <label>Tax (0%)</label>
      <div class="totals-value" id="cart-tax">00.00</div>
    </div>
    <div class="totals-item">
      <label>Shipping</label>
      <div class="totals-value" id="cart-shipping">00.00</div>
    </div>
    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total">
        {{totalAmount | number : '1.2-2'}}
      </div>
    </div>
  </div>

  <button class="checkout" (click)="clickOnCheckOut()">
    Checkout
  </button>

  <!-- <button
  (click)="clickOnCheckOut()"
  [ngClass]="{'disabled-checkout': disableCheckOutButton}"
  [disabled]="disableCheckOutButton"
  class="checkout">
    Checkout
  </button> -->

</div>
