.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(221, 72, 20);
  // width: 120px;
  // height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
  width: 80px;
  height: 80px;
  margin-top: 18%;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Global settings */
$color-border: #eee;
$color-label: #aaa;


/* Global "table" column settings */
.product-image {
  float: left;
  width: 20%;
}

.product-details {
  float: left;
  width: 35%;
}

.product-price {
  float: left;
  width: 12%;
}

.product-quantity {
  float: left;
  width: 14%;
}

.product-removal {
  float: left;
  width: 9%;
}

.product-line-price {
  float: left;
  width: auto;
  text-align: right;
}


/* This is used as the traditional .clearfix class */
.group:before,
.group:after {
  content: '';
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}


/* Apply clearfix in a few places */
.shopping-cart,
.column-labels,
.product,
.totals-item {
  @extend .group;
}

/* Apply dollar signs */
.product .product-price:before,
.product .product-line-price:before,
.totals-value:before {
  content: '₹';
}

h1 {
  text-align: center;
  font-weight: 100;
  padding-left: 22px;
  padding-right: 22px;
}

.no-cart-section {
  text-align: center;

  .cart-icon {

    .cart-icon-svg {
      display: block;
      margin: auto;
      width: 140px;
      color: rgb(221, 72, 20);
      fill: rgb(221, 72, 20);
    }
  }

  h3 {
    font-weight: 100;
    padding-left: 22px;
    padding-right: 22px;
  }
}


.shopping-store-info {
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.shopping-cart {
  margin: 0;
  padding-bottom: 24px;
  padding-left: 22px;
  padding-right: 22px;
  border-top: 1px solid $color-border;
}

label {
  color: $color-label;
}


/* Column headers */
.column-labels {
  label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $color-border;
  }

  .product-image,
  .product-details,
  .product-removal {
    text-indent: -9999px;
  }
}


/* Product entries */
.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $color-border;

  .product-image {
    text-align: left;

    img {
      width: 100px;
    }
  }

  .product-details {
    .product-title {
      margin-right: 20px;
      font-weight: 300;
    }

    .product-description {
      margin: 5px 20px 5px 0;
      line-height: 1.4em;
    }
  }

  .product-quantity {
    input {
      width: 40px;
    }
  }

  .remove-product {
    cursor: pointer;
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
  }

  .remove-product:hover {
    background-color: #a44;
  }

  .disabled {
    pointer-events: none;
    // background-color: #a44;
  }
}


/* Totals section */
.totals {
  .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;

    label {
      float: left;
      clear: both;
      width: 79%;
      text-align: right;
    }

    .totals-value {
      float: right;
      width: 21%;
      text-align: right;
    }
  }

  .totals-item-total {
    font-weight: 300;
  }
}

.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

.checkout:hover {
  background-color: #494;
}
.disabled-checkout {
  // background-color: #494;
  pointer-events: none;
}

.plus-icon,
.minus-icon {
  cursor: pointer;
  width: 1.25em;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: -4px;
  color: rgb(221, 72, 20);
  fill: rgb(221, 72, 20);
}

.plus-icon:hover,
.minus-icon:hover {
  color: rgba(221, 72, 20, .6);
  fill: rgba(221, 72, 20, .6);
}

.disabled-icon {
  // color: rgba(221, 72, 20, .6);
  // fill: rgba(221, 72, 20, .6);
  pointer-events: none;
}

/* Make adjustments for tablet */
@media screen and (max-width: 900px) {

  h1 {
    font-weight: 100;
    padding-left: 12px;
    padding-right: 12px;
  }

  .shopping-cart {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 24px;
    padding-left: 12px;
    padding-right: 12px;
    border-top: 1px solid $color-border;
  }

  .column-labels {
    display: none;
  }

  .product-image {
    float: right;
    width: auto;

    img {
      margin: 0 0 10px 10px;
    }
  }

  .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;

    .product-title {
      margin-right: 20px;
      font-size: 1.5em;
      font-weight: 300;
    }
  }

  .product-price {
    clear: both;
    width: 70px;
  }

  .product-quantity {
    width: 120px;

    // input {
    //   margin-left: 20px;
    // }
  }

  // .product-quantity:before {
  //   content: 'x';
  // }

  .product-removal {
    width: auto;
  }

  .product-line-price {
    float: right;
    width: 100px;
  }

}


/* Make more adjustments for phone */
@media screen and (max-width: 350px) {

  h1 {
    font-weight: 100;
    padding-left: 12px;
    padding-right: 12px;
  }

  .shopping-cart {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 24px;
    padding-left: 12px;
    padding-right: 12px;
    border-top: 1px solid $color-border;
  }

  .product-removal {
    float: right;
  }

  .product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
  }

  .product .product-line-price:before {
    content: 'Item Total: ₹';
  }

  .totals {
    .totals-item {
      label {
        width: 60%;
      }

      .totals-value {
        width: 40%;
      }
    }
  }
}
