/* desable selection of text in browser */
.noselect {
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidenav-link-svg {
  margin-left: 44%;
  fill: #9b9b9b;
  color: #9b9b9b;
  width: 24px;
  height: 24px;
}

.side-nav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.selected-setting {
  background-color: silver;
}

.sidenav {
  width: 300px;
  background: #ffffff;
}

.sidenev-box {
  display: block;
  width: 100%;
  height: 40px;
  padding-top: 6px;
  margin: 0;
  border: 0;
  cursor: pointer;
  outline: none;
  -webkit-animation: out 500ms;
  -moz-animation: out 500ms;
  -o-animation: out 500ms;
  animation: out 500ms;
}

.sidenev-box:hover {
  background-color: rgba(221, 72, 20);
  -webkit-animation: in 500ms;
  -moz-animation: in 500ms;
  -o-animation: in 500ms;
  animation: in 500ms;
}

@-webkit-keyframes in {
  from {
    box-shadow: none;
  }

  to {
    box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -moz-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -webkit-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
  }
}

@-webkit-keyframes out {
  0% {
    box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -moz-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -webkit-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
  }

  100% {
    box-shadow: none;
  }
}

@-moz-keyframes in {
  from {
    box-shadow: none;
  }

  to {
    box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -moz-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -webkit-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
  }
}

@-moz-keyframes out {
  0% {
    box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -moz-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -webkit-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
  }

  100% {
    box-shadow: none;
  }
}

@-o-keyframes in {
  from {
    box-shadow: none;
  }

  to {
    box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -moz-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -webkit-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
  }
}

@-o-keyframes out {
  0% {
    box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -moz-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -webkit-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
  }

  100% {
    box-shadow: none;
  }
}

@keyframes in {
  from {
    box-shadow: none;
  }

  to {
    box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -moz-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -webkit-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
  }
}

@keyframes out {
  0% {
    box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -moz-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -webkit-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
  }

  100% {
    box-shadow: none;
  }
}

.sidenev-box:active,
.sidenev-box-selected {
  background-color: rgba(221, 72, 20, .6);
}

.sidenev-box-selected:hover {
  background-color: rgba(221, 72, 20, .6);
}

.sidenev-box-selected:hover .navbar-text {
  color: #ffffff;
}

.sidenav-Links {
  text-decoration: none;
}

.sidenavLinksSpan {
  display: flex;
  justify-items: center;
  margin-left: 24px;
  margin-right: 24px;
}

.setting-navbar-image {
  fill: #9b9b9b;
  color: #9b9b9b;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.navbar-text {
  color: #000000;
  display: inline;
  outline: none;
  margin-left: 24px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 100;
  text-overflow: ellipsis;
}

.selected-setting {
  // background-color: silver;
  background-color: #ffffff;
}

.selected-setting-icon {
  fill: rgba(221, 72, 20, .6);
  color: rgba(221, 72, 20, .6);
}

.selected-setting-text {
  color: rgba(221, 72, 20, .6);
}

.selected-setting:hover .selected-setting-text {
  color: #ffffff;
}

.selected-setting:hover .selected-setting-icon {
  fill: #ffffff;
  color: #ffffff;
}

.selected-setting:hover .selected-setting-text {
  color: #ffffff;
}
