<mat-sidenav-container class="side-nav-container">
  <mat-sidenav
    #sideNavRefSetting
    position="start"
    opened
    class="sidenav"
    role="setting navigation"
    [(opened)]="opened"
    [mode]="(mobile$ | async) ? 'over' : 'side'"
    [fixedInViewport]="mobile$ | async"
    fixedTopGap="56"
  >
    <div class="sidenev-box" (click)="sideNavRefSetting.toggle()">
      <svg
        class="sidenav-link-svg"
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="arrow-left"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <path
          d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"
        ></path>
      </svg>
    </div>

    <div
      class="sidenev-box"
      routerLinkActive="selected-setting"
      (click)="clickOnSetting('security')"
      routerLink="/etc/settings/security"
    >
      <a
        class="sidenav-Links noselect"
        tabindex="-1"
        role="tablist"
        title="Security"
        aria-label="Security"
        aria-labelledby="Security"
      >
        <span class="sidenavLinksSpan">
          <svg
            routerLinkActive="selected-setting-icon"
            class="setting-navbar-image"
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="lock-alt"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
          >
            <path
              d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zM264 392c0 22.1-17.9 40-40 40s-40-17.9-40-40v-48c0-22.1 17.9-40 40-40s40 17.9 40 40v48zm32-168H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z"
            ></path>
          </svg>
          <span class="navbar-text" routerLinkActive="selected-setting-text">
            Security
          </span>
        </span>
      </a>
    </div>

    <div
      class="sidenev-box"
      routerLinkActive="selected-setting"
      (click)="clickOnSetting('address')"
      routerLink="/etc/settings/address"
    >
      <a
        class="sidenav-Links noselect"
        tabindex="-1"
        role="tablist"
        title="Address"
        aria-label="Address"
        aria-labelledby="Address"
      >
        <span class="sidenavLinksSpan">
          <svg
            routerLinkActive="selected-setting-icon"
            class="setting-navbar-image"
            aria-hidden="true"
            focusable="false"
            data-prefix="far"
            data-icon="location-circle"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 496 512"
          >
            <path
              d="M304.51 140.2l-182.06 83.66c-19.85 9.23-30.01 29.64-25.32 50.81 4.63 20.69 22.67 35.15 43.89 35.15h52.99v52.73c0 21.14 14.54 39.1 35.32 43.69 3.44.76 6.88 1.14 10.25 1.14 17.38 0 33.01-9.82 40.8-26.45l84-181.13.38-.83c6.94-16.57 2.94-35.75-10.22-48.87-13.23-13.15-32.49-17.15-50.03-9.9zm-62.49 209.41v-87.58h-88.06l163.53-75.15-75.47 162.73zM248 8C111.03 8 0 119.03 0 256s111.03 248 248 248 248-111.03 248-248S384.97 8 248 8zm0 448c-110.28 0-200-89.72-200-200S137.72 56 248 56s200 89.72 200 200-89.72 200-200 200z"
            ></path>
          </svg>
          <span class="navbar-text" routerLinkActive="selected-setting-text">
            Address
          </span>
        </span>
      </a>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
