.footer-container {
  display: block;
  background: #000000;
  width: 100%;
  margin-top: 22px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 100;

  .top-strip {
    .top-inner-sprite {
      margin-left: 4%;
      margin-right: 4%;
      padding-top: 4%;
      border-bottom: 1px solid #ffffff;

      .colomn-one {
        .google-play-store-logo {
          height: 40px;
        }
      }

      .colomn-two {
        .row-heading {
          color: #878787;
          margin-bottom: 0.5em;
        }

        .row-one {
          color: #ffffff;
        }

        .row-one:hover {
          text-decoration: underline;
        }

        .row-two {
          color: #ffffff;
        }

        .row-two:hover {
          text-decoration: underline;
        }

        .row-three {
          color: #ffffff;
        }

        .row-three:hover {
          text-decoration: underline;
        }

        .row-four {
          color: #ffffff;
        }

        .row-four:hover {
          text-decoration: underline;
        }
      }

      .colomn-three {
        .row-heading {
          color: #878787;
          margin-bottom: 0.5em;
        }

        .row-one {
          color: #ffffff;
        }

        .row-one:hover {
          text-decoration: underline;
        }

        .row-two {
          color: #ffffff;
        }

        .row-two:hover {
          text-decoration: underline;
        }

        .row-three {
          color: #ffffff;
        }

        .row-three:hover {
          text-decoration: underline;
        }

        .row-four {
          color: #ffffff;
        }

        .row-four:hover {
          text-decoration: underline;
        }
      }

      .colomn-four {
        .social-media {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          .row-one {
            color: #ffffff;

            .social-media-icon-svg {
              margin-right: 5px;
              display: inline-block;
              cursor: pointer;
              width: 26px;
              height: 26px;
              border: 2px solid #ddd;
              padding: 6px;
              text-decoration: none;
              text-align: center;
              background: #3b5998;
              color: #fff;
              fill: #fff;
              font-size: 22px;
              font-weight: 400;
              line-height: 44px;
              border-radius: 27px;
            }

            .social-media-icon-svg:hover {
              border: 2px solid #3b5998;
              background: #fff;
              color: #3b5998;
              fill: #3b5998;
            }
          }

          .row-two {
            color: #ffffff;

            .social-media-icon-svg {
              margin-right: 5px;
              display: inline-block;
              cursor: pointer;
              width: 26px;
              height: 26px;
              border: 2px solid #ddd;
              padding: 6px;
              text-decoration: none;
              text-align: center;
              background: #517fa4;
              color: #fff;
              fill: #fff;
              font-size: 22px;
              font-weight: 400;
              line-height: 44px;
              border-radius: 27px;
            }

            .social-media-icon-svg:hover {
              border: 2px solid #517fa4;
              background: #fff;
              color: #517fa4;
              fill: #517fa4;
            }
          }

          .row-three {
            color: #ffffff;

            .social-media-icon-svg {
              margin-right: 5px;
              display: inline-block;
              cursor: pointer;
              width: 26px;
              height: 26px;
              border: 2px solid #ddd;
              padding: 6px;
              text-decoration: none;
              text-align: center;
              background: #00aced;
              color: #fff;
              fill: #fff;
              font-size: 22px;
              font-weight: 400;
              line-height: 44px;
              border-radius: 27px;
            }

            .social-media-icon-svg:hover {
              border: 2px solid #00aced;
              background: #fff;
              color: #00aced;
              fill: #00aced;
            }
          }

          .row-four {
            color: #ffffff;

            .social-media-icon-svg {
              margin-right: 5px;
              display: inline-block;
              cursor: pointer;
              width: 26px;
              height: 26px;
              border: 2px solid #ddd;
              padding: 6px;
              text-decoration: none;
              text-align: center;
              background: #db3236;
              color: #fff;
              fill: #fff;
              font-size: 22px;
              font-weight: 400;
              line-height: 44px;
              border-radius: 27px;
            }

            .social-media-icon-svg:hover {
              border: 2px solid #db3236;
              background: #fff;
              color: #db3236;
              fill: #db3236;
            }
          }
        }
      }
    }
  }

  .bottom-strip {
    display: block;
    margin-left: 12%;

    .colomn-one {
      display: block;
    }

    .colomn-two {
      display: block;
    }

    .colomn-three {
      display: block;
    }

    .colomn-four {
      display: block;
    }
  }
}

@media screen and (min-width: 700px) {
  .footer-container {
    .top-strip {
      .top-inner-sprite {
        display: flex;
        flex-direction: row;
        margin-left: 4%;
        margin-right: 4%;
        border-bottom: 1px solid #ffffff;

        .colomn-one {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 40%;

          .google-play-store-logo {
            height: 40px;
          }
        }

        .colomn-two {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 22%;

          .row-heading {
            color: #878787;
          }

          .row-one {
            color: #ffffff;
          }

          .row-two {
            color: #ffffff;
          }

          .row-three {
            color: #ffffff;
          }

          .row-four {
            color: #ffffff;
          }
        }

        .colomn-three {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 22%;

          .row-heading {
            color: #878787;
          }

          .row-one {
            color: #ffffff;
          }

          .row-two {
            color: #ffffff;
          }

          .row-three {
            color: #ffffff;
          }

          .row-four {
            color: #ffffff;
          }
        }

        .colomn-four {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 8%;

          .social-media {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .row-one {
              color: #ffffff;

              .social-media-icon-svg {
                margin-right: 5px;
                display: inline-block;
                cursor: pointer;
                width: 26px;
                height: 26px;
                border: 2px solid #ddd;
                padding: 6px;
                text-decoration: none;
                text-align: center;
                background: #3b5998;
                color: #fff;
                fill: #fff;
                font-size: 22px;
                font-weight: 400;
                line-height: 44px;
                border-radius: 27px;
              }

              .social-media-icon-svg:hover {
                border: 2px solid #3b5998;
                background: #fff;
                color: #3b5998;
                fill: #3b5998;
              }
            }

            .row-two {
              color: #ffffff;

              .social-media-icon-svg {
                margin-right: 5px;
                display: inline-block;
                cursor: pointer;
                width: 26px;
                height: 26px;
                border: 2px solid #ddd;
                padding: 6px;
                text-decoration: none;
                text-align: center;
                background: #517fa4;
                color: #fff;
                fill: #fff;
                font-size: 22px;
                font-weight: 400;
                line-height: 44px;
                border-radius: 27px;
              }

              .social-media-icon-svg:hover {
                border: 2px solid #517fa4;
                background: #fff;
                color: #517fa4;
                fill: #517fa4;
              }
            }

            .row-three {
              color: #ffffff;

              .social-media-icon-svg {
                margin-right: 5px;
                display: inline-block;
                cursor: pointer;
                width: 26px;
                height: 26px;
                border: 2px solid #ddd;
                padding: 6px;
                text-decoration: none;
                text-align: center;
                background: #00aced;
                color: #fff;
                fill: #fff;
                font-size: 22px;
                font-weight: 400;
                line-height: 44px;
                border-radius: 27px;
              }

              .social-media-icon-svg:hover {
                border: 2px solid #00aced;
                background: #fff;
                color: #00aced;
                fill: #00aced;
              }
            }

            .row-four {
              color: #ffffff;

              .social-media-icon-svg {
                margin-right: 5px;
                display: inline-block;
                cursor: pointer;
                width: 26px;
                height: 26px;
                border: 2px solid #ddd;
                padding: 6px;
                text-decoration: none;
                text-align: center;
                background: #db3236;
                color: #fff;
                fill: #fff;
                font-size: 22px;
                font-weight: 400;
                line-height: 44px;
                border-radius: 27px;
              }

              .social-media-icon-svg:hover {
                border: 2px solid #db3236;
                background: #fff;
                color: #db3236;
                fill: #db3236;
              }
            }
          }
        }
      }
    }

    .bottom-strip {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-top: 8px;
      padding-bottom: 8px;

      .colomn-one {
        display: inline-block;
        color: #ffffff;
        font-weight: 300;
        font-size: 14px;
      }

      .colomn-two {
        display: inline-block;
        color: #ffffff;
        font-weight: 300;
        cursor: pointer;
      }

      .colomn-three {
        display: inline-block;
        color: #ffffff;
        font-weight: 300;
        cursor: pointer;
      }

      .colomn-four {
        display: inline-block;
        color: #ffffff;
        font-weight: 300;
        cursor: pointer;
      }

      .colomn-two:hover {
        text-decoration: underline;
      }

      .colomn-three:hover {
        text-decoration: underline;
      }

      .colomn-four:hover {
        text-decoration: underline;
      }
    }
  }
}
