/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  height: 56px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

/* Links inside the navbar */
.navbar a,
.navbar .menu-hamburger-icon {
  text-decoration: none;
}

.navbar .searchbox {
  display: none;
}

.logo {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}

.logo-img {
  height: 50px;
  //height: 40px;
}

.navbar .menu-user-icon,
.navbar .menu-shopping-cart-icon,
.navbar .menu-location-icon,
.navbar .menu-search-icon {
  text-decoration: none;
  outline: none;
  margin: auto;
}

.navbar .menu-shopping-cart-icon {
  position: relative;
}

.badge {
  border-radius: 50%;
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 2px 5px;
  border: 1px solid #ffffff;
  position: absolute;
  right: -2px;
}

.locationText {
  display: none;
}

.menu-hamburger-icon-svg,
.menu-icon-svg {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin: auto;
  fill: #9b9b9b;
  color: #9b9b9b;
  margin-top: 8px;
  margin-left: 8px;
}

.login-placeholder {
  display: flex;
  color: #9b9b9b;
  align-items: center;
}

.login-placeholder:active {
  background: rgb(231, 231, 231);
  border-radius: 50%;
}

.menu-hamburger-icon-active-circle,
.menu-search-icon-active-circle,
.menu-location-icon-active-circle,
.menu-shopping-cart-icon-active-circle,
.menu-user-icon-active-circle {
  outline: none;
  height: 40px;
  width: 40px;
}

.navbar .menu-hamburger-icon-active-circle:active,
.menu-search-icon-active-circle:active,
.menu-location-icon-active-circle:active,
.menu-shopping-cart-icon-active-circle:active,
.menu-user-icon-active-circle:active {
  background: rgb(231, 231, 231);
  border-radius: 50%;
}

.hiddenClass {
  display: none;
}

.searchBox {
  display: none;
}

/* desable selection of text in browser */
.noselect {
  outline: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

.searchbox-input {
  border: 1px solid hsla(0, 0%, 53.3%, 0.2);
  padding-left: 10px;
  outline: none;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  box-shadow: none;
  font-family: "Roboto", "Noto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  direction: ltr;
  unicode-bidi: isolate;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  writing-mode: horizontal-tb !important;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
}

.searchbox-input:focus {
  border-color: #065fd4;
}

.searchbox-search-icon-button-svg {
  width: 24px;
  height: 24px;
  fill: #9b9b9b;
  color: #9b9b9b;
}

.searchbox-search-icon-button {
  padding: 0;
  background-color: rgb(240, 240, 240);
  border: 1px solid hsla(0, 0%, 53.3%, 0.2);
  width: 54px;
  cursor: pointer;
}

.searchbox-search-icon-button:hover {
  border-color: #c6c6c6;
  background-color: #f0f0f0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.searchbox-search-icon-button:hover .searchbox-search-icon-button-svg {
  fill: #333;
  color: #333;
}

.searchbox-search-icon-button:active {
  border-style: inset;
}

.searchbox-search-cross-icon-button {
  width: 24px;
  height: 24px;
  fill: #a50c0c;
  color: #a50c0c;
  outline: none;
  cursor: pointer;
}

.displayMobileSearchBox {
  display: flex;
}

.loginRegistrationMenu {
  padding: 4px;
}

.userMenu {
  padding: 4px;
}

.user-menu {
  display: block;
  cursor: pointer;
  text-decoration: none;
  padding: 4px 12px;
}

.user-menu:hover {
  background-color: rgb(221, 72, 20);
  color: #ffffff;
}

@media screen and (min-width: 520px) {
}

@media screen and (min-width: 720px) {
  .logo {
    margin-left: 4%;
  }

  .searchBox {
    display: flex;
    margin-left: 5%;
  }

  .searchbox-input {
    margin-left: 40px;
  }

  .searchbox-search-cross-icon-button {
    display: none;
  }

  .menu-search-icon {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .searchbox {
    width: 575px;
  }

  .searchbox-search-cross-icon-button {
    display: none;
  }

  .searchbox-input {
    margin-left: 40px;
    width: 400px;
  }

  .searchbox-input:focus {
    border-color: #065fd4;
  }

  .navbar .menu-user-icon,
  .navbar .menu-shopping-cart-icon,
  .navbar .menu-location-icon,
  .navbar .menu-search-icon {
    margin-right: 12px;
    cursor: pointer;
  }

  .location-text-and-icon {
    display: flex;
    align-items: center;
  }

  .emptySpace {
    flex: 1;
  }

  .locationText {
    display: inline-block;
    fill: #9b9b9b;
    color: #9b9b9b;
  }

  .menu-location-icon-active-circle {
    display: inline-block;
  }

  .menu-location-icon:active {
    background: rgb(231, 231, 231);
    border-radius: 50%;
  }
}
