<div class="navbar noselect">
  <div (click)="toggelState()" class="menu-hamburger-icon">
    <div class="menu-hamburger-icon-active-circle">
      <svg
        viewBox="0 0 24 24"
        preserveAspectRatio="xMidYMid meet"
        focusable="false"
        class="menu-hamburger-icon-svg"
      >
        <g class="menu-hamburger-icon-svg">
          <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
        </g>
      </svg>
    </div>
  </div>

  <div class="logo noselect" routerLink="/home">
    <img
      class="logo-img noselect"
      src="/assets/logo/logo-new.png"
      alt="Grossify logo"
    />
  </div>

  <div
    class="searchBox"
    style="display: none;"
    [ngClass]="{
      hiddenClass: !hideOnSearchIconClick,
      displayMobileSearchBox: hideOnSearchIconClick
    }"
  >
    <input
      id="search"
      autocapitalize="none"
      autocomplete="off"
      autocorrect="off"
      name="search_query"
      tabindex="0"
      type="text"
      spellcheck="false"
      placeholder="Search"
      aria-label="Search"
      aria-haspopup="false"
      role="combobox"
      aria-autocomplete="list"
      class="searchbox-input"
      dir="ltr"
    />
    <button
      id="search-icon"
      class="searchbox-search-icon-button"
      aria-label="Search"
      matTooltip="Search"
      aria-label="Search input box"
    >
      <svg
        viewBox="0 0 24 24"
        focusable="false"
        class="searchbox-search-icon-button-svg"
      >
        <g>
          <path
            d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
          ></path>
        </g>
      </svg>
    </button>
    <div>
      <svg
        (click)="clickOnCloseSearch()"
        class="searchbox-search-cross-icon-button"
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="times"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 352 512"
      >
        <path
          fill="currentColor"
          d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"
        ></path>
      </svg>
    </div>
  </div>

  <div class="emptySpace"></div>

  <div
    class="menu-search-icon"
    (click)="clickOnSearchIcon()"
    [ngClass]="{ hiddenClass: hideOnSearchIconClick }"
  >
    <div
      class="menu-search-icon-active-circle"
      matTooltip="search"
      aria-label="Button that displays search options"
    >
      <svg
        class="menu-icon-svg"
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="search"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <path
          fill="currentColor"
          d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
        ></path>
      </svg>
    </div>
  </div>

  <div
    class="menu-location-icon location-text-and-icon"
    matTooltip="Location"
    (click)="openLocationDialog()"
    [ngClass]="{ hiddenClass: hideOnSearchIconClick }"
  >
    <span class="locationText" *ngIf="addressText">
      {{
        addressText.length > 14
          ? (addressText + "..." | slice: 0:14)
          : addressText
      }}
    </span>
    <!-- <div class="menu-location-icon-active-circle" aria-label="Button that displays location options"> -->
    <div class="" aria-label="Button that displays location options">
      <svg
        class="menu-icon-svg"
        [ngClass]="{ 'user-location-saved-icon-color': isUserLocationSaved }"
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="map-marker-alt"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 384 512"
      >
        <path
          fill="currentColor"
          d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"
        ></path>
      </svg>
    </div>
  </div>

  <div
    class="menu-shopping-cart-icon"
    routerLink="/etc/cart"
    [ngClass]="{ hiddenClass: hideOnSearchIconClick }"
  >
    <div
      class="menu-shopping-cart-icon-active-circle"
      matTooltip="Shopping Cart"
      aria-label="Button that displays a Shopping Cart"
    >
      <svg
        class="menu-icon-svg"
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="shopping-cart"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 576 512"
      >
        <path
          fill="currentColor"
          d="M528.12 301.319l47.273-208C578.806 78.301 567.391 64 551.99 64H159.208l-9.166-44.81C147.758 8.021 137.93 0 126.529 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24h69.883l70.248 343.435C147.325 417.1 136 435.222 136 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-15.674-6.447-29.835-16.824-40h209.647C430.447 426.165 424 440.326 424 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-22.172-12.888-41.332-31.579-50.405l5.517-24.276c3.413-15.018-8.002-29.319-23.403-29.319H218.117l-6.545-32h293.145c11.206 0 20.92-7.754 23.403-18.681z"
        ></path>
      </svg>
      <span
        class="badge badge-warning"
        *ngIf="
          cartBadgeItemsInCart != undefined || cartBadgeItemsInCart != null
        "
      >
        {{ cartBadgeItemsInCart < 9 ? cartBadgeItemsInCart : "9+" }}
      </span>
    </div>
  </div>

  <mat-menu #UserMenu="matMenu" yPosition="below" xPosition="before">
    <div class="userMenu" *ngIf="isUserLoggedIn">
      <a class="user-menu" routerLink="/etc/user-profile">
        PROFILE
      </a>
      <br />
      <a class="user-menu" (click)="clickOnLogOut()">
        LOG OUT
      </a>
    </div>
  </mat-menu>

  <div
    class="menu-user-icon"
    [ngClass]="{ hiddenClass: hideOnSearchIconClick }"
  >
    <div
      *ngIf="isUserLoggedIn"
      class="menu-user-icon-active-circle"
      matTooltip="User Menu"
      aria-label="Button that displays a User Menu"
      (click)="clickOnUserIcon()"
      #menuTriger="matMenuTrigger"
      [matMenuTriggerFor]="UserMenu"
    >
      <svg
        class="menu-icon-svg"
        [ngClass]="{ 'user-logged-in-icon-color': isUserLoggedIn }"
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="user-circle"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 496 512"
      >
        <path
          d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z"
        ></path>
      </svg>
    </div>
    <div
      *ngIf="!isUserLoggedIn"
      class="login-placeholder"
      (click)="clickOnLogin()"
    >
      <div class="login-block-icon">
        <svg
          class="menu-icon-svg"
          [ngClass]="{ 'user-logged-in-icon-color': isUserLoggedIn }"
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="user-circle"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 496 512"
        >
          <path
            d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z"
          ></path>
        </svg>
      </div>
      <div class="login-block-text">
        LOGIN
      </div>
    </div>
  </div>
</div>
