<div class="text-center">
  <h1 class="thankYou-heading">Thank You!</h1>
  <p>
      Your order has been successfully placed.
  </p>
  <p>
      Order From: {{storeName}}
      <br>
      OrderNo:    {{OrderNo}}
      <br>
      <!-- OrderID:    {{OrderID}} -->
  </p>
  <p class="lead"><strong>Please check your email for order details.</strong> We will notify you when order status chages.</p>
  <hr>
</div>
