.no-fevorite-store-section {
    text-align: center;
    margin-top: 40px;
}
  
.no-fevorite-store-section-h2 {
    font-size: 2em;
    font-weight: 300;
}
  
  
.wrapper {
    margin-top: 22px;
}
  
.wrapper,
.header,
.content,
.content-grid {
    width: 100%;
}
  
.header {
    height: 60px;
}
  
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(221, 72, 20);
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    margin: auto;
    width: 80px;
    height: 80px;
    margin-top: 15%;
}
  
  
.no-store-section {
    text-align: center;
    margin-top: 40px;
}
  
.store-icon-svg {
    display: inline-block;
    margin: auto;
    width: 100px;
    color: rgb(167, 126, 111);
    fill: rgb(221, 72, 20);
}
  
.no-store-section-h2 {
    font-size: 1em;
    font-weight: 300;
}
  
.refer-a-store-button {
    display: inline-block;
    padding: 10px 16px;
    border: none;
    color: #ffffff;
    background-color: rgb(221, 72, 20);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .007px;
    text-transform: uppercase;
    margin: auto;
    cursor: pointer;
}
  
.refer-a-store-button:hover {
    background-color: rgba(221, 72, 20, .6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
}
  
  
/* Safari */
@-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
    }
}
  
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
}
  
.content {
    width: 100%;
}
  
.content-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
.header-text {
    color: #0d0d0d;
    overflow: hidden;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2rem;
    text-align: center;
}
  
.item {
    width: 210px;
    // height: 205px;
    margin: auto;
    box-shadow: 5px 5px 3px lightgray;
    margin-bottom: 12px;
    border: 1px solid transparent;
}
  
.item:hover {
    border: 1px solid grey;
}
  
a:visited,
a:active,
a:focus {
    outline: 0;
    border: none;
    text-decoration: none;
    outline-style: none;
    -moz-outline-style: none;
}
  
  .item-thumbnail {
    text-decoration: none;
  }
  
  .item-thumbnail,
  .item-thumbnail-img {
    width: 210px;
    height: 118px;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
  }
  
  .details {
    // width: 210px;
    padding-left: 8px;
    padding-right: 8px;
    // height: 84px;
  }
  
  .item-name,
  .item-name-h3 {
    height: 26px;
  }
  
  .item-name-h3 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-size: 0.9em;
    font-weight: normal;
    color: #0d0d0d;
    text-transform: capitalize;
  }
  
  .item-metadata {
    display: flex;
    flex-direction: column;
    color: #606060;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-size: 0.9em;
    font-weight: normal;
  }
  
  .item-metadata-line1 {
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .item-metadata-line2 {
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .item-metadata-line3 {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 8px;
    margin-top: 6px;
  
    .star-rating {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: rgb(221, 72, 20);
      color: #ffffff;
      font-size: inherit;
      font-weight: inherit;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 3px;
      padding-bottom: 3px;
  
      .star-icon-svg {
        width: 14px;
        height: 14px;
        fill: #ffffff;
      }
  
      .star-rating-number {
        font-size: inherit;
        font-weight: inherit;
        padding-left: 3px;
      }
    }
  
    .max-delivery-time {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: inherit;
      font-weight: inherit;
      margin-left: 10px;
  
      .max-delivery-time-number {
        font-size: inherit;
        font-weight: inherit;
      }
  
      .max-delivery-time-text {
        text-transform: uppercase;
        font-size: inherit;
        font-weight: inherit;
        padding-left: 3px;
      }
    }
  
    .min-order-amount {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: inherit;
      font-weight: inherit;
      margin-left: 10px;
  
      .amount-rs {
        font-size: inherit;
        font-weight: inherit;
      }
  
      .amount-rs:before {
        font-size: inherit;
        font-weight: inherit;
        content: '₹';
      }
  
      .min-amount-text {
        font-size: inherit;
        font-weight: inherit;
        text-transform: uppercase;
        padding-left: 3px;
      }
    }
}
  
.item-metadata-category {
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
}
  
.item-link {
    cursor: pointer;
}

  