<div class="loader" *ngIf="storesByCityLoading">
</div>

<div class="no-store-section" *ngIf="storesByCityLoaded && storesByCity?.num_of_stores === 0">
    <div class="store-icon">
      <svg class="store-icon-svg" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="store" role="img"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 616 512">
        <path
          d="M602 118.6L537.1 15C531.3 5.7 521 0 510 0H106C95 0 84.7 5.7 78.9 15L14 118.6c-29.6 47.2-10 110.6 38 130.8v227.4c0 19.4 14.3 35.2 32 35.2h448c17.7 0 32-15.8 32-35.2V249.4c48-20.2 67.6-83.6 38-130.8zm-70 358.2c0 2-.8 3.1-.2 3.2l-446.6.3c-.3-.2-1.2-1.3-1.2-3.5V352h448zM84 320v-64h2.5c29.6 0 55.8-13 73.8-33.1 18 20.1 44.3 33.1 73.8 33.1 29.6 0 55.8-13 73.8-33.1 18 20.1 44.3 33.1 73.8 33.1 29.6 0 55.8-13 73.8-33.1 18.1 20.1 44.3 33.1 73.9 33.1h2.5v64zm494.2-126.5c-7.8 16.6-22.1 27.5-39.3 29.8-3.1.4-6.2.6-9.4.6-19.3 0-37-8-50-22.5L455.7 175l-23.8 26.6c-13 14.5-30.7 22.5-50 22.5s-37-8-50-22.5L308 175l-23.8 26.6c-13 14.5-30.7 22.5-50 22.5s-37-8-50-22.5L160.3 175l-23.8 26.6c-13 14.5-30.7 22.5-50 22.5-3.2 0-6.3-.2-9.4-.6-17.2-2.3-31.5-13.2-39.3-29.8-8.7-18.6-7.5-40.8 3.3-57.9L106 32h404l64.9 103.6c10.8 17.2 12 39.3 3.3 57.9z">
        </path>
      </svg>
    </div>
    <h2 class="no-store-section-h2">
      No Store Available.
    </h2>
    <button class="refer-a-store-button" routerLink="/etc/refer-store">
      Refer A Store
    </button>
</div>

<div class="wrapper noselect" *ngIf="storesByCityLoaded && storesByCity?.num_of_stores > 0">

    <div class="header">
      <h3 class="header-text">
        City Stores
      </h3>
      <button class="see-all-button" routerLink="/etc/city-stores">
        View All
      </button>
    </div>
    <div class="content">
      <div class="content-grid">
        <div class="item" *ngFor="let cityStore of (storesByCity.result | slice:0:10); let i = index">
          <a class="item-link" (click)="clickOnCityStoresItem(cityStore)">
            <div class="item-thumbnail">
              <img class="item-thumbnail-img" [alt]="cityStore.store_name + ' image'"
                [src]="cityStore.store_photo ? cityStore.store_photo : storePlaceholderImage">
            </div>
            <div class="details">
              <div class="item-name" [title]="cityStore.store_name | decodeHTML">
                <h3 class="item-name-h3" [innerHTML]="cityStore.store_name | decodeHTML"></h3>
              </div>
              <div class="item-metadata">
                <div class="item-metadata-line1" [title]="cityStore.store_address | decodeHTML"
                  [innerHTML]="cityStore.store_address | decodeHTML"></div>
                <div class="item-metadata-line2" [title]="cityStore.store_city | decodeHTML"
                  [innerHTML]="cityStore.store_city | decodeHTML"></div>
                <div class="item-metadata-line3">
                  <div class="star-rating">
                    <svg class="star-icon-svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                      role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                      <path
                        d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                      </path>
                    </svg>
                    <div class="star-rating-number">
                      {{cityStore.avg_rating}}
                    </div>
                  </div>
                  <div class="max-delivery-time">
                    <div class="max-delivery-time-number">
                      24
                    </div>
                    <div class="max-delivery-time-text">
                      HOURS
                    </div>
                  </div>
                  <div class="min-order-amount">
                    <div class="amount-rs">
                      {{cityStore.min_amt}}
                    </div>
                    <div class="min-amount-text">
                      MIN
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
</div>
