.container {
  display: block;
  width: 100%;

  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(221, 72, 20);
    // width: 120px;
    // height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: auto;
    width: 80px;
    height: 80px;
    margin-top: 20%;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .no-offer-section {
    text-align: center;

    .top-heading {
      text-align: center;
  
      h2 {
        font-size: 2em;
        font-weight: 300;
      }
    }
  
    .offers-icon {
  
      .offers-icon-svg {
        display: block;
        margin: auto;
        width: 140px;
        color: rgb(221, 72, 20);
        fill: rgb(221, 72, 20);
      }
    }
  
    .no-order-panal {
      text-align: center;
  
      h3 {
        font-size: 1.75em;
        font-weight: 300;
      }
    }
  }

  .content {
    width: 100%;
  }
}
