<div class="container">
  <div class="top-heading">
    <h2>
      Profile
    </h2>
  </div>
  <div class="loader" *ngIf="UserDataLoding">
  </div>
  <div class="inner-panel" *ngIf="UserDataLoaded">
    <div class="profile-pic-container">
      <div (click)="openProfileImageUploadDialog()" title="Upload new Picture" class="profile-border-outer-circle">
        <img class="profilePicImg" [attr.src]="profilePicSrc">
        <div class="edit1">
          <svg class="imageEditIcon1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="pencil-alt"
            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="currentColor"
              d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z">
            </path>
          </svg>
        </div>
      </div>
    </div>
    <div class="profile-name">
      <h3 class="name-header">
        {{ UserData.FirstName + "&nbsp;" + UserData.LastName }}
      </h3>
    </div>
    <h5 class="card-text">
      {{ UserData.UserPhone }}
      <br>
      <br>
      {{ UserData.UserEmail }}
      <br>
    </h5>
    <ul class="unordered-list">
      <li>
        <div class="inner-section-list">

          <svg class="form-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" role="img"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
              d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z">
            </path>
          </svg>

          <div class="inner-section-list-left">
            <div class="row-one">
              <span class="list-label">
                Name:
              </span>
            </div>
            <div class="row-two">
              {{ UserData.FirstName + "&nbsp;" + UserData.LastName }}
            </div>
          </div>
          <!-- <div class="inner-section-list-right">
            <span class="edit-button" (click)="openProfileDataUploadDialog(UserData)" title="Change profile data">
              Edit
            </span>
          </div> -->
        </div>
      </li>

      <li>
        <div class="inner-section-list">

          <svg class="form-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="venus-mars"
            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path
              d="M564 0h-79c-10.7 0-16 12.9-8.5 20.5l16.9 16.9-48.7 48.7C422.5 72.1 396.2 64 368 64c-33.7 0-64.6 11.6-89.2 30.9 14 16.7 25 36 32.1 57.1 14.5-14.8 34.7-24 57.1-24 44.1 0 80 35.9 80 80s-35.9 80-80 80c-22.3 0-42.6-9.2-57.1-24-7.1 21.1-18 40.4-32.1 57.1 24.5 19.4 55.5 30.9 89.2 30.9 79.5 0 144-64.5 144-144 0-28.2-8.1-54.5-22.1-76.7l48.7-48.7 16.9 16.9c2.4 2.4 5.4 3.5 8.4 3.5 6.2 0 12.1-4.8 12.1-12V12c0-6.6-5.4-12-12-12zM144 64C64.5 64 0 128.5 0 208c0 68.5 47.9 125.9 112 140.4V400H76c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h36v36c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12v-36h36c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-36v-51.6c64.1-14.6 112-71.9 112-140.4 0-79.5-64.5-144-144-144zm0 224c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z">
            </path>
          </svg>

          <div class="inner-section-list-left">
            <div class="row-one">
              <span class="list-label">
                Gender:
              </span>
            </div>
            <div class="row-two">
              {{ UserData.Gender }}
            </div>
          </div>
          <!-- <div class="inner-section-list-right">
            <span class="edit-button" (click)="openProfileDataUploadDialog(UserData)" title="Change profile data">
              Edit
            </span>
          </div> -->
        </div>
      </li>

      <li>
        <div class="inner-section-list">

          <svg class="form-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="calendar-alt"
            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
              d="M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm320-196c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zM192 268c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zM64 268c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z">
            </path>
          </svg>

          <div class="inner-section-list-left">
            <div class="row-one">
              <span class="list-label">
                Birth Date:
              </span>
            </div>
            <div class="row-two">
              {{ UserData.DOB }}
            </div>
          </div>
          <!-- <div class="inner-section-list-right">
            <span class="edit-button" (click)="openProfileDataUploadDialog(UserData)" title="Change profile data">
              Edit
            </span>
          </div> -->
        </div>
      </li>

      <li>
        <div class="inner-section-list">

          <svg class="form-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="phone" role="img"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z">
            </path>
          </svg>

          <div class="inner-section-list-left">
            <div class="row-one">
              <span class="list-label">
                Alternate Contact Number:
              </span>
            </div>
            <div class="row-two">
              {{ UserData.Altername_Number }}
            </div>
          </div>
          <!-- <div class="inner-section-list-right">
            <span class="edit-button" (click)="openProfileDataUploadDialog(UserData)" title="Change profile data">
              Edit
            </span>
          </div> -->
        </div>
      </li>

      <li>
        <div class="inner-section-list">

          <svg class="form-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marker-alt"
            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <path
              d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z">
            </path>
          </svg>

          <div class="inner-section-list-left">
            <div class="row-one">
              <span class="list-label">
                City:
              </span>
            </div>
            <div class="row-two">
              {{ UserData.UserCity }}
            </div>
          </div>
          <!-- <div class="inner-section-list-right">
            <span class="edit-button" (click)="openProfileDataUploadDialog(UserData)" title="Change profile data">
              Edit
            </span>
          </div> -->
        </div>
      </li>

      <li>
        <div class="inner-section-list">

          <svg class="form-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="globe" role="img"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
            <path
              d="M336.5 160C322 70.7 287.8 8 248 8s-74 62.7-88.5 152h177zM152 256c0 22.2 1.2 43.5 3.3 64h185.3c2.1-20.5 3.3-41.8 3.3-64s-1.2-43.5-3.3-64H155.3c-2.1 20.5-3.3 41.8-3.3 64zm324.7-96c-28.6-67.9-86.5-120.4-158-141.6 24.4 33.8 41.2 84.7 50 141.6h108zM177.2 18.4C105.8 39.6 47.8 92.1 19.3 160h108c8.7-56.9 25.5-107.8 49.9-141.6zM487.4 192H372.7c2.1 21 3.3 42.5 3.3 64s-1.2 43-3.3 64h114.6c5.5-20.5 8.6-41.8 8.6-64s-3.1-43.5-8.5-64zM120 256c0-21.5 1.2-43 3.3-64H8.6C3.2 212.5 0 233.8 0 256s3.2 43.5 8.6 64h114.6c-2-21-3.2-42.5-3.2-64zm39.5 96c14.5 89.3 48.7 152 88.5 152s74-62.7 88.5-152h-177zm159.3 141.6c71.4-21.2 129.4-73.7 158-141.6h-108c-8.8 56.9-25.6 107.8-50 141.6zM19.3 352c28.6 67.9 86.5 120.4 158 141.6-24.4-33.8-41.2-84.7-50-141.6h-108z">
            </path>
          </svg>

          <div class="inner-section-list-left">
            <div class="row-one">
              <span class="list-label">
                State:
              </span>
            </div>
            <div class="row-two">
              {{ UserData.UserState }}
            </div>
          </div>
          <!-- <div class="inner-section-list-right">
            <span class="edit-button" (click)="openProfileDataUploadDialog(UserData)" title="Change profile data">
              Edit
            </span>
          </div> -->
        </div>
      </li>

      <li>
        <div class="inner-section-list">

          <svg class="form-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="flag-alt" role="img"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              d="M32 0C14.3 0 0 14.3 0 32v464c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V32C64 14.3 49.7 0 32 0zm430.6 4.2C291.3 91.5 305.4-62.2 96 32.4V384c185.7-92.2 221.7 53.3 397.5-23.1 11.4-5 18.5-16.5 18.5-28.8V30.8c0-25.1-26.8-38.1-49.4-26.6z">
            </path>
          </svg>

          <div class="inner-section-list-left">
            <div class="row-one">
              <span class="list-label">
                Country:
              </span>
            </div>
            <div class="row-two">
              {{ UserData.UserCountry }}
            </div>
          </div>
          <!-- <div class="inner-section-list-right">
            <span class="edit-button" (click)="openProfileDataUploadDialog(UserData)" title="Change profile data">
              Edit
            </span>
          </div> -->
        </div>
      </li>

      <li>
        <div class="inner-section-list">

          <svg class="form-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="address-card"
            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path
              d="M528 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-352 96c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zm112 236.8c0 10.6-10 19.2-22.4 19.2H86.4C74 384 64 375.4 64 364.8v-19.2c0-31.8 30.1-57.6 67.2-57.6h5c12.3 5.1 25.7 8 39.8 8s27.6-2.9 39.8-8h5c37.1 0 67.2 25.8 67.2 57.6v19.2zM512 312c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-64c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-64c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16z">
            </path>
          </svg>

          <div class="inner-section-list-left">
            <div class="row-one">
              <span class="list-label">
                Pin Code / Zip Code:
              </span>
            </div>
            <div class="row-two">
              {{ UserData.UserZip }}
            </div>
          </div>
          <!-- <div class="inner-section-list-right">
            <span class="edit-button" (click)="openProfileDataUploadDialog(UserData)" title="Change profile data">
              Edit
            </span>
          </div> -->
        </div>
      </li>

    </ul>

    <div class="edit-button-section">
      <span class="edit-button" (click)="openProfileDataUploadDialog(UserData)" title="Change profile data">
        Edit
      </span>
    </div>

  </div>
</div>
