.container {
  display: block;
  width: 100%;

  .top-heading {
    text-align: center;

    h2 {
      font-size: 2em;
      font-weight: 300;
    }
  }

  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(221, 72, 20);
    // width: 120px;
    // height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    margin: auto;
    width: 80px;
    height: 80px;
    margin-top: 15%;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .inner-panel {
    display: block;

    .profile-border-outer-circle {
      position: relative;
      display: inline-block;
      cursor: pointer;
      left: 50%;
      transform: translateX(-50%);

      .edit1 {
        padding-top: 7px;
        padding-right: 7px;
        position: absolute;
        right: 0;
        top: 0;
        display: none;

        .imageEditIcon1 {
          fill: red;
          width: 1em;
        }
      }

      .profilePicImg {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 200px;
        height: 200px;
        margin: auto;
      }

      .profilePicImg:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
      }

      .profilePicImg:hover+.edit1 {
        display: block;
      }
    }


    .profile-name {
      display: block;
      text-align: center;

      .name-header {
        font-size: 1.75em;
        font-weight: 300;
      }
    }

    .card-text {
      display: block;
      text-align: center;
      font-size: .8em;
      font-weight: 300;
    }

    .unordered-list {
      display: block;
      width: 90%;
      margin: auto;
      color: #111;
      border-radius: 4px;
      border: 1px #ddd solid;
      background-color: #fff;
      margin-bottom: 40px;

      li {
        width: 100%;
        list-style: none;
        border-bottom: 1px solid #e7e7e7;

        .inner-section-list {
          padding: 14px 18px;
          width: 90%;
          display: flex;
          flex-direction: row;

          .form-icon {
            width: 1em;
            margin-right: 10px;
            color: gray;
            fill: gray;
          }

          .inner-section-list-left {
            float: left;

            .row-one {
              width: 100%;

              .list-label {
                color: #111;
                font-size: 1em;
                font-weight: 500;
              }
            }

            .row-two {
              width: 100%;
              font-size: 1em;
              font-weight: 300;
            }
          }

          .inner-section-list-right {
            width: 70px;
            float: right;

            .edit-button {
              padding: 10px 16px;
              border: none;
              color: #ffffff;
              background-color: rgb(221, 72, 20);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              vertical-align: middle;
              white-space: nowrap;
              font-size: 1rem;
              font-weight: 500;
              letter-spacing: .007px;
              text-transform: uppercase;
              margin-right: 22px;
              cursor: pointer;
            }

            .edit-button:hover {
              background-color: rgba(221, 72, 20, .6);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
            }
          }
        }
      }
    }

    .edit-button-section {
      margin-bottom: 4em;

      .edit-button {
        display: block;
        margin: auto;
        width: 2.5em;
        padding: 10px 16px;
        border: none;
        color: #ffffff;
        background-color: rgb(221, 72, 20);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        white-space: nowrap;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: .007px;
        text-transform: uppercase;
        cursor: pointer;
      }

      .edit-button:hover {
        background-color: rgba(221, 72, 20, .6);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
      }
    }
  }
}
