<div class="container">

    <div class="top-heading">
      <h2>
        Order Detail
      </h2>
    </div>
  
    <div class="orderItem" *ngIf="allOrder">
      <div class="orderItem-Header-box">
        <div class="orderItem-Header-box-inner">
          <div class="inner-left-box">
            <div class="column-one">
              <div class="row-one">
                ORDER DATE
              </div>
              <div class="row-two">
                {{allOrder.OrderDate | date: 'dd LLLL yyyy'}}
              </div>
            </div>
            <div class="column-two">
              <div class="row-one">
                TOTAL
              </div>
              <div class="row-two">
                {{allOrder.OrderPrice | number : '1.2-2'}}
              </div>
            </div>
            <div class="column-three">
              <div class="row-one">
                SHIP TO
              </div>
              <div class="row-two">
                {{allOrder.CustomerName}}
              </div>
            </div>
          </div>
          <div class="inner-right-box">
            <div class="row-one">
              Order No.
            </div>
            <div class="row-two">
              {{allOrder.OrderNo}}
              <!-- Order Id {{allOrder.OrderID}} -->
            </div>
          </div>
        </div>
      </div>
      <div class="orderItem-contant-box">
        <div class="orderItem-contant-box-inner">
          <div class="contant-box-left">
            <div class="addressContainer">
              <div class="title">
                Order Status:
                <span class="title-status">
                  {{orderStatus[allOrder.status].status}}
                </span>
              </div>
  
              <p>
                <span class="sub-title">
                  Delivery Address
                </span>
                <br>
                <span>
                  {{allOrder.OrderShipAddress}},
                </span>
                <span>
                  {{allOrder.OrderCity}},
                </span>
                <span>
                  {{allOrder.OrderState}},
                </span>
                <span>
                  {{allOrder.OrderCountry}},
                </span>
                <span>
                  Pin-
                  {{allOrder.OrderPin}}
                </span>
                <br>
                <span>
                  {{allOrder.OrderPhone}}
                </span>
                <br>
                <span>
                  {{allOrder.OrderEmail}}
                </span>
              </p>
  
              <!-- <button class="OrderDetailsButton" (click)="clickOnOrderDetailsButton(allOrder)">
                Order Details
              </button> -->
            </div>
          </div>
          <div class="contant-box-right">
            <button class="OrderDetailsButton" (click)="clickOnTrackOrderButton(allOrder)">
              Track Order
            </button>
            <button class="OrderDetailsButton" (click)="clickOnCancelOrderButton(allOrder)">
              Cancel Order
            </button>
            <button class="OrderDetailsButton" (click)="clickOnContactToSellerButton(allOrder)">
              Contact To Seller
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="order-list-Item">
        <div class="orderItem-Header-box">
            <div class="orderItem-Header-box-inner">
              <div class="inner-box">
                <div class="column-one">
                  <div class="row-one">
                    PRODUCT
                  </div>
                </div>
                <div class="column-two">
                  <div class="row-one">
                    PRICE
                  </div>
                </div>
                <div class="column-three">
                  <div class="row-one">
                    QUANTITY
                  </div>
                </div>
                <div class="inner-right-box">
                  <div class="row-one">
                      TOTAL PRICE
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="orderItem-contant-box">
            <div class="orderItem-contant-box-inner">
                <div class="inner-box" *ngFor="let order of orderDetail">
                    <div class="column-one">
                      <div class="row-one">
                        {{order.ProductName}}
                      </div>
                    </div>
                    <div class="column-two">
                      <div class="row-one">
                        {{order.ProductPrice | number : '1.2-2'}}
                      </div>
                    </div>
                    <div class="column-three">
                      <div class="row-one">
                        {{order.ProductQuantity}}
                      </div>
                    </div>
 
                    <div class="inner-right-box">
                    <div class="row-one">
                        {{order.TotalPrice | number : '1.2-2'}}
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
