.container {
  display: block;
  width: 100%;

  .top-heading {
    text-align: center;

    h2 {
      font-size: 2em;
      font-weight: 300;
    }
  }

  .order-status {
    .order-status-0 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .orderHeading {
        font-size: 2.5em;
        font-weight: 300;
        background-color: rgba(221, 72, 20, .4);
        border-radius: 12px;
        border: 1px solid rgba(221, 72, 20, .6);
        text-align: center;
        padding: 8px;

        .date-value {
          color: #494;
        }
      }
      .down-arrow {
        .down-arrow-icon {
          width: 3em;
          color: rgba(221, 72, 20, .4);
          fill: rgba(221, 72, 20, .4);
        }
      }
      .expected-delevery{
        .orderHeading {
          font-size: 2.5em;
          font-weight: 300;
          background-color: rgba(221, 72, 20, .4);
          border-radius: 12px;
          border: 1px solid rgba(221, 72, 20, .6);
          text-align: center;
  
          .date-value {
            color: #494;
          }
        }
      }
    }
    .order-status-1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .orderHeading {
        font-size: 2.5em;
        font-weight: 300;
        background-color: rgba(221, 72, 20, .4);
        border-radius: 12px;
        border: 1px solid rgba(221, 72, 20, .6);
        text-align: center;
        padding: 8px;

        .date-value {
          color: #494;
        }
      }
      .down-arrow {
        .down-arrow-icon {
          width: 3em;
          color: rgba(221, 72, 20, .4);
          fill: rgba(221, 72, 20, .4);
        }
      }
      .expected-delevery{
        .orderHeading {
          font-size: 2.5em;
          font-weight: 300;
          background-color: rgba(221, 72, 20, .4);
          border-radius: 12px;
          border: 1px solid rgba(221, 72, 20, .6);
          text-align: center;
  
          .date-value {
            color: #494;
          }
        }
      }
    }
    .order-status-2 {}
    .order-status-3 {}
    .order-status-4 {}
    .order-status-5 {}
    .order-status-6 {}
    .order-status-7 {}
    .order-status-8 {}
    .order-status-9 {}
    .order-status-10 {}
    .order-status-11 {}
    .order-status-12 {}
    .order-status-13 {}
    .order-status-14 {}
  }
}