<div class="container">
    <div class="top-heading">
        <h2>
          Track Order
        </h2>
    </div>
    <div class="order-status" *ngIf="allOrder">
      <div class="order-status-0" *ngIf="allOrder.status == 0 || allOrder.status == undefined || allOrder.status == null">
        <div class="orderHeading">
          Order Placed
          <div class="date-value">
            {{allOrder.OrderDate | date: 'dd LLLL yyyy'}}
          </div>
        </div>
        <div class="down-arrow">
          <svg class="down-arrow-icon" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="arrow-alt-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M267.427 64C278.789 64 288 73.211 288 84.572v171.437h116.979c7.125 0 10.695 8.612 5.66 13.653L238.556 441.965c-8.036 8.046-21.076 8.047-29.112 0L37.36 269.662c-5.035-5.041-1.464-13.653 5.66-13.653H160V84.572C160 73.211 169.211 64 180.573 64h86.854m0-32h-86.855C151.584 32 128 55.584 128 84.572v139.437H43.021c-35.507 0-53.497 43.04-28.302 68.266l172.083 172.303c20.55 20.576 53.842 20.58 74.396 0l172.083-172.303c25.091-25.122 7.351-68.266-28.302-68.266H320V84.572C320 55.584 296.416 32 267.427 32z"></path></svg>
        </div>
        <div class="expected-delevery">
          <div class="orderHeading">
            Expected Delevery
            <div class="date-value">
              {{deleveryDate | date: 'dd LLLL yyyy'}}
            </div>
          </div>
        </div>
      </div>
      <div class="order-status-1" *ngIf="allOrder.status == 1">
        <div class="orderHeading">
          Order Placed
          <div class="date-value">
            {{allOrder.OrderDate | date: 'dd LLLL yyyy'}}
          </div>
        </div>
        <div class="down-arrow">
          <svg class="down-arrow-icon" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="arrow-alt-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M267.427 64C278.789 64 288 73.211 288 84.572v171.437h116.979c7.125 0 10.695 8.612 5.66 13.653L238.556 441.965c-8.036 8.046-21.076 8.047-29.112 0L37.36 269.662c-5.035-5.041-1.464-13.653 5.66-13.653H160V84.572C160 73.211 169.211 64 180.573 64h86.854m0-32h-86.855C151.584 32 128 55.584 128 84.572v139.437H43.021c-35.507 0-53.497 43.04-28.302 68.266l172.083 172.303c20.55 20.576 53.842 20.58 74.396 0l172.083-172.303c25.091-25.122 7.351-68.266-28.302-68.266H320V84.572C320 55.584 296.416 32 267.427 32z"></path></svg>
        </div>
        <div class="expected-delevery">
          <div class="orderHeading">
            Order {{orderStatus[1].status}}
            <div class="date-value">
              <!-- {{deleveryDate | date: 'dd LLLL yyyy'}} -->
            </div>
          </div>
        </div>
      </div>
      <div class="order-status-2" *ngIf="allOrder.status == 2">
        <div class="orderHeading">
          Order Placed
          <div class="date-value">
            {{allOrder.OrderDate | date: 'dd LLLL yyyy'}}
          </div>
        </div>
        <div class="down-arrow">
          <svg class="down-arrow-icon" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="arrow-alt-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M267.427 64C278.789 64 288 73.211 288 84.572v171.437h116.979c7.125 0 10.695 8.612 5.66 13.653L238.556 441.965c-8.036 8.046-21.076 8.047-29.112 0L37.36 269.662c-5.035-5.041-1.464-13.653 5.66-13.653H160V84.572C160 73.211 169.211 64 180.573 64h86.854m0-32h-86.855C151.584 32 128 55.584 128 84.572v139.437H43.021c-35.507 0-53.497 43.04-28.302 68.266l172.083 172.303c20.55 20.576 53.842 20.58 74.396 0l172.083-172.303c25.091-25.122 7.351-68.266-28.302-68.266H320V84.572C320 55.584 296.416 32 267.427 32z"></path></svg>
        </div>
        <div class="expected-delevery">
          <div class="orderHeading">
            Order  {{orderStatus[2].status}}
            <div class="date-value">
              <!-- {{deleveryDate | date: 'dd LLLL yyyy'}} -->
            </div>
          </div>
        </div>
      </div>
      <div class="order-status-3" *ngIf="allOrder.status == 3">
        <div class="orderHeading">
          Order Placed
          <div class="date-value">
            {{allOrder.OrderDate | date: 'dd LLLL yyyy'}}
          </div>
        </div>
        <div class="down-arrow">
          <svg class="down-arrow-icon" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="arrow-alt-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M267.427 64C278.789 64 288 73.211 288 84.572v171.437h116.979c7.125 0 10.695 8.612 5.66 13.653L238.556 441.965c-8.036 8.046-21.076 8.047-29.112 0L37.36 269.662c-5.035-5.041-1.464-13.653 5.66-13.653H160V84.572C160 73.211 169.211 64 180.573 64h86.854m0-32h-86.855C151.584 32 128 55.584 128 84.572v139.437H43.021c-35.507 0-53.497 43.04-28.302 68.266l172.083 172.303c20.55 20.576 53.842 20.58 74.396 0l172.083-172.303c25.091-25.122 7.351-68.266-28.302-68.266H320V84.572C320 55.584 296.416 32 267.427 32z"></path></svg>
        </div>
        <div class="expected-delevery">
          <div class="orderHeading">
            Order  {{orderStatus[3].status}}
            <div class="date-value">
              <!-- {{deleveryDate | date: 'dd LLLL yyyy'}} -->
            </div>
          </div>
        </div>
      </div>
      <div class="order-status-4" *ngIf="allOrder.status == 4">
        <div class="orderHeading">
          Order Placed
          <div class="date-value">
            {{allOrder.OrderDate | date: 'dd LLLL yyyy'}}
          </div>
        </div>
        <div class="down-arrow">
          <svg class="down-arrow-icon" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="arrow-alt-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M267.427 64C278.789 64 288 73.211 288 84.572v171.437h116.979c7.125 0 10.695 8.612 5.66 13.653L238.556 441.965c-8.036 8.046-21.076 8.047-29.112 0L37.36 269.662c-5.035-5.041-1.464-13.653 5.66-13.653H160V84.572C160 73.211 169.211 64 180.573 64h86.854m0-32h-86.855C151.584 32 128 55.584 128 84.572v139.437H43.021c-35.507 0-53.497 43.04-28.302 68.266l172.083 172.303c20.55 20.576 53.842 20.58 74.396 0l172.083-172.303c25.091-25.122 7.351-68.266-28.302-68.266H320V84.572C320 55.584 296.416 32 267.427 32z"></path></svg>
        </div>
        <div class="expected-delevery">
          <div class="orderHeading">
            Order  {{orderStatus[4].status}}
            <div class="date-value">
              <!-- {{deleveryDate | date: 'dd LLLL yyyy'}} -->
            </div>
          </div>
        </div>
      </div>
      <div class="order-status-5" *ngIf="allOrder.status == 5">
        <div class="orderHeading">
          Order Placed
          <div class="date-value">
            {{allOrder.OrderDate | date: 'dd LLLL yyyy'}}
          </div>
        </div>
        <div class="down-arrow">
          <svg class="down-arrow-icon" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="arrow-alt-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M267.427 64C278.789 64 288 73.211 288 84.572v171.437h116.979c7.125 0 10.695 8.612 5.66 13.653L238.556 441.965c-8.036 8.046-21.076 8.047-29.112 0L37.36 269.662c-5.035-5.041-1.464-13.653 5.66-13.653H160V84.572C160 73.211 169.211 64 180.573 64h86.854m0-32h-86.855C151.584 32 128 55.584 128 84.572v139.437H43.021c-35.507 0-53.497 43.04-28.302 68.266l172.083 172.303c20.55 20.576 53.842 20.58 74.396 0l172.083-172.303c25.091-25.122 7.351-68.266-28.302-68.266H320V84.572C320 55.584 296.416 32 267.427 32z"></path></svg>
        </div>
        <div class="expected-delevery">
          <div class="orderHeading">
            Order  {{orderStatus[5].status}}
            <div class="date-value">
              <!-- {{deleveryDate | date: 'dd LLLL yyyy'}} -->
            </div>
          </div>
        </div>
      </div>
      <div class="order-status-6" *ngIf="allOrder.status == 6">
        <div class="orderHeading">
          Order Placed
          <div class="date-value">
            {{allOrder.OrderDate | date: 'dd LLLL yyyy'}}
          </div>
        </div>
        <div class="down-arrow">
          <svg class="down-arrow-icon" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="arrow-alt-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M267.427 64C278.789 64 288 73.211 288 84.572v171.437h116.979c7.125 0 10.695 8.612 5.66 13.653L238.556 441.965c-8.036 8.046-21.076 8.047-29.112 0L37.36 269.662c-5.035-5.041-1.464-13.653 5.66-13.653H160V84.572C160 73.211 169.211 64 180.573 64h86.854m0-32h-86.855C151.584 32 128 55.584 128 84.572v139.437H43.021c-35.507 0-53.497 43.04-28.302 68.266l172.083 172.303c20.55 20.576 53.842 20.58 74.396 0l172.083-172.303c25.091-25.122 7.351-68.266-28.302-68.266H320V84.572C320 55.584 296.416 32 267.427 32z"></path></svg>
        </div>
        <div class="expected-delevery">
          <div class="orderHeading">
            Order  {{orderStatus[6].status}}
            <div class="date-value">
              <!-- {{deleveryDate | date: 'dd LLLL yyyy'}} -->
            </div>
          </div>
        </div>
      </div>
      <div class="order-status-7" *ngIf="allOrder.status == 7">
        <div class="orderHeading">
          Order Placed
          <div class="date-value">
            {{allOrder.OrderDate | date: 'dd LLLL yyyy'}}
          </div>
        </div>
        <div class="down-arrow">
          <svg class="down-arrow-icon" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="arrow-alt-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M267.427 64C278.789 64 288 73.211 288 84.572v171.437h116.979c7.125 0 10.695 8.612 5.66 13.653L238.556 441.965c-8.036 8.046-21.076 8.047-29.112 0L37.36 269.662c-5.035-5.041-1.464-13.653 5.66-13.653H160V84.572C160 73.211 169.211 64 180.573 64h86.854m0-32h-86.855C151.584 32 128 55.584 128 84.572v139.437H43.021c-35.507 0-53.497 43.04-28.302 68.266l172.083 172.303c20.55 20.576 53.842 20.58 74.396 0l172.083-172.303c25.091-25.122 7.351-68.266-28.302-68.266H320V84.572C320 55.584 296.416 32 267.427 32z"></path></svg>
        </div>
        <div class="expected-delevery">
          <div class="orderHeading">
            Order  {{orderStatus[7].status}}
            <div class="date-value">
              <!-- {{deleveryDate | date: 'dd LLLL yyyy'}} -->
            </div>
          </div>
        </div>
      </div>
      <div class="order-status-8" *ngIf="allOrder.status == 8">
        <div class="orderHeading">
          Order Placed
          <div class="date-value">
            {{allOrder.OrderDate | date: 'dd LLLL yyyy'}}
          </div>
        </div>
        <div class="down-arrow">
          <svg class="down-arrow-icon" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="arrow-alt-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M267.427 64C278.789 64 288 73.211 288 84.572v171.437h116.979c7.125 0 10.695 8.612 5.66 13.653L238.556 441.965c-8.036 8.046-21.076 8.047-29.112 0L37.36 269.662c-5.035-5.041-1.464-13.653 5.66-13.653H160V84.572C160 73.211 169.211 64 180.573 64h86.854m0-32h-86.855C151.584 32 128 55.584 128 84.572v139.437H43.021c-35.507 0-53.497 43.04-28.302 68.266l172.083 172.303c20.55 20.576 53.842 20.58 74.396 0l172.083-172.303c25.091-25.122 7.351-68.266-28.302-68.266H320V84.572C320 55.584 296.416 32 267.427 32z"></path></svg>
        </div>
        <div class="expected-delevery">
          <div class="orderHeading">
            Order  {{orderStatus[8].status}}
            <div class="date-value">
              <!-- {{deleveryDate | date: 'dd LLLL yyyy'}} -->
            </div>
          </div>
        </div>
      </div>
      <div class="order-status-9" *ngIf="allOrder.status == 9">
        <div class="orderHeading">
          Order Placed
          <div class="date-value">
            {{allOrder.OrderDate | date: 'dd LLLL yyyy'}}
          </div>
        </div>
        <div class="down-arrow">
          <svg class="down-arrow-icon" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="arrow-alt-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M267.427 64C278.789 64 288 73.211 288 84.572v171.437h116.979c7.125 0 10.695 8.612 5.66 13.653L238.556 441.965c-8.036 8.046-21.076 8.047-29.112 0L37.36 269.662c-5.035-5.041-1.464-13.653 5.66-13.653H160V84.572C160 73.211 169.211 64 180.573 64h86.854m0-32h-86.855C151.584 32 128 55.584 128 84.572v139.437H43.021c-35.507 0-53.497 43.04-28.302 68.266l172.083 172.303c20.55 20.576 53.842 20.58 74.396 0l172.083-172.303c25.091-25.122 7.351-68.266-28.302-68.266H320V84.572C320 55.584 296.416 32 267.427 32z"></path></svg>
        </div>
        <div class="expected-delevery">
          <div class="orderHeading">
            Order  {{orderStatus[9].status}}
            <div class="date-value">
              <!-- {{deleveryDate | date: 'dd LLLL yyyy'}} -->
            </div>
          </div>
        </div>
      </div>
      <div class="order-status-10" *ngIf="allOrder.status == 10">
        <div class="orderHeading">
          Order Placed
          <div class="date-value">
            {{allOrder.OrderDate | date: 'dd LLLL yyyy'}}
          </div>
        </div>
        <div class="down-arrow">
          <svg class="down-arrow-icon" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="arrow-alt-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M267.427 64C278.789 64 288 73.211 288 84.572v171.437h116.979c7.125 0 10.695 8.612 5.66 13.653L238.556 441.965c-8.036 8.046-21.076 8.047-29.112 0L37.36 269.662c-5.035-5.041-1.464-13.653 5.66-13.653H160V84.572C160 73.211 169.211 64 180.573 64h86.854m0-32h-86.855C151.584 32 128 55.584 128 84.572v139.437H43.021c-35.507 0-53.497 43.04-28.302 68.266l172.083 172.303c20.55 20.576 53.842 20.58 74.396 0l172.083-172.303c25.091-25.122 7.351-68.266-28.302-68.266H320V84.572C320 55.584 296.416 32 267.427 32z"></path></svg>
        </div>
        <div class="expected-delevery">
          <div class="orderHeading">
            Order  {{orderStatus[10].status}}
            <div class="date-value">
              <!-- {{deleveryDate | date: 'dd LLLL yyyy'}} -->
            </div>
          </div>
        </div>
      </div>
      <div class="order-status-11" *ngIf="allOrder.status == 11">
        <div class="orderHeading">
          Order Placed
          <div class="date-value">
            {{allOrder.OrderDate | date: 'dd LLLL yyyy'}}
          </div>
        </div>
        <div class="down-arrow">
          <svg class="down-arrow-icon" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="arrow-alt-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M267.427 64C278.789 64 288 73.211 288 84.572v171.437h116.979c7.125 0 10.695 8.612 5.66 13.653L238.556 441.965c-8.036 8.046-21.076 8.047-29.112 0L37.36 269.662c-5.035-5.041-1.464-13.653 5.66-13.653H160V84.572C160 73.211 169.211 64 180.573 64h86.854m0-32h-86.855C151.584 32 128 55.584 128 84.572v139.437H43.021c-35.507 0-53.497 43.04-28.302 68.266l172.083 172.303c20.55 20.576 53.842 20.58 74.396 0l172.083-172.303c25.091-25.122 7.351-68.266-28.302-68.266H320V84.572C320 55.584 296.416 32 267.427 32z"></path></svg>
        </div>
        <div class="expected-delevery">
          <div class="orderHeading">
            Order  {{orderStatus[11].status}}
            <div class="date-value">
              <!-- {{deleveryDate | date: 'dd LLLL yyyy'}} -->
            </div>
          </div>
        </div>
      </div>
      <div class="order-status-12" *ngIf="allOrder.status == 12">
        <div class="orderHeading">
          Order Placed
          <div class="date-value">
            {{allOrder.OrderDate | date: 'dd LLLL yyyy'}}
          </div>
        </div>
        <div class="down-arrow">
          <svg class="down-arrow-icon" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="arrow-alt-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M267.427 64C278.789 64 288 73.211 288 84.572v171.437h116.979c7.125 0 10.695 8.612 5.66 13.653L238.556 441.965c-8.036 8.046-21.076 8.047-29.112 0L37.36 269.662c-5.035-5.041-1.464-13.653 5.66-13.653H160V84.572C160 73.211 169.211 64 180.573 64h86.854m0-32h-86.855C151.584 32 128 55.584 128 84.572v139.437H43.021c-35.507 0-53.497 43.04-28.302 68.266l172.083 172.303c20.55 20.576 53.842 20.58 74.396 0l172.083-172.303c25.091-25.122 7.351-68.266-28.302-68.266H320V84.572C320 55.584 296.416 32 267.427 32z"></path></svg>
        </div>
        <div class="expected-delevery">
          <div class="orderHeading">
            Order  {{orderStatus[12].status}}
            <div class="date-value">
              <!-- {{deleveryDate | date: 'dd LLLL yyyy'}} -->
            </div>
          </div>
        </div>
      </div>
      <div class="order-status-13" *ngIf="allOrder.status == 13">
        <div class="orderHeading">
          Order Placed
          <div class="date-value">
            {{allOrder.OrderDate | date: 'dd LLLL yyyy'}}
          </div>
        </div>
        <div class="down-arrow">
          <svg class="down-arrow-icon" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="arrow-alt-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M267.427 64C278.789 64 288 73.211 288 84.572v171.437h116.979c7.125 0 10.695 8.612 5.66 13.653L238.556 441.965c-8.036 8.046-21.076 8.047-29.112 0L37.36 269.662c-5.035-5.041-1.464-13.653 5.66-13.653H160V84.572C160 73.211 169.211 64 180.573 64h86.854m0-32h-86.855C151.584 32 128 55.584 128 84.572v139.437H43.021c-35.507 0-53.497 43.04-28.302 68.266l172.083 172.303c20.55 20.576 53.842 20.58 74.396 0l172.083-172.303c25.091-25.122 7.351-68.266-28.302-68.266H320V84.572C320 55.584 296.416 32 267.427 32z"></path></svg>
        </div>
        <div class="expected-delevery">
          <div class="orderHeading">
            Order  {{orderStatus[13].status}}
            <div class="date-value">
              <!-- {{deleveryDate | date: 'dd LLLL yyyy'}} -->
            </div>
          </div>
        </div>
      </div>
      <div class="order-status-14" *ngIf="allOrder.status == 14">
        <div class="orderHeading">
          Order Placed
          <div class="date-value">
            {{allOrder.OrderDate | date: 'dd LLLL yyyy'}}
          </div>
        </div>
        <div class="down-arrow">
          <svg class="down-arrow-icon" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="arrow-alt-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M267.427 64C278.789 64 288 73.211 288 84.572v171.437h116.979c7.125 0 10.695 8.612 5.66 13.653L238.556 441.965c-8.036 8.046-21.076 8.047-29.112 0L37.36 269.662c-5.035-5.041-1.464-13.653 5.66-13.653H160V84.572C160 73.211 169.211 64 180.573 64h86.854m0-32h-86.855C151.584 32 128 55.584 128 84.572v139.437H43.021c-35.507 0-53.497 43.04-28.302 68.266l172.083 172.303c20.55 20.576 53.842 20.58 74.396 0l172.083-172.303c25.091-25.122 7.351-68.266-28.302-68.266H320V84.572C320 55.584 296.416 32 267.427 32z"></path></svg>
        </div>
        <div class="expected-delevery">
          <div class="orderHeading">
            Order  {{orderStatus[14].status}}
            <div class="date-value">
              <!-- {{deleveryDate | date: 'dd LLLL yyyy'}} -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="title">
        Order Status:
        <span class="title-status">
          {{orderStatus[allOrder.status].status}}
        </span>
    </div> -->
</div>
