input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  // -moz-appearance: textfield;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}


.wrapper {
  padding-top: 24px;
  padding-bottom: 24px;
}

.registration-container {
  max-width: 460px;
  margin: auto;

  .top-logo {
    display: block;
    width: 250px;
    height: 75px;
    margin: auto;
    text-align: center;

    .top-logo-image {
      float: left;
      height: 75px;
      width: 100px;
    }

    .logoname {
      color: #e95420;
      font-size: 40px;
      font-weight: 500;
    }

    .logoname-subtext {
      color: #e95420;
      font-weight: 300;
    }
  }

  .create-account-text {
    color: #000000;
    margin-top: 8%;
    margin-bottom: 6%;
    font-size: 1.5em;
    font-weight: 400;
    margin-left: 12px;
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

// .top-logo {
//   display: block;
//   width: 250px;
//   height: 75px;
//   margin: auto;
// }

.top-logo-image {
  float: left;
  height: 75px;
  width: 100px;
}

.logoname {
  color: #e95420;
  font-size: 40px;
}

.form-area .registration-input-icon {
  position: absolute;
}

.form-area {
  margin-bottom: 10px;
}

.registration-input-icon {
  padding: 18px;
  margin-top: -5px;
  width: 16px;
  height: 16px;
  fill: rgb(36, 34, 33);
  color: rgb(36, 34, 33);
}

.registration-input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 10px;
  border-radius: 12px;
  background-color: #ffffff;
  outline: none;
  caret-color: rgb(221, 72, 20);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.submit-button {
  display: block;
  padding: 10px 16px;
  border-radius: 10px;
  color: #ffffff;
  background-color: rgb(221, 72, 20);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: .007px;
  text-transform: uppercase;
  cursor: pointer;
  margin: auto;
  outline: none;
}

.submit-button:hover,
.submitButton-disabled  {
  background-color: rgba(221, 72, 20, .6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
}

.agree-text {
  color: rgb(221, 72, 20);
  margin-left: 12px;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .terms-of-service {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
  }

  .privacy-policy {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
  }
}

.side-by-side-left,
.side-by-side-right {
  width: 44%;
  display: inline-block;
}

.side-by-side-right {
  float: right;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.checkbox-div {
  float: left;
  width: 10%;
}

.text-area-after-checkbox {
  color: rgba(221, 72, 20);
  float: left;
  width: 80%;
}

/* desable selection of text in browser */
.noselect {
  pointer-events: none;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 575px) {

  .side-by-side-left,
  .side-by-side-right {
    width: 100%;
    display: block;
  }

  .registration-input-field {
    display: block;
    width: 85%;
    margin: auto;
  }

  .registration-input-icon {
    margin-top: -7px;
  }
  
}

@media (min-width: 576px) {

  .side-by-side-left,
  .side-by-side-right {
    width: 100%;
    display: block;
  }

  .registration-input-field {
    width: 80%;
  }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {

  .side-by-side-left,
  .side-by-side-right {
    width: 44%;
    display: inline-block;
  }

  .registration-input-field {
    width: 100%;
  }
}

@media (min-width: 1200px) {

  .side-by-side-left,
  .side-by-side-right {
    width: 44%;
    display: inline-block;
  }

  .registration-input-field {
    width: 100%;
  }
}
