<div class="wrapper">
  <div class="registration-container">

    <!-- <div class="top-logo noselect">
      <img class="top-logo-image" src="./assets/images/logo/GROSSIFY Orange png-02-01.png" alt="logo">
      <span class="logoname">
        Grossify
      </span>
    </div> -->

    <div class="top-logo noselect">
      <span class="logoname">
        Grossify
      </span>
      <div class="logoname-subtext">
        The Shopping App
      </div>
    </div>

    <div class="create-account-text">
      Create Account
    </div>

    <form ngNoForm [formGroup]="registrationForm" (ngSubmit)="onSubmitUserDetails(registrationForm.value)">
      <div class="form-area side-by-side-left">
        <svg class="registration-input-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user"
          role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path fill="currentColor"
            d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z">
          </path>
        </svg>
        <input class="registration-input-field" type="text" name="first_name" id="first_name" placeholder="First Name"
          tabindex="1" role="First Name" title="First Name" aria-label="please input First Name"
          aria-labelledby="please input First Name" matInput [errorStateMatcher]="firstNameMatcher"
          formControlName="first_name" required>
      </div>

      <div class="form-area side-by-side-right">
        <svg class="registration-input-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user"
          role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path fill="currentColor"
            d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z">
          </path>
        </svg>
        <input class="registration-input-field" type="text" name="last_name" id="last_name" placeholder="Last Name"
          tabindex="2" role="Last Name" title="Last Name" aria-label="please input Last Name"
          aria-labelledby="please input Last Name" matInput [errorStateMatcher]="lastNameMatcher"
          formControlName="last_name" required>
      </div>

      <!-- <div class="form-area">
        <svg class="registration-input-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user"
          role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path fill="currentColor"
            d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z">
          </path>
        </svg>
        <input class="registration-input-field" type="text" name="UserName" id="UserName" placeholder="User Name"
          tabindex="3" role="User Name" title="User Name" aria-label="please input User Name"
          aria-labelledby="please input User Name" matInput [errorStateMatcher]="UserNameMatcher"
          formControlName="UserName" required>
      </div> -->

      <div class="form-area">
        <svg class="registration-input-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope"
          role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path fill="currentColor"
            d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z">
          </path>
        </svg>
        <input class="registration-input-field" type="email" name="UserEmail" id="UserEmail" placeholder="Email Id"
          tabindex="4" role="Email Id" title="Email Id" aria-label="please input Email Id"
          aria-labelledby="please input Email Id" matInput [errorStateMatcher]="UserEmailMatcher"
          formControlName="UserEmail" required>
      </div>

      <div class="form-area">
        <svg class="registration-input-icon" aria-hidden="true" focusable="false" data-prefix="far" data-icon="lock"
          role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path fill="currentColor"
            d="M400 192h-32v-46.6C368 65.8 304 .2 224.4 0 144.8-.2 80 64.5 80 144v48H48c-26.5 0-48 21.5-48 48v224c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V240c0-26.5-21.5-48-48-48zm-272-48c0-52.9 43.1-96 96-96s96 43.1 96 96v48H128v-48zm272 320H48V240h352v224z">
          </path>
        </svg>
        <input class="registration-input-field" type="password" name="UserPassword" id="UserPassword"
          placeholder="Password" tabindex="5" role="password" title="Password" aria-label="please input password"
          aria-labelledby="please input password" matInput [errorStateMatcher]="UserPasswordMatcher"
          formControlName="UserPassword" required>
      </div>

      <div class="form-area">
        <svg class="registration-input-icon" aria-hidden="true" focusable="false" data-prefix="far" data-icon="lock"
          role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path fill="currentColor"
            d="M400 192h-32v-46.6C368 65.8 304 .2 224.4 0 144.8-.2 80 64.5 80 144v48H48c-26.5 0-48 21.5-48 48v224c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V240c0-26.5-21.5-48-48-48zm-272-48c0-52.9 43.1-96 96-96s96 43.1 96 96v48H128v-48zm272 320H48V240h352v224z">
          </path>
        </svg>
        <input class="registration-input-field" type="password" name="confirm_UserPassword" id="confirm_UserPassword"
          placeholder="Confirm Password" tabindex="6" role="confirm password" title="Confirm Password"
          aria-label="please confirm_ password" aria-labelledby="please confirm_ password" matInput
          [errorStateMatcher]="UserPasswordMatcher" formControlName="confirm_UserPassword" required>
      </div>

      <div class="form-area">
        <svg class="registration-input-icon" aria-hidden="true" focusable="false" data-prefix="fas"
          data-icon="phone-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path fill="currentColor"
            d="M497.39 361.8l-112-48a24 24 0 0 0-28 6.9l-49.6 60.6A370.66 370.66 0 0 1 130.6 204.11l60.6-49.6a23.94 23.94 0 0 0 6.9-28l-48-112A24.16 24.16 0 0 0 122.6.61l-104 24A24 24 0 0 0 0 48c0 256.5 207.9 464 464 464a24 24 0 0 0 23.4-18.6l24-104a24.29 24.29 0 0 0-14.01-27.6z">
          </path>
        </svg>
        <input class="registration-input-field" type="number" name="UserPhone" id="UserPhone"
          placeholder="Mobile Number" tabindex="7" role="Mobile Number" title="Mobile Number"
          aria-label="please input Mobile Number" aria-labelledby="please input Mobile Number" matInput
          [errorStateMatcher]="confirmUserPasswordMatcher" formControlName="UserPhone" required min="5000000000"
          max="999999999999999">
      </div>

      <!-- <div class="form-area">
        <span class="checkbox-div">
          <input class="checkbox" type="checkbox" name="checkboxTermsAndPolicy"
            formControlName="checkboxTermsAndPolicyFormControl">
        </span>
        <span class="text-area-after-checkbox noselect">
          By continuing you agree to grossify's conditions of use and privacy notice.
        </span>
      </div> -->

      <div class="agree-text">
        By continuing, you agree toGrossify's <span class="terms-of-service">Terms of Service</span> and <span
          class="privacy-policy">Privacy Policy</span>.
      </div>

      <input
      class="submit-button"
      type="submit"
      value="Create Account"
      [ngClass]="{'submitButton-disabled': submitButtonValid}"
      [disabled]="submitButtonValid">

    </form>
  </div>
</div>
