.containerBox {
    position: relative;
    margin: 0;
    a {
      text-decoration: underline;
    }
    a:hover {
      text-decoration-color: rgb(221, 72, 20);
    }
}

.mat-dialog-actions {
    .button {
      padding: 10px 16px;
      border: none;
      color: #ffffff;
      background-color: rgb(221, 72, 20);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      vertical-align: middle;
      white-space: nowrap;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: .007px;
      text-transform: uppercase;
      margin-right: 22px;
      cursor: pointer;
    }

    .button:hover {
      background-color: rgba(221, 72, 20, .6);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
    }
}

.dialog-button {
    float: right;
    padding: 10px 16px;
    border: none;
    color: #ffffff;
    background-color: rgb(221, 72, 20);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .007px;
    text-transform: uppercase;
    margin-right: 22px;
    cursor: pointer;
}
  
.dialog-button:hover {
    background-color: rgba(221, 72, 20, .6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
}
