<div class="containerBox">
    Your previous cart has products from store {{storeName}}
    <!-- <a [routerLink]="['/etc/stores', storeid]">{{storeName}}</a>  -->
    but you are trying to add
    produt from different store, plase shop from same store or delete previous cart?
</div>

<div mat-dialog-actions>
    <button class="dialog-button" (click)="onDeleteCartClick()">Delete Previous cart</button>
    <button class="dialog-button" (click)="dialogRef.close()">Cancel</button>
</div>
