<div class="container" mat-dialog-content>
  <div class="row">
    <div class="col-one">
      <img class="selected-image" [src]="croppedImage ? croppedImage : './assets/images/profile-picture-female.png'" />
    </div>
    <div class="col-two">
      <image-cropper #ImageCropperComponent [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
        [aspectRatio]="1/1" [resizeToWidth]="520" [cropperMinWidth]="520" [cropperMinHeight]="512" [onlyScaleDown]=true
        [alignImage]="'center'" format="jpeg" (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"
        [canvasRotation]="canvasRotation">
      </image-cropper>
    </div>
  </div>
</div>
<mat-form-field>
  <div class="form-wrapper">
    <input matInput style="display: none;">
    <input accept=".png,image/x-png,image/png,.jpeg,image/jpeg,.jpg,image/jpg,image/.jp2" type="file"
      (change)="fileChangeEvent($event)" />

      <div class="row" *ngIf="ifImageLoded">
        <div class="rotateClass">
          <svg (click)="onClickrotateLeft()" title="Rotete Left" class="leftRotateIcon" aria-hidden="true" focusable="false"
            data-prefix="fas" data-icon="undo" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="currentColor"
              d="M212.333 224.333H12c-6.627 0-12-5.373-12-12V12C0 5.373 5.373 0 12 0h48c6.627 0 12 5.373 12 12v78.112C117.773 39.279 184.26 7.47 258.175 8.007c136.906.994 246.448 111.623 246.157 248.532C504.041 393.258 393.12 504 256.333 504c-64.089 0-122.496-24.313-166.51-64.215-5.099-4.622-5.334-12.554-.467-17.42l33.967-33.967c4.474-4.474 11.662-4.717 16.401-.525C170.76 415.336 211.58 432 256.333 432c97.268 0 176-78.716 176-176 0-97.267-78.716-176-176-176-58.496 0-110.28 28.476-142.274 72.333h98.274c6.627 0 12 5.373 12 12v48c0 6.627-5.373 12-12 12z">
            </path>
          </svg>
        </div>
        <div class="rotateClass">
          <svg (click)="onClickrotateRight()" title="Rotete Right" class="rightRotateIcon" aria-hidden="true" focusable="false"
            data-prefix="fas" data-icon="redo-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="currentColor"
              d="M256.455 8c66.269.119 126.437 26.233 170.859 68.685l35.715-35.715C478.149 25.851 504 36.559 504 57.941V192c0 13.255-10.745 24-24 24H345.941c-21.382 0-32.09-25.851-16.971-40.971l41.75-41.75c-30.864-28.899-70.801-44.907-113.23-45.273-92.398-.798-170.283 73.977-169.484 169.442C88.764 348.009 162.184 424 256 424c41.127 0 79.997-14.678 110.629-41.556 4.743-4.161 11.906-3.908 16.368.553l39.662 39.662c4.872 4.872 4.631 12.815-.482 17.433C378.202 479.813 319.926 504 256 504 119.034 504 8.001 392.967 8 256.002 7.999 119.193 119.646 7.755 256.455 8z">
            </path>
          </svg>
        </div>
      </div>
  </div>
</mat-form-field>
<div mat-dialog-actions>
  <button class="button" (click)="onNoClick()">Cancel</button>
  <button class="button" (click)="onCropAndSaveClick()" [disabled]="profilePicLoading">Crop & Save</button>
</div>
