.container {
  .row {
    display: flex;
    flex-direction: column;

    .col-one {
      min-width: 200px;
      min-height: 200px;

      .selected-image {
        display: block;
        width: 200px;
        height: 200px;
        margin: auto;
      }
    }

    .col-two {
      width: 100%;
      max-height: 380px;
    }
  }
}

.mat-form-field {
  .form-wrapper {
    display: flex;

    .row {
      display: flex;
      flex-direction: row;

      .rotateClass {
        margin-left: 1em;
        display: flex;

        .leftRotateIcon {
          fill: rgba(255, 0, 0, 1);
          color: rgba(255, 0, 0, 1);
          width: 1em;
          cursor: pointer;
        }

        .leftRotateIcon:hover {
          fill: rgba(255, 0, 0, .6);
          color: rgba(255, 0, 0, .6);
          width: 1em;
        }

        .rightRotateIcon {
          fill: rgba(255, 0, 0, 1);
          color: rgba(255, 0, 0, 1);
          width: 1em;
          cursor: pointer;
        }

        .rightRotateIcon:hover {
          fill: rgba(255, 0, 0, .6);
          color: rgba(255, 0, 0, .6);
          width: 1em;
        }
      }
    }
  }
}

.mat-dialog-actions {
  .button {
    padding: 10px 16px;
    border: none;
    color: #ffffff;
    background-color: rgb(221, 72, 20);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .007px;
    text-transform: uppercase;
    margin-right: 22px;
    cursor: pointer;
  }

  .button:hover {
    background-color: rgba(221, 72, 20, .6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
  }
}


@media screen and (min-width: 900px) {

  .container {
    .row {
      display: flex;
      flex-direction: row;

      .col-one {
        min-width: 200px;
        min-height: 200px;
        width: 20%;

        .selected-image {
          width: 200px;
          height: 200px;
        }
      }

      .col-two {
        width: 80%;
        max-height: 380px;
      }
    }
  }

  .mat-form-field {
    .form-wrapper {
      display: flex;

      .row {
        display: flex;
        flex-direction: row;

        .rotateClass {
          margin-left: 4em;
          display: flex;

          .leftRotateIcon {
            fill: rgba(255, 0, 0, 1);
            color: rgba(255, 0, 0, 1);
            width: 1em;
            cursor: pointer;
          }

          .leftRotateIcon:hover {
            fill: rgba(255, 0, 0, .6);
            color: rgba(255, 0, 0, .6);
            width: 1em;
          }

          .rightRotateIcon {
            fill: rgba(255, 0, 0, 1);
            color: rgba(255, 0, 0, 1);
            width: 1em;
            cursor: pointer;
          }

          .rightRotateIcon:hover {
            fill: rgba(255, 0, 0, .6);
            color: rgba(255, 0, 0, .6);
            width: 1em;
          }
        }
      }
    }
  }

  .mat-dialog-actions {
    .button {
      padding: 10px 16px;
      border: none;
      color: #ffffff;
      background-color: rgb(221, 72, 20);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      vertical-align: middle;
      white-space: nowrap;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: .007px;
      text-transform: uppercase;
      margin-right: 22px;
      cursor: pointer;
    }

    .button:hover {
      background-color: rgba(221, 72, 20, .6);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
    }
  }
}
