.containerBox {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;

  .column-one {
    width: 100%;

    .list-group {
      padding-left: 0;

      .list-group-item {
        list-style-type: none;
        display: flex;
        flex-direction: row;

        .form-icon {
          width: 1em;
          margin-right: 10px;
          color: gray;
          fill: gray;
        }

        .mat-form-field {
          width: 94%;

          .autocomplete-panel {
            width: 90%;
            display: flex;
            flex-direction: column;
            position: absolute;
            background-color: #ffffff;
            z-index: 1;
            border-left: 1px solid gray;
            border-bottom: 1px solid gray;
            border-right: 1px solid gray;
            margin-top: 8px;

            .panel-block {
              display: flex;
              flex-direction: row;
              cursor: pointer;
              background-color: #ffffff;
              padding-top: 4px;
              padding-left: 8px;
              padding-right: 8px;
              font-size: 14px;

              .panel-icon {
                color: gray;
                fill: gray;
                width: 1em;
                height: 1em;
              }

              .panel-text {
                color: gray;
                padding-left: 5px;
                overflow: hidden;
              }
            }

            .panel-block:last-child {
              padding-bottom: 4px;
            }

            .panel-block:hover {
              background-color: rgba(221, 72, 20, 0.6);
            }

            .panel-block:hover .panel-icon {
              color: #ffffff;
              fill: #ffffff;
            }

            .panel-block:hover .panel-text {
              color: #ffffff;
            }
          }
        }


        .mat-form-field {
          width: 90%;
        }
      }
    }

    p {
      color: #000000;
      font-weight: 300;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .column-two {
    width: 100%;

    .map_canvas,
    agm-map {
      height: 300px;
    }

    .map-crosshair-icon {
      position: absolute;
      right: 13%;
      top: 60%;
      /* z-index: 1; */
      height: 24px;
      width: 24px;
      cursor: pointer;
      /* background-color: rgba(32, 30, 156, 0.3); */
      color: rgba(255, 0, 0, 1);
      fill: rgba(255, 0, 0, 1);
    }

    .map-crosshair-icon:hover {
      color: rgba(255, 0, 0, .6);
      fill: rgba(255, 0, 0, .6);
    }
  }
}

.mat-dialog-actions {
  padding-left: 3%;

  .button {
    padding: 10px 16px;
    border: none;
    color: #ffffff;
    background-color: rgb(221, 72, 20);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .007px;
    text-transform: uppercase;
    margin-right: 22px;
    cursor: pointer;
  }

  .button:hover {
    background-color: rgba(221, 72, 20, .6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
  }
}


@media screen and (min-width: 900px) {
  .containerBox {
    width: 100%;
    display: block;

    .column-one {
      display: inline-block;
      width: 40%;

      .list-group {
        padding-left: 20px;

        .list-group-item {
          list-style-type: none;
          display: flex;
          flex-direction: row;

          .form-icon {
            width: 1em;
            margin-right: 10px;
            color: gray;
            fill: gray;
          }

          .address-autocomplete-form {
            width: 100%;
            padding: 0;
            margin: 0;

            .mat-form-field {
              width: 90%;
            }
          }

          .mat-form-field {
            width: 85%;
          }
        }
      }

      p {
        color: #000000;
        font-weight: 300;
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    .column-two {
      display: inline-block;
      width: 60%;
    }
  }
}
