.container {
  .list-group {
    padding-left: 0;
    min-width: 120px;
    width: 90%;
    max-width: 800px;
    margin: auto;

    .list-group-item {
      list-style-type: none;
      display: flex;
      flex-direction: row;

      .form-icon {
        width: 1em;
        margin-right: 10px;
        color: gray;
        fill: gray;
      }

      .mat-form-field {
        width: 90%;
      }

    }
  }
}

.mat-dialog-actions {
  padding-left: 6%;
}

.button {
  padding: 10px 16px;
  border: none;
  color: #ffffff;
  background-color: rgb(221, 72, 20);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .007px;
  text-transform: uppercase;
  margin-right: 22px;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(221, 72, 20, .6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
}
