<form
  autocomplete="off"
  name="change-password-form"
  ngNoForm
  [formGroup]="changePasswordForm"
  (ngSubmit)="onSubmitChangePassDetails(changePasswordForm.value)">

  <div class="container" mat-dialog-content>


    <ul class="list-group list-group-flush">

      <li class="list-group-item">

        <svg class="form-icon" aria-hidden="true" focusable="false" data-prefix="far" data-icon="lock" role="img"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path
            d="M400 192h-32v-46.6C368 65.8 304 .2 224.4 0 144.8-.2 80 64.5 80 144v48H48c-26.5 0-48 21.5-48 48v224c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V240c0-26.5-21.5-48-48-48zm-272-48c0-52.9 43.1-96 96-96s96 43.1 96 96v48H128v-48zm272 320H48V240h352v224z">
          </path>
        </svg>

        <mat-form-field>
          <input class="form-input" matInput type="password" placeholder="Enter Old Password" name="oldPassword"
              [errorStateMatcher]="oldPasswordMatcher" formControlName="oldPasswordFormControl" data-lpignore="true"
              autocomplete="off" required>
        </mat-form-field>
      </li>

      <li class="list-group-item">

        <svg class="form-icon" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="key" role="img"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            d="M336 32c79.529 0 144 64.471 144 144s-64.471 144-144 144c-18.968 0-37.076-3.675-53.661-10.339L240 352h-48v64h-64v64H32v-80l170.339-170.339C195.675 213.076 192 194.968 192 176c0-79.529 64.471-144 144-144m0-32c-97.184 0-176 78.769-176 176 0 15.307 1.945 30.352 5.798 44.947L7.029 379.716A24.003 24.003 0 0 0 0 396.686V488c0 13.255 10.745 24 24 24h112c13.255 0 24-10.745 24-24v-40h40c13.255 0 24-10.745 24-24v-40h19.314c6.365 0 12.47-2.529 16.971-7.029l30.769-30.769C305.648 350.055 320.693 352 336 352c97.184 0 176-78.769 176-176C512 78.816 433.231 0 336 0zm48 108c11.028 0 20 8.972 20 20s-8.972 20-20 20-20-8.972-20-20 8.972-20 20-20m0-28c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z">
          </path>
        </svg>
        <mat-form-field>
          <input class="form-input" matInput type="password" placeholder="Enter New Password" name="password"
            [errorStateMatcher]="passwordMatcher" formControlName="passwordFormControl" data-lpignore="true"
            autocomplete="off" required>
        </mat-form-field>
      </li>

      

      <li class="list-group-item">

        <svg class="form-icon" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="key" role="img"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            d="M336 32c79.529 0 144 64.471 144 144s-64.471 144-144 144c-18.968 0-37.076-3.675-53.661-10.339L240 352h-48v64h-64v64H32v-80l170.339-170.339C195.675 213.076 192 194.968 192 176c0-79.529 64.471-144 144-144m0-32c-97.184 0-176 78.769-176 176 0 15.307 1.945 30.352 5.798 44.947L7.029 379.716A24.003 24.003 0 0 0 0 396.686V488c0 13.255 10.745 24 24 24h112c13.255 0 24-10.745 24-24v-40h40c13.255 0 24-10.745 24-24v-40h19.314c6.365 0 12.47-2.529 16.971-7.029l30.769-30.769C305.648 350.055 320.693 352 336 352c97.184 0 176-78.769 176-176C512 78.816 433.231 0 336 0zm48 108c11.028 0 20 8.972 20 20s-8.972 20-20 20-20-8.972-20-20 8.972-20 20-20m0-28c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z">
          </path>
        </svg>

        <mat-form-field>
          <input class="form-input" matInput type="password" placeholder="Confirm Password" name="c_password"
              [errorStateMatcher]="passwordMatcher" formControlName="cPasswordFormControl" data-lpignore="true"
              autocomplete="off" required>
        </mat-form-field>
      </li>

    </ul>
  </div>
  <div mat-dialog-actions>
    <button type="button" class="button" (click)="onNoClick()">
      Cancel
    </button>
    <button type="submit" class="button">
      Save
    </button>
  </div>

</form>