<div class="containerBox">
  <div class="column-one">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <svg
          class="form-icon"
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="crosshairs"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            d="M500 224h-30.364C455.724 130.325 381.675 56.276 288 42.364V12c0-6.627-5.373-12-12-12h-40c-6.627 0-12 5.373-12 12v30.364C130.325 56.276 56.276 130.325 42.364 224H12c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h30.364C56.276 381.675 130.325 455.724 224 469.636V500c0 6.627 5.373 12 12 12h40c6.627 0 12-5.373 12-12v-30.364C381.675 455.724 455.724 381.675 469.636 288H500c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12zM288 404.634V364c0-6.627-5.373-12-12-12h-40c-6.627 0-12 5.373-12 12v40.634C165.826 392.232 119.783 346.243 107.366 288H148c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12h-40.634C119.768 165.826 165.757 119.783 224 107.366V148c0 6.627 5.373 12 12 12h40c6.627 0 12-5.373 12-12v-40.634C346.174 119.768 392.217 165.757 404.634 224H364c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h40.634C392.232 346.174 346.243 392.217 288 404.634zM288 256c0 17.673-14.327 32-32 32s-32-14.327-32-32c0-17.673 14.327-32 32-32s32 14.327 32 32z"
          ></path>
        </svg>

          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Location"
              name="addressLine1"
              #search
              autocomplete="off"
              searchElementRef
              [errorStateMatcher]="addressLine1Matcher"
              [formControl]="addressLine1FormControl"
              (keyup)="autocompletekeyUpHandler()"
            />
            <div class="autocomplete-panel">
              <a [title]="addressItem.description" class="panel-block" (click)="selectedAddress(addressItem)" *ngFor="let addressItem of (addressList | slice:0:5)">
                <svg
                  class="panel-icon"
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="map-marker-alt"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 384 512"
                >
                  <path
                    d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"
                  ></path>
                </svg>
                <span class="panel-text" *ngIf="addressItem.description">
                  {{ (addressItem.description.length > 34) ?
                  (addressItem.description + '...' | slice:0:34) :
                  addressItem.description }}
                </span>
              </a >
            </div>
            <mat-error *ngIf="addressLine1FormControl.hasError('minlength')">
              Address Line 1 is too short!
            </mat-error>
            <mat-error *ngIf="addressLine1FormControl.hasError('maxlength')">
              Address Line 1 is too long :)
            </mat-error>
          </mat-form-field>
      </li>

      <li class="list-group-item">
        <svg
          class="form-icon"
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="home"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 576 512"
        >
          <path
            d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"
          ></path>
        </svg>

        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="House/Flat No./Apartment Name"
            name="addressLine2"
            [errorStateMatcher]="addressLine2Matcher"
            [formControl]="addressLine2FormControl"
          />
          <mat-error *ngIf="addressLine2FormControl.hasError('minlength')">
            Address Line 2 is too short!
          </mat-error>
          <mat-error *ngIf="addressLine2FormControl.hasError('maxlength')">
            Address Line 2 is too long :)
          </mat-error>
        </mat-form-field>
      </li>

      <li class="list-group-item">
        <svg
          class="form-icon"
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="map-marker-alt"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 384 512"
        >
          <path
            d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"
          ></path>
        </svg>

        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Enter City"
            name="city"
            [errorStateMatcher]="cityMatcher"
            [formControl]="cityFormControl"
          />
          <mat-error *ngIf="cityFormControl.hasError('minlength')">
            city is too short!
          </mat-error>
          <mat-error *ngIf="cityFormControl.hasError('maxlength')">
            city is too long :)
          </mat-error>
        </mat-form-field>
      </li>

      <li class="list-group-item">
        <svg
          class="form-icon"
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="address-card"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 576 512"
        >
          <path
            d="M528 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-352 96c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zm112 236.8c0 10.6-10 19.2-22.4 19.2H86.4C74 384 64 375.4 64 364.8v-19.2c0-31.8 30.1-57.6 67.2-57.6h5c12.3 5.1 25.7 8 39.8 8s27.6-2.9 39.8-8h5c37.1 0 67.2 25.8 67.2 57.6v19.2zM512 312c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-64c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-64c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16z"
          ></path>
        </svg>

        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Enter Pin Code/Zip Code"
            name="Pin Code"
            [errorStateMatcher]="postalCodeMatcher"
            [formControl]="postalCodeFormControl"
          />
          <mat-error *ngIf="postalCodeFormControl.hasError('minlength')">
            pin code is too short!
          </mat-error>
          <mat-error *ngIf="postalCodeFormControl.hasError('maxlength')">
            pin code is too long :)
          </mat-error>
        </mat-form-field>
      </li>
    </ul>

    <p>
      <span *ngIf="data.UserAddress.address_line1">
        {{data.UserAddress.address_line1}},
      </span>
      <span *ngIf="data.UserAddress.address_line2">
        {{data.UserAddress.address_line2}},
      </span>
      <span *ngIf="data.UserAddress.city">
        {{data.UserAddress.city}},
      </span>
      <span *ngIf="data.UserAddress.state">
        {{data.UserAddress.state}},
      </span>
      <span *ngIf="data.UserAddress.country">
        {{data.UserAddress.country}},
      </span>
      <span *ngIf="data.UserAddress.postal_code">
        Pin- {{data.UserAddress.postal_code}}
      </span>
      <br />
    </p>
  </div>
  <div class="column-two">
    <agm-map
      #map
      id="map"
      class="map_canvas"
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      (mapClick)="mapClicked($event)"
      (centerChange)="centerChange($event)"
    >
      <agm-marker
        (markerClick)="markerClicked($event)"
        (dragEnd)="markerDragEnd(lat, lng, $event)"
        [latitude]="lat"
        [longitude]="lng"
        [markerDraggable]="true"
      >
      </agm-marker>
    </agm-map>
    <svg
      (click)="clickOnCrosshair()"
      class="map-crosshair-icon"
      aria-hidden="true"
      focusable="false"
      data-prefix="fas"
      data-icon="crosshairs"
      role="img"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512 512"
      title="Go to default Location"
    >
      <path
        d="M500 224h-30.364C455.724 130.325 381.675 56.276 288 42.364V12c0-6.627-5.373-12-12-12h-40c-6.627 0-12 5.373-12 12v30.364C130.325 56.276 56.276 130.325 42.364 224H12c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h30.364C56.276 381.675 130.325 455.724 224 469.636V500c0 6.627 5.373 12 12 12h40c6.627 0 12-5.373 12-12v-30.364C381.675 455.724 455.724 381.675 469.636 288H500c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12zM288 404.634V364c0-6.627-5.373-12-12-12h-40c-6.627 0-12 5.373-12 12v40.634C165.826 392.232 119.783 346.243 107.366 288H148c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12h-40.634C119.768 165.826 165.757 119.783 224 107.366V148c0 6.627 5.373 12 12 12h40c6.627 0 12-5.373 12-12v-40.634C346.174 119.768 392.217 165.757 404.634 224H364c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h40.634C392.232 346.174 346.243 392.217 288 404.634zM288 256c0 17.673-14.327 32-32 32s-32-14.327-32-32c0-17.673 14.327-32 32-32s32 14.327 32 32z"
      ></path>
    </svg>
  </div>
</div>

<div mat-dialog-actions>
  <button class="button" (click)="onNoClick()">Cancel</button>
  <button class="button" (click)="onSaveClick()">Save</button>
</div>
