<div class="loader" *ngIf="storeDetailLoading">
</div>


<div class="main-container  noselect" *ngIf="storeDetailLoaded">
  <div class="first-column">
    <div class="item-img">
      <img [src]="storeDetail.store_photo ? storeDetail.store_photo : storePlaceholderImage"
        [alt]="storeDetail.store_name + ' image'" />
    </div>
  </div>
  <div class="second-column">
    <h2 class="store-name" [title]="storeDetail.store_name" [innerHTML]="storeDetail.store_name">
    </h2>
    <div class="owner-name" [title]="storeDetail.owner_name" [innerHTML]="storeDetail.owner_name">
    </div>
    <div class="store-address" [title]="storeDetail.store_address" [innerHTML]="storeDetail.store_address">
    </div>

    <div class="item-metadata-line3">
      <div class="star-rating">
        <svg class="star-icon-svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
          <path
            d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
          </path>
        </svg>
        <div class="star-rating-number">
          {{storeDetail.avg_rating}}
        </div>
      </div>
      <div class="max-delivery-time">
        <div class="max-delivery-time-number">
          24
        </div>
        <div class="max-delivery-time-text">
          HOURS
        </div>
      </div>
      <div class="min-order-amount">
        <div class="amount-rs">
          {{storeDetail.min_amt}}
        </div>
        <div class="min-amount-text">
          MIN
        </div>
      </div>
      <svg title="Add To Favorite Store"
      *ngIf="addOrRemoveFavStoreIcon"
      (click)="clickOnAddOrDeleteToFavoriteStore(storeDetail)"
      class="heart-svg"
        aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path
          d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z">
        </path>
      </svg>

      <svg title="Remove from Favorite Store"
      *ngIf="!addOrRemoveFavStoreIcon"
      (click)="clickOnAddOrDeleteToFavoriteStore(storeDetail)"
      class="heart-svg-remove"
        aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path
          d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z">
        </path>
      </svg>
    </div>

    <button class="view-store-details-button" (click)="clickOnViewStoreDetailsButton(storeDetail)">
      View Store Details
    </button>
  </div>
  <div class="third-colomn">
    <div class="offer-box">
      <div class="top-offer-text">Offer</div>
      <div class="offer-text-and-icon-wrapper">
        <svg class="offer-svg" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 172 172">
          <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
            font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
            <path d="M0,172v-172h172v172z" fill="none"></path>
            <g fill="#95a5a6">
              <path
                d="M103.79797,7.00766c-1.37131,-0.10096 -2.77796,0.1483 -4.07828,0.77266l-13.71969,6.52391l-13.71297,-6.52391c-3.47784,-1.66152 -7.67518,-0.6199 -10.01094,2.46578l-9.11063,12.1475l-15.17765,0.59797c-3.84592,0.1548 -7.08737,3.03505 -7.69969,6.83969l-2.42547,14.98953l-13.15531,7.59219c-3.34024,1.92296 -4.8762,5.96781 -3.655,9.62797l4.82406,14.405l-8.12969,12.81938c-2.07432,3.26112 -1.54687,7.56665 1.24297,10.23265l10.95828,10.50813l-1.23625,15.14406c-0.3096,3.8356 2.14715,7.3989 5.85203,8.47906l14.59312,4.20594l5.93266,13.98172c1.5308,3.58104 5.38134,5.58183 9.12406,4.78375l14.88875,-3.05031l11.74437,9.61453c1.44824,1.1868 3.28176,1.84094 5.16,1.84094c1.87824,0 3.70176,-0.64742 5.14656,-1.83422l11.75109,-9.61453l14.86188,3.0436c3.7668,0.8084 7.62702,-1.20943 9.15094,-4.79047l5.93266,-13.975l14.59984,-4.20594c3.70144,-1.07672 6.15852,-4.64346 5.8386,-8.47906l-1.22953,-15.14406l10.95828,-10.50141c2.78984,-2.666 3.3204,-6.97481 1.2564,-10.23937l-8.1364,-12.8261l4.8375,-14.41172c1.20744,-3.65672 -0.34196,-7.70173 -3.66844,-9.62125l-13.15531,-7.58547l-2.42547,-15.00969c-0.63296,-3.79432 -3.87409,-6.65801 -7.71313,-6.81281l-15.17765,-0.60469l-9.11063,-12.1475c-1.4534,-1.93715 -3.64042,-3.07017 -5.92594,-3.23844zM42.93281,70.52c10.664,0 11.69734,7.57069 11.69734,9.63469h-5.16c0,-2.064 -1.03334,-5.16 -6.53734,-5.16c-5.16,0 -5.50266,3.09466 -5.50266,3.78266c0,7.224 18.22797,2.408 18.22797,13.76c0,8.944 -10.664,9.62797 -12.04,9.62797c-11.696,0 -12.72531,-8.25466 -12.72531,-10.66266h5.16v-0.34265c0,1.032 -0.00269,6.53735 7.56531,6.53735c6.192,0 6.53734,-4.13069 6.53734,-4.47469c0,-7.568 -18.23469,-2.408 -18.23469,-13.76c0,-2.064 1.38003,-8.94265 11.01203,-8.94265zM70.45281,70.86265h5.50265l11.69735,30.27469h-5.50266l-3.09734,-7.91469h-12.04l-2.75469,7.91469h-5.50266zM92.47015,70.86265h5.16v25.45735h15.48v4.47469h-20.64zM118.95547,70.86265h21.67469v4.47469h-16.51469v7.90797h15.13735v4.47469h-15.13735v8.94265h16.85735v4.47469h-22.01735zM73.20078,76.02265l-4.81063,13.07469h9.28531z">
              </path>
            </g>
          </g>
        </svg>
        <div class="offer-text">
          50% off up to ₹100 on orders above ₹129 | Use coupon WELCOME50
        </div>
      </div>
    </div>
  </div>
</div>


<hr />



<div class="content-and-product-category-wrapper noselect">

  <div class="Poduct-Category-list" *ngIf="productCategoriesLoaded">
    <div class="sidenev-box" [ngClass]="{'active': i === selectedIndex}"
      (click)="clickOnPoductCategory(productCategory, i)"
      *ngFor="let productCategory of productCategoriesOfStores; let i = index">
      <a class="sidenav-Links" tabindex="-1" role="tablist" [title]="productCategory.cat_name" aria-label="Settings"
        aria-labelledby="Settings">
        <span class="sidenavLinksSpan">
          <img class="product-category-navbar-image" [src]="productCategory.file_name">
          <span class="navbar-text" [innerHTML]="productCategory.cat_name" [ngClass]="{'active': i === selectedIndex}">
          </span>
        </span>
      </a>
    </div>
  </div>

  <div class="loader"
    *ngIf="storeProductsLoading || productCategoriesLoading">
  </div>

  <div class="content" *ngIf="storeProductsLoaded">
    <div class="content-grid">
      <div class="item" *ngFor="
              let product of storeProducts.result;
              let i = index
            ">

        <a class="item-link" (click)="clickOnStoreProduct(product)">
          <div class="item-thumbnail item-container">
            <img class="item-thumbnail-img" [alt]="product.product_name + ' image'"
              [src]="product.prod_images ? product.prod_images : productPlaceholder" />
          </div>
          <div class="details">
            <div class="item-name" [title]="product.product_name">
              <h3 class="item-name-h3"
                [title]="product.product_name ? product.product_name : product.common_name + (product.common_name ? '(' + product.common_name + ')' : '')"
                [innerHTML]="
                (product.product_name ? product.product_name : product.common_name + (product.common_name ? '(' + product.common_name + ')' : '')) | decodeHTML">
              </h3>
            </div>
            <div class="item-metadata">
              <div class="item-metadata-line1" [title]="product.prod_desc" [innerHTML]="product.prod_desc | decodeHTML">
              </div>
              <div class="item-metadata-line2" [title]="product.product_type | decodeHTML"
                [innerHTML]="product.product_type | decodeHTML">
              </div>
            </div>
          </div>
        </a>

        <mat-menu #quantityMenu="matMenu" yPosition="below" xPosition="after" [class]="'mat-menu'">
          <div class="quantityMenu-header">
            Available quantity for
          </div>
          <div class="quantityMenu-sub-header"
            [title]="product.product_name ? product.product_name : product.common_name"
            [innerHTML]="product.product_name ? product.product_name : product.common_name">
          </div>
          <div class="quantityMenu-item" (click)="clickOnQuantityMenuItem(i, j, item, product)" mat-menu-item
            *ngFor="let item of product.prices as itemData; let j = index">
            <div class="quantityMenu-item-inner">
              <span class="quantityMenu-item-inner-left" [innerHTML]="item.unit">
              </span>
              <span class="quantityMenu-item-inner-right" [innerHTML]="item.price">
              </span>
            </div>
          </div>
        </mat-menu>

        <div class="quantityMenu-and-selected-price-container">
          <div class="button-container">
            <button class="quantityMenu-button" [matMenuTriggerFor]="quantityMenu">
              <span [innerHTML]="selectedQuantity[i] ? selectedQuantity[i]['unit'] : product['prices'][0]['unit']">
              </span>
            </button>
            <svg class="chevron-down-icon" [matMenuTriggerFor]="quantityMenu" aria-hidden="true" focusable="false"
              data-prefix="far" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512">
              <path
                d="M441.9 167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L224 328.2 42.9 147.5c-4.7-4.7-12.3-4.7-17 0L6.1 167.3c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z">
              </path>
            </svg>

          </div>
          <span class="selected-product-price"
            [innerHTML]="selectedQuantity[i] ? selectedQuantity[i]['price'] : product['prices'][0]['price']">
          </span>
        </div>
        <button (click)="clickOnAddToCart(product['prices'][0], selectedQuantity[i], product)"
          class="add-to-cart-button">
          Add To Cart
        </button>
      </div>
    </div>
  </div>

</div>
