.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(221, 72, 20);
  // width: 120px;
  // height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
  width: 80px;
  height: 80px;
  margin-top: 18%;
  margin-bottom: 18%;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.main-container {
  display: flex;
  flex-direction: row;

  .first-column {
    padding: 22px;

    .item-img {
      position: relative;
      display: block;
      margin: 0;
      width: auto;
      transform-origin: 50% 50%;
      transform-style: preserve-3d;
      animation: floating 5s -1s infinite;

      img {
        display: block;
        width: 100%;
        height: auto;
        max-height: 200px;
        transform-origin: 50% 100%;
        transform: translateZ(-5rem);
      }
    }
  }

  .second-column {
    min-width: 340px;

    .store-name {
      font-weight: 100;
      color: rgba(0, 0, 0, .87);
    }

    .owner-name {
      color: rgb(0, 0, 0);
      font-weight: 500;
      margin-bottom: 10px;
    }

    .store-address {
      font-weight: 100;
      color: rgba(0, 0, 0, .87);
    }

    .item-metadata-line3 {
      display: flex;
      flex-direction: row;
      font-size: 12px;
      font-weight: normal;
      margin-bottom: 8px;
      margin-top: 6px;

      .star-rating {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: rgb(221, 72, 20);
        color: #ffffff;
        font-size: inherit;
        font-weight: inherit;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 3px;
        padding-bottom: 3px;

        .star-icon-svg {
          width: 14px;
          height: 14px;
          fill: #ffffff;
        }

        .star-rating-number {
          font-size: inherit;
          font-weight: inherit;
          padding-left: 3px;
        }
      }

      .max-delivery-time {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: inherit;
        font-weight: inherit;
        margin-left: 10px;
        padding: 0 5px;
        border-left: 1px solid black;
        border-right: 1px solid black;

        .max-delivery-time-number {
          font-size: inherit;
          font-weight: inherit;
        }

        .max-delivery-time-text {
          text-transform: uppercase;
          font-size: inherit;
          font-weight: inherit;
          padding-left: 3px;
        }
      }

      .min-order-amount {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: inherit;
        font-weight: inherit;
        margin-left: 10px;
        padding-right: 10px;
        border-right: 1px solid black;

        .amount-rs {
          font-size: inherit;
          font-weight: inherit;
        }

        .amount-rs:before {
          font-size: inherit;
          font-weight: inherit;
          content: '₹';
        }

        .min-amount-text {
          font-size: inherit;
          font-weight: inherit;
          text-transform: uppercase;
          padding-left: 3px;
        }
      }

      .heart-svg {
        width: 18px;
        height: 18px;
        fill: rgb(0, 128, 0);
        margin-left: 10px;
        margin-right: 10px;
        position: relative;
        bottom: -2px;
        cursor: pointer;
      }

      .heart-svg:hover {
        fill: rgba(0, 128, 0, .7);
      }

      .heart-svg-remove {
        width: 18px;
        height: 18px;
        fill: red;
        margin-left: 10px;
        margin-right: 10px;
        position: relative;
        bottom: -2px;
        cursor: pointer;
      }
      .heart-svg-remove::before {background: #055468;
        content: "";
        width: 100px;
        height: 100%;
        position: absolute;
        bottom: 0;
        right: 100%;
        transform: rotateZ(45deg);
        transform-origin: bottom right;
        width: 80px;
      }

      .heart-svg-remove:hover {
        fill: rgba(221, 72, 20, 1);
      }
    }


    .view-store-details-button {
      float: right;
      padding: 10px 16px;
      border: none;
      color: #ffffff;
      background-color: rgb(221, 72, 20);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      vertical-align: middle;
      white-space: nowrap;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: .007px;
      text-transform: uppercase;
      margin-right: 22px;
      cursor: pointer;
    }

    .view-store-details-button:hover {
      background-color: rgba(221, 72, 20, .6);
      box-shadow: 0px 4px 4px rgba(190, 190, 190, 0.65);
    }

  }

  .third-colomn {
    padding: 22px;

    .offer-box {
      transform: translateZ(0);
      transition: transform .2s ease-in-out;
      border: 1px solid #bec0c8;
      position: relative;

      .top-offer-text {
        color: inherit;
        font-size: 20px;
        font-weight: 500;
        display: inline-block;
        padding-right: 10px;
        padding-bottom: 10px;
        text-transform: uppercase;
        position: absolute;
        top: -13px;
        left: -6px;
        background-color: #fafafa;
      }

      .offer-text-and-icon-wrapper {
        display: flex;
        flex-direction: row;
        padding: 20px 30px 25px 25px;


        .offer-svg {
          width: 50px;
          height: 50px;
          fill: red;
          margin-right: 10px;
          align-self: flex-start;
        }

        .offer-text {
          font-size: 14px;
          color: inherit;
          opacity: .9;
          line-height: 1.2;
          font-weight: 500;
          align-self: flex-end;
        }
      }
    }
  }
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.content-and-product-category-wrapper {
  display: flex;
  flex-direction: row;

  .Poduct-Category-list {
    margin: 22px;

    .sidenev-box {
      display: block;
      width: 100%;
      height: 40px;
      padding-top: 6px;
      margin: 0;
      border: 0;
      cursor: pointer;
      outline: none;

      .sidenav-Links {
        text-decoration: none;
        width: inherit;

        .sidenavLinksSpan {
          display: flex;
          justify-items: center;
          margin-left: 24px;
          margin-right: 24px;

          .product-category-navbar-image {
            display: inline-block;
            width: 35px;
            height: 35px;
          }

          .navbar-text {
            color: #000000;
            outline: none;
            margin-left: 12px;
            font-size: 18px;
            font-weight: 100;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: capitalize;
            line-height: 35px;
            height: 35px;
            width: 180px;
          }

          .navbar-text.active {
            color: #ffffff;
          }
        }
      }
    }

    .sidenev-box:hover {
      background-color: rgba(221, 72, 20);
    }

    .sidenev-box.active {
      color: #ffffff;
      background-color: rgba(221, 72, 20, 1);
    }

    .sidenev-box.active:hover {
      background-color: rgba(221, 72, 20, .6);
    }
  }


  .content {
    width: 100%;

    .content-grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;

      .item {
        width: 210px;
        margin: 0 auto;
        padding-bottom: 1%;
        margin-bottom: 5%;
        border: 1px solid lightgray;
        /* background-color: #ffffff; */
        box-shadow: 5px 5px 3px lightgrey;

        .item-link {
          cursor: pointer;
          background-color: #ffffff;
          box-shadow: 5px 5px 3px lightgray;

          .item-thumbnail {
            width: 210px;
            height: 118px;
            margin: 0;
            padding: 0;
            border: 0;
            background: transparent;
            text-decoration: none;

            .item-thumbnail-img {
              width: 210px;
              height: 118px;
              margin: 0;
              padding: 0;
              border: 0;
              background: transparent;
            }
          }

          .item-container {
            position: relative;
          }

          .details {
            /* width: 210px; */
            margin-left: 8px;
            margin-right: 8px;
            /* height: 84px; */

            .item-name {
              .item-name-h3 {

                height: 34px;
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                font-size: 0.9em;
                font-weight: 300;
                color: #000000;
              }
            }

            .item-metadata {
              //   height: 54px;
              color: #606060;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: normal;
              font-size: 0.9em;
              font-weight: 300;
              padding-bottom: 10px;

              .item-metadata-line1 {
                height: 35px;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              .item-metadata-line2 {
                height: 18px;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }

        .quantityMenu-and-selected-price-container {
          width: calc(100% - 16px);
          margin-left: 8px;
          margin-right: 8px;

          .button-container {
            position: relative;

            .quantityMenu-button {
              width: 100px;
              float: left;
              cursor: pointer;
            }

            .chevron-down-icon {
              position: absolute;
              top: 4px;
              left: 80px;
              cursor: pointer;
              width: 8px;
              height: 8px;
              fill: black;
              color: black;
            }
          }

          .selected-product-price {
            float: right;
          }

          .selected-product-price:before {
            content: '₹';
          }
        }

        .add-to-cart-button {
          border: 0;
          padding: 4px 8px;
          background-color: #dd4814;
          color: #fff;
          font-size: 12px;
          border-radius: 3px;
          width: calc(100% - 16px);
          margin-top: 6px;
          margin-left: 8px;
          margin-right: 8px;
          cursor: pointer;
        }

        .add-to-cart-button:hover {
          background-color: rgba(221, 72, 20, .6);
        }


      }

      .item:hover {
        border: 1px solid gray;
      }
    }
  }


}


@keyframes floating {

  0%,
  100% {
    transform: translateY(-5%);
  }

  50% {
    transform: translateY(0);
  }
}

a:visited,
a:active,
a:focus {
  outline: none;
  border: none;
  text-decoration: none;
  outline-style: none;
  -moz-outline-style: none;
}


/* desable selection of text in browser */
.noselect {
  text-decoration: none;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline-style: none;
  -moz-outline-style: none;
  -webkit-outline-style: none;
  -ms-outline-style: none;
}


.mat-menu {
  border: 1px solid black;
  width: 180px;
}

.quantityMenu-header {
  display: block;
  font-size: 14px;
  text-align: center;
}

.quantityMenu-sub-header {
  display: block;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.quantityMenu-item {
  border-bottom: 1px solid grey;
  margin-left: 12px;
  margin-right: 12px;
  padding: 0;

  .quantityMenu-item-inner {
    color: #ffffff;
    height: 80%;

    .quantityMenu-item-inner-left {
      color: #000000;
      display: inline-block;
      width: 60px;
      margin-left: 8px;
    }

    .quantityMenu-item-inner-right {
      color: #000000;
    }

    .quantityMenu-item-inner-right:before {
      content: '₹';
    }
  }

  .quantityMenu-item-inner:hover {
    background-color: rgb(221, 72, 20);
  }
}
