.home-main-container {
  position: absolute;
  top: 55px;
  bottom: 0;
  left: 0;
  right: 0;
}

.home-main-sidenav {
  /* background-color: rgb(221, 72, 20); */
  background-color: inherit;
}

mat-sidenav {
  width: 240px;
}


.category-animation-is-mobile .category-animation-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.category-animation-app-name {
  margin-left: 8px;
}

.home-main-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.category-animation-is-mobile .home-main-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.sidenev-box {
  display: block;
  width: 100%;
  height: 40px;
  padding-top: 6px;
  margin: 0;
  border: 0;
  cursor: pointer;
  outline: none;
  -webkit-animation: out 500ms;
  -moz-animation: out 500ms;
  -o-animation: out 500ms;
  animation: out 500ms;
}

.sidenev-box:hover,
.sidenev-box:focus {
  background-color: rgb(221, 72, 20);
  -webkit-animation: in 500ms;
  -moz-animation: in 500ms;
  -o-animation: in 500ms;
  animation: in 500ms;
}

@-webkit-keyframes in {
  from {
    box-shadow: none;
  }

  to {
    box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -moz-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -webkit-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
  }
}

@-webkit-keyframes out {
  0% {
    box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -moz-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -webkit-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
  }

  100% {
    box-shadow: none;
  }
}

@-moz-keyframes in {
  from {
    box-shadow: none;
  }

  to {
    box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -moz-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -webkit-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
  }
}

@-moz-keyframes out {
  0% {
    box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -moz-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -webkit-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
  }

  100% {
    box-shadow: none;
  }
}

@-o-keyframes in {
  from {
    box-shadow: none;
  }

  to {
    box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -moz-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -webkit-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
  }
}

@-o-keyframes out {
  0% {
    box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -moz-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -webkit-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
  }

  100% {
    box-shadow: none;
  }
}

@keyframes in {
  from {
    box-shadow: none;
  }

  to {
    box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -moz-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -webkit-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
  }
}

@keyframes out {
  0% {
    box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -moz-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
    -webkit-box-shadow: inset 0 0 0 2em rgb(221, 72, 20);
  }

  100% {
    box-shadow: none;
  }
}



.sidenev-box:hover .sidenav-link-svg-selected {
  fill: #ffffff;
  color: #ffffff;
}

.sidenev-box:hover .sidenav-link-text-selected {
  color: #ffffff;
}

.sidenev-box:hover .sidenav-link-svg {
  fill: #ffffff;
  color: #ffffff;
}

.sidenev-box:hover .navbar-text {
  color: #ffffff;
}

.sidenev-box-selected {
  background-color: rgba(221, 72, 20, .6);
}

.sidenev-box-selected:hover {
  background-color: rgba(221, 72, 20, .6);
}

.sidenav-Links {
  text-decoration: none;
}

a:visited,
a:focus {
  outline: 0;
  border: none;
  text-decoration: none;
  outline-style: none;
  -moz-outline-style: none;
}

.sidenavLinksSpan {
  display: flex;
  justify-items: center;
  margin-left: 24px;
  margin-right: 24px;
}

.sidenavLinksSpanCategorySubMenu {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: 24px;
  margin-right: 10px;
}

.sidenavLinksSpan-image {
  height: 40px;
  width: 40px;
}

.sidenav-link-svg {
  fill: #9b9b9b;
  color: #9b9b9b;
  width: 24px;
  height: 24px;
}

.sidenav-link-svg-selected {
  fill: rgba(221, 72, 20, .6);
  color: rgba(221, 72, 20, .6);
}

.navbar-text {
  color: #000000;
  margin-left: 24px;
  width: 120px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
  outline: none;
  text-overflow: ellipsis;
}

.sidenav-link-text-selected {
  color: rgba(221, 72, 20, .6);
}

.sidenev-horizontal-line-below {
  border-bottom: 1px solid #ccc;
  margin-bottom: 16px;
}

/* desable selection of text in browser */
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

.storeCategoriesSubMenu {
  width: 200px;
  background-color: rgb(221, 72, 20);
}

.storeCategoriesSubMenu:hover {
  background-color: rgb(240, 240, 240);
}

.navbar-text-SubMenu {
  color: #000000;
  width: 180px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  font-weight: 500;
  outline: none;
  text-overflow: ellipsis;
  margin-left: 12px;
  text-transform: capitalize;
}

.panel {
  width: 100%;
  max-height: 30%;
  overflow-y: scroll;
}

.caret-icon {
  color: inherit;
}

.caret {
  height: 1em;
  margin-top: 5px;
  fill: #000000;
  color: #000000;
}

/* #categories-menu-box, */
.categories-menu-box {
  display: none;

  /* -webkit-transition: max-height 200ms ease-out;
  -moz-transition: max-height 200ms ease-out;
  -o-transition: max-height 200ms ease-out;
  transition: max-height 200ms ease-out; */
}

/* #categories-hover:hover+#categories-menu-box, */
.categories-menu-box-hover {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 56px;
  left: 220px;
  right: 10%;
  background: #fcfcfc;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding-top: 22px;
  padding-bottom: 22px;
  max-width: 900px;
  max-height: 85%;
  overflow: auto;
  -webkit-animation-name: category-animation;
  -moz-animation-name: category-animation;
  -o-animation-name: category-animation;
  animation-name: category-animation;
  -webkit-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;
}

@-webkit-keyframes category-animation {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 100%;
  }
}

@-moz-keyframes category-animation {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 100%;
  }
}

@-o-keyframes category-animation {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 100%;
  }
}

@keyframes category-animation {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 100%;
  }
}

.sidenev-box-menu-box {
  height: 40px;
}

.sidenev-box-menu-box:hover {
  background-color: rgb(221, 72, 20);
}

.sidenev-box-menu-box:hover .sidenav-link-svg-selected {
  fill: #ffffff;
  color: #ffffff;
}

.sidenev-box-menu-box:hover .sidenav-link-text-selected {
  color: #ffffff;
}

.sidenev-box-menu-box-selected {
  background-color: rgba(221, 72, 20, .6);
}

.sidenev-box-menu-box-selected:hover {
  background-color: rgba(221, 72, 20, .6);
}

.sidenav-Links-menu-box {
  text-decoration: none;
}

.sidenavLinksSpanCategorySubMenu-menu-box {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: 24px;
  /* margin-right: 10px; */
}

.sidenavLinksSpan-image-menu-box {
  height: 32px;
  width: 40px;
}

.navbar-text-SubMenu-menu-box {
  color: #000000;
  width: 140px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  font-weight: 300;
  outline: none;
  text-overflow: ellipsis;
  margin-left: 12px;
  text-transform: capitalize;
}

.sidenav-Links-menu-box:hover .navbar-text-SubMenu-menu-box {
  color: #ffffff;
}
