<app-navbar></app-navbar>

<mat-sidenav-container class="home-main-container">
  <mat-sidenav
    class="home-main-sidenav"
    position="start"
    [(opened)]="opened"
    [mode]="(mobile$ | async) ? 'over' : 'side'"
    [fixedInViewport]="true"
    fixedTopGap="56"
    role="navigation"
  >
    <div class="sidenev-box" routerLink="/home">
      <a
        class="sidenav-Links"
        tabindex="-1"
        role="tablist"
        title="Home Page"
        aria-label="Home Page"
        aria-labelledby="Home Page"
      >
        <span class="sidenavLinksSpan">
          <svg
            class="sidenav-link-svg"
            [routerLinkActive]="['sidenav-link-svg-selected']"
            [routerLinkActiveOptions]="{ exact: true }"
            viewBox="0 0 24 24"
            preserveAspectRatio="xMidYMid meet"
            focusable="false"
          >
            <g>
              <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8"></path>
            </g>
          </svg>
          <span
            class="navbar-text noselect"
            [routerLinkActive]="['sidenav-link-text-selected']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Home Page
          </span>
        </span>
      </a>
    </div>

    <div class="sidenev-box">
      <a
        class="sidenav-Links"
        [routerLink]="['/etc/settings']"
        tabindex="-1"
        role="tablist"
        title="Settings"
        aria-label="Settings"
        aria-labelledby="Settings"
      >
        <span class="sidenavLinksSpan">
          <svg
            class="sidenav-link-svg"
            [routerLinkActive]="['sidenav-link-svg-selected']"
            [routerLinkActiveOptions]="{ exact: true }"
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="cog"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              fill="currentColor"
              d="M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110c-17.9-15.4-38.5-27.3-60.8-35.1V25.8c0-5.6-3.9-10.5-9.4-11.7-36.7-8.2-74.3-7.8-109.2 0-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3-24.7 26.7-43.6 58.9-54.7 94.6-1.7 5.4.6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z"
            ></path>
          </svg>
          <span
            class="navbar-text noselect"
            [routerLinkActive]="['sidenav-link-text-selected']"
          >
            Settings
          </span>
        </span>
      </a>
    </div>

    <div class="sidenev-box">
      <a
        class="sidenav-Links"
        routerLink="etc/orders"
        tabindex="-1"
        role="tablist"
        title="Orders"
        aria-label="Orders"
        aria-labelledby="Orders"
      >
        <span class="sidenavLinksSpan">
          <svg
            class="sidenav-link-svg"
            [routerLinkActive]="['sidenav-link-svg-selected']"
            [routerLinkActiveOptions]="{ exact: true }"
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="list"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              fill="currentColor"
              d="M80 368H16a16 16 0 0 0-16 16v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16v-64a16 16 0 0 0-16-16zm0-320H16A16 16 0 0 0 0 64v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16V64a16 16 0 0 0-16-16zm0 160H16a16 16 0 0 0-16 16v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16v-64a16 16 0 0 0-16-16zm416 176H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm0-320H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16V80a16 16 0 0 0-16-16zm0 160H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16z"
            ></path>
          </svg>
          <span
            class="navbar-text noselect"
            [routerLinkActive]="['sidenav-link-text-selected']"
          >
            Orders
          </span>
        </span>
      </a>
    </div>

    <div
      class="sidenev-box"
      (mouseenter)="categoryHover = true"
      (mouseleave)="categoryHover = false"
    >
      <a
        class="sidenav-Links"
        tabindex="-1"
        role="tablist"
        title="Categories"
        aria-label="Categories"
        aria-labelledby="Categories"
      >
        <span class="sidenavLinksSpan">
          <svg
            class="sidenav-link-svg"
            [routerLinkActive]="['sidenav-link-svg-selected']"
            [routerLinkActiveOptions]="{ exact: true }"
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="list-alt"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              d="M464 480H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h416c26.51 0 48 21.49 48 48v352c0 26.51-21.49 48-48 48zM128 120c-22.091 0-40 17.909-40 40s17.909 40 40 40 40-17.909 40-40-17.909-40-40-40zm0 96c-22.091 0-40 17.909-40 40s17.909 40 40 40 40-17.909 40-40-17.909-40-40-40zm0 96c-22.091 0-40 17.909-40 40s17.909 40 40 40 40-17.909 40-40-17.909-40-40-40zm288-136v-32c0-6.627-5.373-12-12-12H204c-6.627 0-12 5.373-12 12v32c0 6.627 5.373 12 12 12h200c6.627 0 12-5.373 12-12zm0 96v-32c0-6.627-5.373-12-12-12H204c-6.627 0-12 5.373-12 12v32c0 6.627 5.373 12 12 12h200c6.627 0 12-5.373 12-12zm0 96v-32c0-6.627-5.373-12-12-12H204c-6.627 0-12 5.373-12 12v32c0 6.627 5.373 12 12 12h200c6.627 0 12-5.373 12-12z"
            ></path>
          </svg>
          <span
            class="navbar-text noselect"
            [routerLinkActive]="['sidenav-link-text-selected']"
          >
            Categories
          </span>
          <div class="caret-icon">
            <svg
              class="caret"
              aria-hidden="true"
              focusable="false"
              data-prefix="fal"
              data-icon="caret-right"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 192 512"
            >
              <path
                d="M0 128.032v255.93c0 28.425 34.488 42.767 54.627 22.627l128-127.962c12.496-12.496 12.497-32.758 0-45.255l-128-127.968C34.528 85.305 0 99.55 0 128.032zM160 256L32 384V128l128 128z"
              ></path>
            </svg>
          </div>
        </span>
      </a>
    </div>

    <div
      (mouseenter)="categoryHover = true"
      (mouseleave)="categoryHover = false"
      [ngClass]="
        categoryHover === true
          ? 'categories-menu-box-hover'
          : 'categories-menu-box'
      "
    >
      <div
        (click)="clickOnStoreCategorySubMenu(storeCategory.value)"
        #select
        class="sidenev-box-menu-box noselect"
        *ngFor="let storeCategory of storeCategories | keyvalue"
      >
        <a
          class="sidenav-Links-menu-box"
          tabindex="-1"
          [attr.role]="'Select Category ' + storeCategory.value.cat_name"
          [attr.title]="storeCategory.value.cat_name"
          [attr.aria-label]="'Select Category ' + storeCategory.value.cat_name"
          [attr.aria-labelledby]="
            'Select Category ' + storeCategory.value.cat_name
          "
        >
          <span class="sidenavLinksSpanCategorySubMenu-menu-box">
            <img
              class="sidenavLinksSpan-image-menu-box"
              [src]="storeCategory.value.file_name"
            />
            <span
              class="navbar-text-SubMenu-menu-box noselect"
              [innerHTML]="
                storeCategory.value.cat_name.length > 20
                  ? (storeCategory.value.cat_name | slice: 0:20) + '...'
                  : storeCategory.value.cat_name
              "
            >
            </span>
          </span>
        </a>
      </div>
    </div>

    <div class="sidenev-box">
      <a
        class="sidenav-Links"
        routerLink="/etc/user-profile"
        tabindex="-1"
        role="tablist"
        title="Account"
        aria-label="Account"
        aria-labelledby="Account"
      >
        <span class="sidenavLinksSpan">
          <svg
            class="sidenav-link-svg"
            [routerLinkActive]="['sidenav-link-svg-selected']"
            [routerLinkActiveOptions]="{ exact: true }"
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="user"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
          >
            <path
              fill="currentColor"
              d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"
            ></path>
          </svg>
          <span
            class="navbar-text noselect"
            [routerLinkActive]="['sidenav-link-text-selected']"
          >
            Account
          </span>
        </span>
      </a>
    </div>

    <div class="sidenev-box sidenev-horizontal-line-below">
      <a
        class="sidenav-Links"
        routerLink="/etc/offers"
        tabindex="-1"
        role="tablist"
        title="Offers"
        aria-label="Offers"
        aria-labelledby="Offers"
      >
        <span class="sidenavLinksSpan">
          <svg
            class="sidenav-link-svg"
            [routerLinkActive]="['sidenav-link-svg-selected']"
            [routerLinkActiveOptions]="{ exact: true }"
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="gift"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              fill="currentColor"
              d="M32 448c0 17.7 14.3 32 32 32h160V320H32v128zm256 32h160c17.7 0 32-14.3 32-32V320H288v160zm192-320h-42.1c6.2-12.1 10.1-25.5 10.1-40 0-48.5-39.5-88-88-88-41.6 0-68.5 21.3-103 68.3-34.5-47-61.4-68.3-103-68.3-48.5 0-88 39.5-88 88 0 14.5 3.8 27.9 10.1 40H32c-17.7 0-32 14.3-32 32v80c0 8.8 7.2 16 16 16h480c8.8 0 16-7.2 16-16v-80c0-17.7-14.3-32-32-32zm-326.1 0c-22.1 0-40-17.9-40-40s17.9-40 40-40c19.9 0 34.6 3.3 86.1 80h-86.1zm206.1 0h-86.1c51.4-76.5 65.7-80 86.1-80 22.1 0 40 17.9 40 40s-17.9 40-40 40z"
            ></path>
          </svg>
          <span
            class="navbar-text noselect"
            [routerLinkActive]="['sidenav-link-text-selected']"
          >
            Offer's
          </span>
        </span>
      </a>
    </div>
  </mat-sidenav>

  <mat-sidenav-content role="main">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
