.container {
  display: block;
  width: 100%;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .top-heading {
    text-align: center;

    h2 {
      font-size: 2em;
      font-weight: 300;
    }
  }

  .store-icon-svg {
    display: block;
    margin: auto;
  }
  
  .store-icon-svg {
    width: 100px;
    color: rgb(167, 126, 111);
    fill: rgb(221, 72, 20);
  }

  form {
    .form-container {
      display: block;
      max-width: 800px;
      padding-right: 2%;
      padding-left: 2%;
      margin: auto;
  
      input[type=text],
      input[type=number],
      input[type=email] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
  
      .submit-button {
        display: block;
        padding: 10px 16px;
        border: none;
        color: #ffffff;
        background-color: rgb(221, 72, 20);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        white-space: nowrap;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 0.007px;
        text-transform: uppercase;
        margin: auto;
        cursor: pointer;
      }
  
      .submit-button:hover,
      .submitButton-disabled {
        background-color: rgba(221, 72, 20, 0.6);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
      }
  
    }
  }
}
