<div class="container">

  <div class="top-heading">
    <h2>
      Refer a Store
    </h2>
  </div>

  <div class="store-icon">
    <svg class="store-icon-svg" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="store" role="img"
      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 616 512">
      <path
        d="M602 118.6L537.1 15C531.3 5.7 521 0 510 0H106C95 0 84.7 5.7 78.9 15L14 118.6c-29.6 47.2-10 110.6 38 130.8v227.4c0 19.4 14.3 35.2 32 35.2h448c17.7 0 32-15.8 32-35.2V249.4c48-20.2 67.6-83.6 38-130.8zm-70 358.2c0 2-.8 3.1-.2 3.2l-446.6.3c-.3-.2-1.2-1.3-1.2-3.5V352h448zM84 320v-64h2.5c29.6 0 55.8-13 73.8-33.1 18 20.1 44.3 33.1 73.8 33.1 29.6 0 55.8-13 73.8-33.1 18 20.1 44.3 33.1 73.8 33.1 29.6 0 55.8-13 73.8-33.1 18.1 20.1 44.3 33.1 73.9 33.1h2.5v64zm494.2-126.5c-7.8 16.6-22.1 27.5-39.3 29.8-3.1.4-6.2.6-9.4.6-19.3 0-37-8-50-22.5L455.7 175l-23.8 26.6c-13 14.5-30.7 22.5-50 22.5s-37-8-50-22.5L308 175l-23.8 26.6c-13 14.5-30.7 22.5-50 22.5s-37-8-50-22.5L160.3 175l-23.8 26.6c-13 14.5-30.7 22.5-50 22.5-3.2 0-6.3-.2-9.4-.6-17.2-2.3-31.5-13.2-39.3-29.8-8.7-18.6-7.5-40.8 3.3-57.9L106 32h404l64.9 103.6c10.8 17.2 12 39.3 3.3 57.9z">
      </path>
    </svg>
  </div>

  <form #form='ngForm' (ngSubmit)="OnFormSubmit()" ngNativeValidate>
    <div class="form-container">
      <input type="text" id="storeName" name="storeName" placeholder="Store name" [(ngModel)]="model.store_name"
        required>
      <input type="text" id="storeAddress" name="storeAddress" placeholder="Store address"
        [(ngModel)]="model.stor_address" required>
      <input type="text" id="ownerName" name="ownerName" placeholder="Owner name" [(ngModel)]="model.owner_name"
        required>
      <input type="number" id="contactNo" name="contactNo" placeholder="Contact no." [(ngModel)]="model.contact_number"
        required>
      <input type="email" id="emailId" name="emailId" placeholder="Email Id" [(ngModel)]="model.email" required>

      <button
      type="submit"
      value="Submit"
      class="submit-button"
      [ngClass]="{'submitButton-disabled': submitButtonValid}"
      [disabled]="submitButtonValid">
        Submit
      </button>

    </div>
  </form>
</div>
