<div class="storeCategoryNavBarToggleIcon noselect" *ngIf="!settingNavBarState">
  <div (click)="toggelState()" class="menu-hamburger-icon">
    <div class="menu-hamburger-icon-active-circle">
      <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="menu-hamburger-icon-svg">
        <g class="menu-hamburger-icon-svg">
          <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
        </g>
      </svg>
    </div>
  </div>
</div>

<div class="container">
  <div class="top-heading">
    <h2>
      Security
    </h2>
  </div>

  <div class="loader" *ngIf="Userdata == undefined || Userdata == null">
  </div>

  <div class="inner-panel" *ngIf="Userdata">
    <ul class="unordered-list">

      <li>
        <div class="inner-section-list">

          <svg class="form-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="file-signature"
            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path
              d="M218.17 424.14c-2.95-5.92-8.09-6.52-10.17-6.52s-7.22.59-10.02 6.19l-7.67 15.34c-6.37 12.78-25.03 11.37-29.48-2.09L144 386.59l-10.61 31.88c-5.89 17.66-22.38 29.53-41 29.53H80c-8.84 0-16-7.16-16-16s7.16-16 16-16h12.39c4.83 0 9.11-3.08 10.64-7.66l18.19-54.64c3.3-9.81 12.44-16.41 22.78-16.41s19.48 6.59 22.77 16.41l13.88 41.64c19.75-16.19 54.06-9.7 66 14.16 1.89 3.78 5.49 5.95 9.36 6.26v-82.12l128-127.09V160H248c-13.2 0-24-10.8-24-24V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24v-40l-128-.11c-16.12-.31-30.58-9.28-37.83-23.75zM384 121.9c0-6.3-2.5-12.4-7-16.9L279.1 7c-4.5-4.5-10.6-7-17-7H256v128h128v-6.1zm-96 225.06V416h68.99l161.68-162.78-67.88-67.88L288 346.96zm280.54-179.63l-31.87-31.87c-9.94-9.94-26.07-9.94-36.01 0l-27.25 27.25 67.88 67.88 27.25-27.25c9.95-9.94 9.95-26.07 0-36.01z">
            </path>
          </svg>

          <div class="inner-section-list-left">
            <div class="row-one">
              <span class="list-label">
                Name:
              </span>
            </div>
            <div class="row-two">
              {{ Userdata.FirstName + "&nbsp;" + Userdata.LastName }}
            </div>
          </div>
          <!-- <div class="inner-section-list-right">
            <span class="edit-button" (click)="openProfileDataUploadDialog(Userdata)" title="Change profile data">
              Edit
            </span>
          </div> -->
        </div>
      </li>

      <li>
        <div class="inner-section-list">

          <svg class="form-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" role="img"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
              d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z">
            </path>
          </svg>

          <div class="inner-section-list-left">
            <div class="row-one">
              <span class="list-label">
                User Name:
              </span>
            </div>
            <div class="row-two">
              {{Userdata.UserName}}
            </div>
          </div>
          <!-- <div class="inner-section-list-right">
            <span class="change-pass-button" (click)="clickOnChangePassword()" title="Change Password">
              Change Password
            </span>
          </div> -->
        </div>
      </li>

      <li>
        <div class="inner-section-list">

          <svg class="form-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope" role="img"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z">
            </path>
          </svg>

          <div class="inner-section-list-left">
            <div class="row-one">
              <span class="list-label">
                Email Id:
              </span>
            </div>
            <div class="row-two">
              {{Userdata.UserEmail}}
            </div>
          </div>
          <!-- <div class="inner-section-list-right">
            <span class="change-pass-button" (click)="clickOnChangePassword()" title="Change Password">
              Change Password
            </span>
          </div> -->
        </div>
      </li>

      <li>
        <div class="inner-section-list">

          <svg class="form-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="phone" role="img"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z">
            </path>
          </svg>

          <div class="inner-section-list-left">
            <div class="row-one">
              <span class="list-label">
                Mobile Number:
              </span>
            </div>
            <div class="row-two">
              {{Userdata.UserPhone}}
            </div>
          </div>
          <!-- <div class="inner-section-list-right">
            <span class="change-pass-button" (click)="clickOnChangePassword()" title="Change Password">
              Change Password
            </span>
          </div> -->
        </div>
      </li>

      <li>
        <div class="inner-section-list">

          <svg class="form-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="lock-alt" role="img"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
              d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zM264 392c0 22.1-17.9 40-40 40s-40-17.9-40-40v-48c0-22.1 17.9-40 40-40s40 17.9 40 40v48zm32-168H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z">
            </path>
          </svg>

          <div class="inner-section-list-left">
            <div class="row-one">
              <span class="list-label">
                Password:
              </span>
            </div>
            <div class="row-two">
              ***********
            </div>
          </div>
          <div class="inner-section-list-right">
            <span class="change-pass-button" (click)="clickOnChangePassword()" title="Change Password">
              Change Password
            </span>
          </div>
        </div>
      </li>

    </ul>
  </div>
</div>
