.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 575px) {
  .column {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .column {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .column {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .column {
    float: left;
    width: 50%;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (min-width: 1200px) {
  .column {
    float: left;
    width: 50%;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}

.error-template {
  margin-top: 15%;
  text-align: center;
}

.error-template h1 {
  color: #252932;
  font-size: 700%;
  font-weight: 900;
  text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px, rgba(61, 61, 61, 0.3) 3px 3px;
}

.error-template h2 {
  color: #252932;
  font-size: 300%;
  font-weight: 500;
  text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.6) 2px 2px, rgba(61, 61, 61, 0.3) 3px 3px;
}

.error-template h3 {
  color: #252932;
  font-size: 250%;
  font-weight: 500;
}

.svg-box {
  display: block;
  margin: auto;
  margin-top: 8%;
  margin-bottom: 0;
  width: 380px;
  height: 500px;
}
