<div class="loader" *ngIf="storeProductLoading"></div>

<div class="main-container" *ngIf="storeProductLoaded">
  <div class="product-gallery">
    <div class="product-image">
      <img
        class="image"
        [src]="selectedImageSrc ? selectedImageSrc : productPlaceholder"
      />
      <!-- <img class="image" [src]="productPlaceholder"> -->
      <div class="left-nav-box">
        <svg
          class="left-svg"
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="chevron-left"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 320 512"
        >
          <path
            d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"
          ></path>
        </svg>
      </div>
      <div class="right-nav-box">
        <svg
          class="right-svg"
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="chevron-right"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 320 512"
        >
          <path
            d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"
          ></path>
        </svg>
      </div>
    </div>
    <ul class="image-list">
      <li
        class="image-item"
        (click)="clickOnProductImage(image)"
        *ngFor="let image of storeProduct.images; index as i"
      >
        <svg
          class="dot-svg"
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="circle"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"
          ></path>
        </svg>
      </li>
    </ul>
  </div>

  <div class="product-right-info">
    <h1
      *ngIf="storeProduct.product_name"
      [innerHTML]="storeProduct.product_name"
    ></h1>
    <!-- <h1 *ngIf="storeProduct.prod_title" [innerHTML]="storeProduct.prod_title"></h1> -->
    <!-- <h2 *ngIf="storeProduct.common_name" [innerHTML]="storeProduct.common_name"></h2> -->
    <!-- <p *ngIf="storeProduct.product_type" [innerHTML]="storeProduct.product_type"></p> -->
    <div class="second-container" *ngIf="storeProductLoaded">
      <p *ngIf="storeProduct.shelf_life">
        <strong>Shelf Life: &nbsp;</strong>{{ storeProduct.shelf_life }}
      </p>
      <p *ngIf="storeProduct.product_type">
        <strong>Product Type: &nbsp;</strong>{{ storeProduct.product_type }}
      </p>
      <p *ngIf="storeProduct.product_brand">
        <strong>Product Brand: &nbsp;</strong>{{ storeProduct.product_brand }}
      </p>
      <p *ngIf="storeProduct.manufacturer">
        <strong>Manufacturer: &nbsp;</strong>{{ storeProduct.manufacturer }}
      </p>
      <p *ngIf="storeProduct.organic">
        <strong>Organic: &nbsp;</strong>{{ storeProduct.organic }}
      </p>

      <div class="description">
        <p
          *ngIf="storeProduct.prod_desc"
          [innerHTML]="storeProduct.prod_desc | decodeHTML"
        ></p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="second-container"  *ngIf="storeProductLoaded">
  <div class="description">
    <p *ngIf="storeProduct.prod_desc" [innerHTML]="storeProduct.prod_desc | decodeHTML"></p>
  </div>
  <p *ngIf="storeProduct.shelf_life"><strong>Shelf Life: &nbsp;</strong>{{ storeProduct.shelf_life }}</p>
  <p *ngIf="storeProduct.product_type"><strong>Product Type: &nbsp;</strong>{{ storeProduct.product_type }}</p>
  <p *ngIf="storeProduct.product_brand"><strong>Product Brand: &nbsp;</strong>{{ storeProduct.product_brand }}</p>
  <p *ngIf="storeProduct.manufacturer"><strong>Manufacturer: &nbsp;</strong>{{ storeProduct.manufacturer }}</p>
  <p *ngIf="storeProduct.organic"><strong>Organic: &nbsp;</strong>{{ storeProduct.organic }}</p>
</div> -->

<!--

<main>
  <div class="container" *ngIf="storeProductLoaded">
    <div class="grid product">
      <div class="col-6">
        <div class="product-gallery">
          <div class="product-image">
            <img class="active" [src]="selectedImageSrc ? selectedImageSrc : storeProduct.prod_images">
          </div>
          <ul class="image-list">
            <li class="image-item"><img [src]="storeProduct.prod_images"
                (click)="clickOnProductImage(storeProduct.prod_images)">
            </li>
          </ul>
        </div>
      </div>
      <div class="col-6">
        <h1 *ngIf="storeProduct.product_name" [innerHTML]="storeProduct.product_name"></h1>
        <h1 [innerHTML]="storeProduct.prod_title">
        </h1>
        <h2 [innerHTML]="storeProduct.common_name"></h2>
        <div class="description">
          <p [innerHTML]="storeProduct.prod_desc | decodeHTML"></p>
        </div>
        <p><strong>Shelf Life: &nbsp;</strong>{{ storeProduct.shelf_life }}</p>
        <p><strong>Product Type: &nbsp;</strong>{{ storeProduct.product_type }}</p>
        <p><strong>Product Brand: &nbsp;</strong>{{ storeProduct.product_brand }}</p>
        <p><strong>Manufacturer: &nbsp;</strong>{{ storeProduct.manufacturer }}</p>
        <p><strong>Organic: &nbsp;</strong>{{ storeProduct.organic }}</p>
      </div>
    </div>
  </div>
</main> -->
