$white: #fff;
$black: #333;
$lightergray: #d5d5d5;
$lightgray: #f0f3f1;
$gray: #e3dddd;
$text: #888;
$button: #3e3e3f;
$button-hover: #565657;


.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(221, 72, 20);
  // width: 120px;
  // height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
  width: 80px;
  height: 80px;
  margin-top: 18%;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.main-container {
  display: flex;
  flex-direction: column;
  padding: 22px;

  .product-gallery {
    flex-grow: 1;

    .product-image {

      .image {
        height: inherit;
        width: 100%;
        position: relative;
      }

      .left-nav-box {
        display: none;
        position: absolute;
        background-color: rgba(64, 65, 65, .4);
        height: inherit;
        top: 0;
        left: 0;

        .left-svg {
          width: 22px;
          height: 22px;
          fill: #333;
        }
      }

      .left-nav-box:hover {
        display: none;
        background-color: rgba(64, 65, 65, .4);

        .left-svg {
          width: 22px;
          height: 22px;
          fill: #333;
        }
      }

      .right-nav-box {
        display: none;
        position: absolute;
        background-color: rgba(64, 65, 65, .4);
        height: inherit;
        top: 0;
        right: 0;

        .left-svg {
          width: 22px;
          height: 22px;
          fill: #333;
        }
      }

      .right-nav-box:hover {
        display: none;
        background-color: rgba(64, 65, 65, .4);

        .right-svg {
          width: 22px;
          height: 22px;
          fill: #333;
        }
      }
    }

    .image-list {
      padding: 0;
      margin: 0;
      margin-top: 12px;
      display: flex;
      list-style: none;
      height: 18px;

      .image-item {
        list-style: none;
        display: flex;
        margin: auto;
      }
    }
  }

  .product-right-info {
    flex-grow: 1;
    margin-left: 0;

    h1,
    h2,
    h3,
    h4 {
      color: $black;
      font-weight: normal;
      margin: 1.75rem 0 1rem 0;
    }

    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 2.125rem;
      margin: 0;
    }

    h3 {
      font-size: 2rem;
    }

    h4 {
      font-size: 1.5rem;
      margin: 1rem 0 0.5rem 0;
    }
  }
}

.second-container {
  padding: 22px;

  .description {
    p {
      font-size: 1em;
    }
  }
}

@media (min-width: 700px) {
  .main-container {
    display: flex;
    flex-direction: row;
    // align-content: center;
    // align-items: center;

    padding: 22px;

    .product-gallery {
      flex-grow: 1;
      height: inherit;

      .product-image {
        height: 252px;

        .image {
          height: inherit;
        }
      }

      .image-list {

        .image-item {

          .dot-svg {
            fill: #dd4814;
            width: 12px;
            height: 12px;
            border: 2px solid transparent;
            cursor: pointer;
          }

          .dot-svg:hover,
          .dot-svg.active {
            fill: red;
            width: 16px;
            height: 16px;
            border: 0;
          }
        }
      }
    }

    .product-right-info {
      flex-grow: 1;
      padding-left: 22px;
    }
  }

  .second-container {
    padding: 22px;

    .description {
      p {
        font-size: 1em;
      }
    }
  }
}






// ul {
//   padding: 0;
//   margin: 0;
//   list-style: none;

//   li {
//     margin: 0 1.75rem 0 0;
//   }
// }

// a {
//   color: $text;
//   text-decoration: none;
//   transition: all 0.2s ease;

//   &:hover {
//     color: $black;
//   }

//   &.active {
//     color: $black;
//   }
// }

// h1,
// h2,
// h3,
// h4 {
//   color: $black;
//   font-weight: normal;
//   margin: 1.75rem 0 1rem 0;
// }

// h1 {
//   font-size: 2.5rem;
// }

// h2 {
//   font-size: 2.125rem;
//   margin: 0;
// }

// h3 {
//   font-size: 2rem;
// }

// h4 {
//   font-size: 1.5rem;
//   margin: 1rem 0 0.5rem 0;
// }

// section {
//   display: block;
// }

// img {
//   max-width: 100%;
//   height: auto;
//   object-fit: cover;
// }

// nav {
//   display: block;

//   li {
//     font-size: 1.125rem;
//     margin: 0;
//   }
// }

// .flex-nav ul {
//   position: absolute;
//   z-index: 1;
//   list-style: none;
//   margin: 0;
//   padding: 0;
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: column;
//   display: none;
//   width: 100%;
//   left: 0;
//   padding: 1rem;
//   background: $white;
//   text-align: center;

//   &.active {
//     display: flex;
//   }

//   li {
//     margin: 0.5rem 0;
//   }
// }

// .toggle-nav {
//   display: flex;
//   justify-content: flex-end;
//   font-size: 1.125rem;
//   line-height: 1.7;
//   margin: 1rem 0;

//   i {
//     font-size: 1.5rem;
//     line-height: 1.4;
//     margin: 0 0 0 0.5rem;
//   }
// }

// #highlight {
//   color: $black;
//   font-size: 1.125rem;
//   text-transform: uppercase;
// }

// .price {
//   margin: 0;
// }

// .breadcrumb-list {
//   display: flex;
//   flex-wrap: wrap;
//   padding: 0;
//   margin: 1rem 0 0 0;
//   list-style: none;

//   li {
//     font-size: 0.85rem;
//     letter-spacing: 0.125rem;
//     text-transform: uppercase;
//   }
// }

// .breadcrumb-item {
//   &.active {
//     color: $black;
//   }

//   +.breadcrumb-item {
//     &::before {
//       content: '/';
//       display: inline-block;
//       padding: 0 0.5rem;
//       color: $lightergray;
//     }
//   }
// }

// .description {
//   border-top: 0.0625rem solid $gray;
//   margin: 2rem 0;
//   padding: 1rem 0 0 0;
// }

// // .add-to-cart {
// //   position: relative;
// //   display: inline-block;
// //   background: $button;
// //   color: $white;
// //   border: none;
// //   border-radius: 0;
// //   padding: 1.25rem 2.5rem;
// //   font-size: 1rem;
// //   text-transform: uppercase;
// //   cursor: pointer;
// //   transform: translateZ(0);
// //   transition: color 0.3s ease;
// //   letter-spacing: 0.0625rem;
// //   &:hover {
// //     &::before {
// //       transform: scaleX(1);
// //     }
// //   }
// //   &::before {
// //     position: absolute;
// //     content: '';
// //     z-index: -1;
// //     top: 0;
// //     left: 0;
// //     right: 0;
// //     bottom: 0;
// //     background: $button-hover;
// //     transform: scaleX(0);
// //     transform-origin: 0 50%;
// //     transition: transform 0.3s ease-out;
// //   }
// // }

// .container {
//   margin: auto;
//   padding: 0 1rem;
//   max-width: 75rem;
//   width: 100%;
// }

// .grid {
//   >[class*="column-"] {
//     padding: 1rem;
//   }

//   &.menu,
//   &.product {
//     border-bottom: 0.0625rem solid $gray;
//   }

//   &.menu {
//     >[class*="column-"] {
//       padding: 0.5rem 1rem 0.5rem 1rem;
//     }
//   }

//   &.product {
//     padding: 0 0 1.5rem 0;
//   }

//   &.second-nav {
//     >[class*="column-"] {
//       padding: 0.5rem 1rem;
//     }
//   }
// }

// footer {
//   padding: 1rem 0;
//   text-align: center;
// }

// .product-image {
//   display: none;
// }

// .image-list {
//   li {
//     margin: 0;
//   }
// }

// @media (min-width: 700px) {

//   .product-image img,
//   .image-list img {
//     width: 100%;
//   }

//   .product-image {
//     display: block;

//     img {
//       height: 52vh;

//       &.active {
//         display: block;
//         margin: 0 0 0.75rem 0;
//       }
//     }
//   }

//   .image-list {
//     display: flex;
//     overflow: hidden;

//     li {
//       margin: 0 0.75rem 0 0;
//       flex-basis: 100%;

//       &:nth-child(3) {
//         margin: 0;
//       }
//     }

//     img {
//       height: 10rem;
//       width: 10rem;
//       transition: opacity 0.3s ease;
//       cursor: pointer;

//       &:hover {
//         opacity: 0.7;
//       }
//     }
//   }

//   nav ul {
//     justify-content: flex-end;
//   }

//   .toggle-nav {
//     display: none;
//   }

//   .flex-nav {
//     display: block;

//     ul {
//       display: flex;
//       flex-direction: row;
//       position: relative;
//       justify-content: flex-end;

//       li {
//         font-size: 1.125rem;
//         margin: 0 1.5rem 0 0;

//         &:nth-child(4) {
//           margin: 0;
//         }
//       }
//     }
//   }
// }

// @keyframes fadeImg {
//   from {
//     opacity: 0;
//   }

//   to {
//     opacity: 1;
//   }
// }

// .col-6 {
//   width: 50%;
//   float: left;

//   p {
//     padding-left: 1em;
//     font-weight: 300;

//     strong {
//       font-weight: 500;
//     }
//   }
// }

// @media (max-width: 700px) {
//   .col-6 {
//     width: 100%;
//   }
// }

// .add-to-cart {
//   display: block;
//   padding: 10px 16px;
//   border: none;
//   color: #ffffff;
//   background-color: rgb(221, 72, 20);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//   white-space: nowrap;
//   font-size: 1rem;
//   font-weight: 500;
//   letter-spacing: .007px;
//   text-transform: uppercase;
//   margin: auto;
//   cursor: pointer;
// }

// .add-to-cart:hover {
//   background-color: rgba(221, 72, 20, .6);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
// }
