.card-detail {
  margin: 35px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-detail>img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-detail h2 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}

.card-detail p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-detail .card-detail-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-detail-infos .card-detail-user {
  position: absolute;
  /* right: 16px;
  top: -20px;
  width: 45px; */
  right: 26px;
  top: -30px;
  width: 65px;
  border-radius: 50%;
}
