<div class="card-detail" *ngIf="productCategoriesLoaded">
  <img [src]="storeDetail.store_photo ? storeDetail.store_photo: storePlaceholderImage">
  <div class="card-detail-infos">
    <div>
      <h2 [title]="storeDetail.store_name"
        [innerHTML]="(storeDetail.store_name.length > 80) ? (storeDetail.store_name + '...' | decodeHTML | slice:0:80) : storeDetail.store_name | decodeHTML">
      </h2>
      <!-- <p [title]="storeDetail.contact_no" [innerHTML]="storeDetail.contact_no | decodeHTML"></p> -->
      <p [title]="storeDetail.store_address"
        [innerHTML]="(storeDetail.store_address.length > 120) ? (storeDetail.store_address + '...' | decodeHTML | slice:0:120) : storeDetail.store_address | decodeHTML">
      </p>
    </div>
    <h2 class="card-detail-pricing" [title]="storeDetail.owner_name"
      [innerHTML]="(storeDetail.owner_name.length > 40) ? (storeDetail.owner_name + '...' | decodeHTML | slice:0:40) : storeDetail.owner_name | decodeHTML">
    </h2>
    <img [src]='storeDetail.owner_photo ? storeDetail.owner_photo : ownerPlaceholder'
      class="card-detail-user avatar-bordered">
  </div>
</div>
