<div class="wrapper noselect">

  <div class="header">
    <h3 class="header-text">
      Categories
    </h3>
  </div>

  <div class="loader" *ngIf="!noCategoriesStores">
  </div>

  <div class="content" *ngIf="noCategoriesStores">
    <div class="content-grid">
      <div class="category-item" *ngFor="let category of storeCategories | keyvalue">
        <a class="item-link" (click)="clickOnStoreCategoryItem(category.value)">
          <div class="Category-thumbnail">
            <img class="Category-thumbnail-img" [alt]="category.value.cat_name + ' image'"
              [src]="category.value.file_name ? category.value.file_name : categoryPlaceholderImage">
          </div>
          <div class="details">
            <div class="item-name" [title]="category.value.cat_name | decodeHTML">
              <h3 class="item-name-h3" [innerHTML]="category.value.cat_name | decodeHTML">
                <!-- {{category.value.cat_name}} -->
              </h3>
            </div>
            <!-- {{ (blogSummary.length>256)? (blogSummary + '...' | slice:0:256): blogSummary + '...' }} -->
            <div class="item-metadata">
              <div class="item-metadata-category" [title]="category.value.cat_desc | decodeHTML"
                [innerHTML]="category.value.cat_desc | decodeHTML">
                <!-- {{category.value.cat_desc}} -->
              </div>
              <!-- <div class="item-metadata-line2" [title]="category.value.store_city">
                  {{category.value.store_city}}
                </div> -->
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
