.wrapper {
  margin-top: 22px;
}

.wrapper,
.header,
.content,
.content-grid {
  width: 100%;
}

.header {
  height: 60px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(221, 72, 20);
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
  width: 80px;
  height: 80px;
  margin-top: 15%;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.content {
  width: 100%;
}

.content-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-text {
  color: #0d0d0d;
  overflow: hidden;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2rem;
  text-align: center;
}

.item {
  width: 210px;
  height: 205px;
  margin: auto;
}

a:visited,
a:active,
a:focus {
  outline: 0;
  border: none;
  text-decoration: none;
  outline-style: none;
  -moz-outline-style: none;
}

.item-thumbnail {
  text-decoration: none;
}

.item-thumbnail,
.item-thumbnail-img {
  width: 210px;
  height: 118px;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

.Category-thumbnail,
.Category-thumbnail-img {
  width: 100px;
  height: 100px;
  margin: auto;
  padding: 0;
  border: 0;
  background: transparent;
}

.details {
  padding-left: 8px;
  padding-right: 8px;
  height: 84px;
}

.item-name,
.item-name-h3 {
  height: 26px;
}

.item-name-h3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 0.9em;
  font-weight: 500;
  color: #0d0d0d;
  text-transform: capitalize;
}

.item-metadata {
  height: 36px;
  color: #606060;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 0.9em;
  font-weight: 500;
}

.item-metadata-line1 {
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-metadata-line1 {
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-metadata-category {
  height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.item-link {
  cursor: pointer;
}

/* desable selection of text in browser */
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

.category-item {
  width: 210px;
  height: 205px;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-bottom: 12px;
  box-shadow: 5px 5px 3px lightgray;
}

.category-item:hover {
  border: 1px solid gray;
}
