.storeCategoryNavBarToggleIcon {
  position: fixed;
  top: 55px;
  width: 100%;
  z-index: 4;
}

.menu-hamburger-icon-active-circle {
  outline: none;
  height: 40px;
  width: 40px;
}

.menu-hamburger-icon-active-circle:active {
  background: rgb(231, 231, 231);
  border-radius: 50%;
}

.menu-hamburger-icon {
  text-decoration: none;
}

.menu-hamburger-icon-svg {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin: auto;
  fill: #9b9b9b;
  color: #9b9b9b;
  margin-top: 8px;
  margin-left: 8px;
}


.container {
  display: block;
  width: 100%;

  .top-heading {
    text-align: center;

    h2 {
      font-size: 2em;
      font-weight: 300;
    }
  }

  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(221, 72, 20);
    // width: 120px;
    // height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    margin: auto;
    width: 80px;
    height: 80px;
    margin-top: 15%;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .inner-panel {
    display: block;

    .unordered-list {
      display: block;
      margin: auto;
      color: #111;
      border-radius: 4px;
      border: 1px #ddd solid;
      background-color: #fff;
      margin-bottom: 40px;
      padding-right: 40px;

      li {
        width: 100%;
        list-style: none;
        border-bottom: 1px solid #e7e7e7;

        .inner-section-list {
          padding: 14px 18px;
          width: 90%;
          display: flex;
          flex-direction: row;

          .form-icon {
            width: 1em;
            margin-right: 10px;
            color: gray;
            fill: gray;
          }

          .inner-section-list-left {
            float: left;

            .row-one {
              width: 100%;

              .list-label {
                color: #111;
                font-size: 1em;
                font-weight: 500;
              }
            }

            .row-two {
              width: 100%;
              font-size: 1em;
              font-weight: 300;
            }
          }

          .inner-section-list-right {
            // width: 130px;
            float: right;

            .change-pass-button {
              padding: 10px 16px;
              border: none;
              color: #ffffff;
              background-color: rgb(221, 72, 20);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              vertical-align: middle;
              white-space: nowrap;
              font-size: 1rem;
              font-weight: 500;
              letter-spacing: .007px;
              text-transform: uppercase;
              margin-right: 22px;
              cursor: pointer;
            }

            .change-pass-button:hover {
              background-color: rgba(221, 72, 20, .6);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
            }
          }
        }
      }
    }

    .edit-button-section {
      margin-bottom: 4em;

      .edit-button {
        display: block;
        margin: auto;
        width: 2.5em;
        padding: 10px 16px;
        border: none;
        color: #ffffff;
        background-color: rgb(221, 72, 20);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        white-space: nowrap;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: .007px;
        text-transform: uppercase;
        cursor: pointer;
      }

      .edit-button:hover {
        background-color: rgba(221, 72, 20, .6);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
      }
    }

  }
}



.change-pass-button {
  padding: 10px 16px;
  border: none;
  color: #ffffff;
  background-color: rgb(221, 72, 20);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .007px;
  text-transform: uppercase;
  margin-right: 22px;
  cursor: pointer;
}

.change-pass-button:hover {
  background-color: rgba(221, 72, 20, .6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
}

@media screen and (min-width: 900px) {
  .container {

    .inner-panel {

      .unordered-list {
        width: 80%;
        margin: auto;
      }

    }
  }
}
