<div class="storeCategoryNavBarToggleIcon noselect" *ngIf="!settingNavBarState">
  <div (click)="toggelState()" class="menu-hamburger-icon">
    <div class="menu-hamburger-icon-active-circle">
      <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="menu-hamburger-icon-svg">
        <g class="menu-hamburger-icon-svg">
          <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
        </g>
      </svg>
    </div>
  </div>
</div>

<div class="container">
  <div class="top-heading">
    <h2>
      Address
    </h2>
  </div>

  <div class="loader" *ngIf="isUserAddressAvailable == undefined || isUserAddressAvailable == null">
  </div>

  <div class="inner-panel" *ngIf="isUserAddressAvailable">
    <ul class="unordered-list">

      <li>
        <div class="inner-section-list">

          <svg class="form-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="crosshairs" role="img"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            d="M500 224h-30.364C455.724 130.325 381.675 56.276 288 42.364V12c0-6.627-5.373-12-12-12h-40c-6.627 0-12 5.373-12 12v30.364C130.325 56.276 56.276 130.325 42.364 224H12c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h30.364C56.276 381.675 130.325 455.724 224 469.636V500c0 6.627 5.373 12 12 12h40c6.627 0 12-5.373 12-12v-30.364C381.675 455.724 455.724 381.675 469.636 288H500c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12zM288 404.634V364c0-6.627-5.373-12-12-12h-40c-6.627 0-12 5.373-12 12v40.634C165.826 392.232 119.783 346.243 107.366 288H148c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12h-40.634C119.768 165.826 165.757 119.783 224 107.366V148c0 6.627 5.373 12 12 12h40c6.627 0 12-5.373 12-12v-40.634C346.174 119.768 392.217 165.757 404.634 224H364c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h40.634C392.232 346.174 346.243 392.217 288 404.634zM288 256c0 17.673-14.327 32-32 32s-32-14.327-32-32c0-17.673 14.327-32 32-32s32 14.327 32 32z">
          </path>
        </svg>

          <div class="inner-section-list-left">
            <div class="row-one">
              <span class="list-label">
                Location:
              </span>
            </div>
            <div class="row-two" *ngIf="UserAddress">
              {{ UserAddress.address_line1 }}
            </div>
          </div>
          <!-- <div class="inner-section-list-right">
            <span class="change-pass-button" (click)="clickOnChangeAddress()" title="Change Address">
              Edit
            </span>
          </div> -->
        </div>
      </li>

      <li>
        <div class="inner-section-list">

          <svg class="form-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="home" role="img"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
          <path
            d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z">
          </path>
        </svg>
        
          <div class="inner-section-list-left">
            <div class="row-one">
              <span class="list-label">
                House/Flat No./Apartment Name:
              </span>
            </div>
            <div class="row-two" *ngIf="UserAddress">
              {{UserAddress.address_line2}}
            </div>
          </div>
          <!-- <div class="inner-section-list-right">
            <span class="change-pass-button" (click)="clickOnChangeAddress()" title="Change Address">
              Edit
            </span>
          </div> -->
        </div>
      </li>

      <li>
        <div class="inner-section-list">

          <svg class="form-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marker-alt"
            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <path
              d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z">
            </path>
          </svg>

          <div class="inner-section-list-left">
            <div class="row-one">
              <span class="list-label">
                City:
              </span>
            </div>
            <div class="row-two" *ngIf="UserAddress">
              {{UserAddress.city}}
            </div>
          </div>
          <!-- <div class="inner-section-list-right">
            <span class="change-pass-button" (click)="clickOnChangeAddress()" title="Change Address">
              Edit
            </span>
          </div> -->
        </div>
      </li>

      <li>
        <div class="inner-section-list">

          <svg class="form-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="globe" role="img"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
            <path
              d="M336.5 160C322 70.7 287.8 8 248 8s-74 62.7-88.5 152h177zM152 256c0 22.2 1.2 43.5 3.3 64h185.3c2.1-20.5 3.3-41.8 3.3-64s-1.2-43.5-3.3-64H155.3c-2.1 20.5-3.3 41.8-3.3 64zm324.7-96c-28.6-67.9-86.5-120.4-158-141.6 24.4 33.8 41.2 84.7 50 141.6h108zM177.2 18.4C105.8 39.6 47.8 92.1 19.3 160h108c8.7-56.9 25.5-107.8 49.9-141.6zM487.4 192H372.7c2.1 21 3.3 42.5 3.3 64s-1.2 43-3.3 64h114.6c5.5-20.5 8.6-41.8 8.6-64s-3.1-43.5-8.5-64zM120 256c0-21.5 1.2-43 3.3-64H8.6C3.2 212.5 0 233.8 0 256s3.2 43.5 8.6 64h114.6c-2-21-3.2-42.5-3.2-64zm39.5 96c14.5 89.3 48.7 152 88.5 152s74-62.7 88.5-152h-177zm159.3 141.6c71.4-21.2 129.4-73.7 158-141.6h-108c-8.8 56.9-25.6 107.8-50 141.6zM19.3 352c28.6 67.9 86.5 120.4 158 141.6-24.4-33.8-41.2-84.7-50-141.6h-108z">
            </path>
          </svg>

          <div class="inner-section-list-left">
            <div class="row-one">
              <span class="list-label">
                State:
              </span>
            </div>
            <div class="row-two" *ngIf="UserAddress">
              {{UserAddress.state}}
            </div>
          </div>
          <!-- <div class="inner-section-list-right">
            <span class="change-pass-button" (click)="clickOnChangeAddress()" title="Change Address">
              Edit
            </span>
          </div> -->
        </div>
      </li>

      <li>
        <div class="inner-section-list">

          <svg class="form-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="flag-alt" role="img"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              d="M32 0C14.3 0 0 14.3 0 32v464c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V32C64 14.3 49.7 0 32 0zm430.6 4.2C291.3 91.5 305.4-62.2 96 32.4V384c185.7-92.2 221.7 53.3 397.5-23.1 11.4-5 18.5-16.5 18.5-28.8V30.8c0-25.1-26.8-38.1-49.4-26.6z">
            </path>
          </svg>

          <div class="inner-section-list-left">
            <div class="row-one">
              <span class="list-label">
                Country:
              </span>
            </div>
            <div class="row-two" *ngIf="UserAddress">
              {{UserAddress.country}}
            </div>
          </div>
          <!-- <div class="inner-section-list-right">
            <span class="change-pass-button" (click)="clickOnChangeAddress()" title="Change Address">
              Edit
            </span>
          </div> -->
        </div>
      </li>

      <li>
        <div class="inner-section-list">

          <svg class="form-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="address-card"
            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path
              d="M528 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-352 96c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zm112 236.8c0 10.6-10 19.2-22.4 19.2H86.4C74 384 64 375.4 64 364.8v-19.2c0-31.8 30.1-57.6 67.2-57.6h5c12.3 5.1 25.7 8 39.8 8s27.6-2.9 39.8-8h5c37.1 0 67.2 25.8 67.2 57.6v19.2zM512 312c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-64c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-64c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16z">
            </path>
          </svg>

          <div class="inner-section-list-left">
            <div class="row-one">
              <span class="list-label">
                Pin Code:
              </span>
            </div>
            <div class="row-two" *ngIf="UserAddress">
              {{UserAddress.postal_code}}
            </div>
          </div>
          <!-- <div class="inner-section-list-right">
            <span class="change-pass-button" (click)="clickOnChangeAddress()" title="Change Address">
              Edit
            </span>
          </div> -->
        </div>
      </li>

    </ul>

    <div class="edit-button-section">
      <span class="edit-button" (click)="clickOnChangeAddress()" title="Change Address">
        Edit
      </span>
    </div>

  </div>
</div>
