.wrapper {
  margin-top: 22px;
}

.wrapper,
.header,
.content,
.content-grid {
  width: 100%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(221, 72, 20);
  /* width: 120px;
  height: 120px; */
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
  width: 80px;
  height: 80px;
  margin-top: 20%;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.no-store-section {
  text-align: center;
  margin-top: 40px;
}

.store-icon-svg {
  display: inline-block;
  margin: auto;
}

.store-icon-svg {
  width: 140px;
  color: rgb(221, 72, 20);
  fill: rgb(221, 72, 20);
}

.no-store-section-h2 {
  font-size: 2em;
  font-weight: 300;
}

.header {
  height: 60px;
}

.content {
  width: 100%;
}

.content-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-text {
  float: left;
  margin-left: 16px;
  margin-top: 0;
  margin-bottom: 0;
  color: #0d0d0d;
  overflow: hidden;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
}

.refer-a-store-button {
  display: inline-block;
  padding: 10px 16px;
  border: none;
  color: #ffffff;
  background-color: rgb(221, 72, 20);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .007px;
  text-transform: uppercase;
  margin: auto;
  cursor: pointer;
}

.refer-a-store-button:hover {
  background-color: rgba(221, 72, 20, .6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
}

.item {
  width: 210px;
  height: 205px;
  margin: auto;
}

a:visited,
a:active,
a:focus {
  outline: 0;
  border: none;
  text-decoration: none;
  outline-style: none;
  -moz-outline-style: none;
}

.item-thumbnail {
  text-decoration: none;
}

.item-thumbnail,
.item-thumbnail-img {
  width: 210px;
  height: 118px;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

.details {
  width: 210px;
  height: 84px;
}

.item-name,
.item-name-h3 {
  height: 32px;
}

.item-name-h3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 0.9em;
  font-weight: 500;
  color: #0d0d0d;
}

.item-metadata {
  height: 36px;
  color: #606060;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 0.9em;
  font-weight: 500;
}

.item-metadata-line1 {
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-metadata-line1 {
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-metadata-category {
  height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-link {
  cursor: pointer;
}

/* desable selection of text in browser */
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome and Opera */
}
