/* ubuntu-300 - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/ubuntu-v14-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Ubuntu Light"), local("Ubuntu-Light"),
    url("./assets/fonts/ubuntu-v14-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/ubuntu-v14-latin-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./assets/fonts/ubuntu-v14-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("./assets/fonts/ubuntu-v14-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/ubuntu-v14-latin-300.svg#Ubuntu") format("svg");
  /* Legacy iOS */
}

/* ubuntu-regular - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/ubuntu-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"),
    url("./assets/fonts/ubuntu-v14-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/ubuntu-v14-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/ubuntu-v14-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("./assets/fonts/ubuntu-v14-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/ubuntu-v14-latin-regular.svg#Ubuntu") format("svg");
  /* Legacy iOS */
}

/* ubuntu-500 - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/ubuntu-v14-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Ubuntu Medium"), local("Ubuntu-Medium"),
    url("./assets/fonts/ubuntu-v14-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/ubuntu-v14-latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./assets/fonts/ubuntu-v14-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("./assets/fonts/ubuntu-v14-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/ubuntu-v14-latin-500.svg#Ubuntu") format("svg");
  /* Legacy iOS */
}

// @import '~@angular/material/theming';

// $custom-typography: mat-typography-config($font-family: "'Ubuntu', 'Trebuchet', 'Georgia', 'Sans-Serif', 'Garamond', 'Helvetica', 'Tahoma'");
// @include mat-core($custom-typography);

// $custom-primary: mat-palette($mat-blue);
// $custom-accent: mat-palette($mat-amber);
// $custom-theme: mat-light-theme($custom-primary, $custom-accent);

* {
  font-family: "Ubuntu", "Trebuchet", "Georgia", "Sans-Serif", "Garamond",
    "Helvetica", "Tahoma";
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

/* reset ngx toaster position */
#toast-container {
  top: 52px;
  right: 12px;
}
