.container {
  display: block;
  width: 100%;
  // height: auto;

  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(221, 72, 20);
    // width: 120px;
    // height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    margin: auto;
    width: 80px;
    height: 80px;
    margin-top: 18%;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .top-heading {
    text-align: center;

    h2 {
      font-size: 2em;
      font-weight: 300;
    }
  }

  .no-order-panal {
    text-align: center;

    h3 {
      font-size: 1.75em;
      font-weight: 300;
    }
  }

  .orderItem {
    display: block;
    width: 89%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 14px;
    border-radius: 4px;

    .orderItem-Header-box {
      display: block;
      width: 100%;
      background-color: #f6f6f6;
      border: 1px #ddd solid;
      border-radius: 4px 4px 0 0;
      padding: 14px 18px;
      font-size: 13px;
      line-height: 19px;
      color: #111;

      .orderItem-Header-box-inner {
        border-radius: 4px 4px 0 0;

        .inner-left-box {
          display: inline-block;
          width: 100%;

          .column-one {
            display: inline-block;
            width: 100%;

            .row-one {
              display: inline-block;
              width: 30%;
            }

            .row-two {
              display: inline-block;
              width: 70%;
            }
          }

          .column-two {
            display: inline-block;
            width: 100%;

            .row-one {
              display: inline-block;
              width: 30%;
            }

            .row-two {
              display: inline-block;
              width: 70%;
            }

            .row-two:before {
              content: '₹';
            }
          }

          .column-three {
            display: inline-block;
            width: 100%;

            .row-one {
              display: inline-block;
              width: 30%;
            }

            .row-two {
              display: inline-block;
              width: 70%;
            }
          }

        }

        .inner-right-box {
          display: inline-block;
          width: 100%;

          .row-one {
            display: inline-block;
            width: 30%;
          }

          .row-two {
            display: inline-block;
            width: 70%;
          }
        }
      }
    }

    .orderItem-contant-box {
      display: block;
      width: 100%;
      border: 1px #ddd solid;
      border-top: none;
      padding: 14px 18px;
      border-radius: 0 0 4px 4px;

      .orderItem-contant-box-inner {
        padding: 14px 18px;

        .contant-box-left {
          width: 100%;

          .addressContainer {
            .title {
              font-weight: 300;
              font-size: 2em;
              color: #333;
              padding-bottom: 10px;

              .title-status {
                color: #494;
              }
            }

            p {
              color: #333;
              font-weight: 300;

              .sub-title {
                font-weight: 300;
                font-size: 1.5em;
                color: #333;
              }
            }

            .OrderDetailsButton {
              display: block;
              width: 80%;
              align-items: center;
              padding: 10px 16px;
              border: none;
              color: #ffffff;
              background-color: rgb(221, 72, 20);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              white-space: nowrap;
              font-size: 1rem;
              font-weight: 500;
              letter-spacing: .007px;
              text-transform: uppercase;
              cursor: pointer;
              margin: auto;
              margin-bottom: 12px;
            }

            .OrderDetailsButton:hover {
              background-color: rgba(221, 72, 20, .6);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
            }
          }
        }

        .contant-box-right {
          width: 100%;

          .OrderDetailsButton {
            display: block;
            width: 80%;
            align-items: center;
            padding: 10px 16px;
            border: none;
            color: #ffffff;
            background-color: rgb(221, 72, 20);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            white-space: nowrap;
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: .007px;
            text-transform: uppercase;
            cursor: pointer;
            margin: auto;
            margin-bottom: 12px;
          }

          .OrderDetailsButton:hover {
            background-color: rgba(221, 72, 20, .6);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
          }
        }
      }
    }
  }
}


@media screen and (min-width: 750px) {
  .container {
    display: block;
    width: 100%;
    height: auto;

    .no-order-section {
      h3 {
        font-weight: 100;
        padding-left: 22px;
        padding-right: 22px;
      }
    }

    .orderItem {
      display: block;
      width: 93%;
      margin-left: 2%;
      margin-right: 2%;
      margin-bottom: 14px;
      border-radius: 4px;

      .orderItem-Header-box {
        display: block;
        width: 100%;
        background-color: #f6f6f6;
        border: 1px #ddd solid;
        border-radius: 4px 4px 0 0;
        padding: 14px 18px;
        font-size: 13px;
        line-height: 19px;
        color: #111;

        .orderItem-Header-box-inner {
          border-radius: 4px 4px 0 0;

          .inner-left-box {
            display: inline-block;
            width: 60%;

            .column-one {
              display: inline-block;
              width: 30%;

              .row-one {
                width: 100%;
              }

              .row-two {
                width: 100%;
              }
            }

            .column-two {
              display: inline-block;
              width: 30%;

              .row-one {
                width: 100%;
              }

              .row-two {
                width: 100%;
              }
            }

            .column-three {
              display: inline-block;
              width: 40%;

              .row-one {
                width: 100%;
              }

              .row-two {
                width: 100%;
              }
            }

          }

          .inner-right-box {
            display: inline-block;
            width: 30%;
            text-align: right;

            .row-one {
              width: 100%;
            }

            .row-two {
              width: 100%;
            }
          }
        }
      }

      .orderItem-contant-box {
        display: block;
        width: 100%;
        border: 1px #ddd solid;
        border-top: none;
        padding: 14px 18px;
        border-radius: 0 0 4px 4px;

        .orderItem-contant-box-inner {
          padding: 14px 18px;

          .contant-box-left {
            display: inline-block;
            width: 60%;

            .addressContainer {
              .title {
                padding-left: 30px;
                padding-right: 30px;
                font-weight: 300;
                font-size: 2em;
                color: #333;

                .title-status {
                  color: #494;
                }
              }

              p {
                color: #333;
                font-weight: 300;
                padding-left: 30px;
                padding-right: 30px;

                .sub-title {
                  font-weight: 300;
                  font-size: 1.5em;
                  color: #333;
                }
              }

              .OrderDetailsButton {
                width: auto;
                display: block;
                align-items: center;
                padding: 10px 16px;
                border: none;
                color: #ffffff;
                background-color: rgb(221, 72, 20);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                white-space: nowrap;
                font-size: 1rem;
                font-weight: 500;
                letter-spacing: .007px;
                text-transform: uppercase;
                cursor: pointer;
                margin: auto;
              }

              .OrderDetailsButton:hover {
                background-color: rgba(221, 72, 20, .6);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
              }
            }
          }

          .contant-box-right {
            display: inline-block;
            width: 40%;

            .OrderDetailsButton {
              display: block;
              width: 100%;
              max-width: 186px;
              align-items: center;
              padding: 10px 16px;
              border: none;
              color: #ffffff;
              background-color: rgb(221, 72, 20);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              white-space: nowrap;
              font-size: 1rem;
              font-weight: 500;
              letter-spacing: .007px;
              text-transform: uppercase;
              cursor: pointer;
              margin-bottom: 12px;
            }

            .OrderDetailsButton:hover {
              background-color: rgba(221, 72, 20, .6);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
            }
          }
        }
      }
    }
  }
}
