<div class="container">

  <div class="top-heading">
    <h2>
      Orders
    </h2>
  </div>

  <div class="loader" *ngIf="orderItemLoding">
  </div>

  <div class="no-order-panal" *ngIf="!orderItemLoaded">
    <h3>
      Nothing to show, place a order!
    </h3>
  </div>

  <div class="orderItem" *ngFor="let order of allOrders">
    <div class="orderItem-Header-box">
      <div class="orderItem-Header-box-inner">
        <div class="inner-left-box">
          <div class="column-one">
            <div class="row-one">
              ORDER DATE
            </div>
            <div class="row-two">
              {{order.OrderDate | date: 'dd LLLL yyyy'}}
            </div>
          </div>
          <div class="column-two">
            <div class="row-one">
              TOTAL
            </div>
            <div class="row-two">
              {{order.OrderPrice | number : '1.2-2'}}
            </div>
          </div>
          <div class="column-three">
            <div class="row-one">
              SHIP TO
            </div>
            <div class="row-two">
              {{order.CustomerName}}
            </div>
          </div>
        </div>
        <div class="inner-right-box">
          <div class="row-one">
            Order No.
          </div>
          <div class="row-two">
            {{order.OrderNo}}
            <!-- Order Id {{order.OrderID}} -->
          </div>
        </div>
      </div>
    </div>
    <div class="orderItem-contant-box">
      <div class="orderItem-contant-box-inner">
        <div class="contant-box-left">
          <div class="addressContainer">
            <div class="title">
              Order Status:
              <span class="title-status">
                {{orderStatus[order.status].status}}
              </span>
            </div>

            <p>
              <span class="sub-title">
                Delivery Address
              </span>
              <br>
              <span>
                {{order.OrderShipAddress}},
              </span>
              <span>
                {{order.OrderCity}},
              </span>
              <span>
                {{order.OrderState}},
              </span>
              <span>
                {{order.OrderCountry}},
              </span>
              <span>
                Pin-
                {{order.OrderPin}}
              </span>
              <br>
              <span>
                {{order.OrderPhone}}
              </span>
              <br>
              <span>
                {{order.OrderEmail}}
              </span>
            </p>

            <button class="OrderDetailsButton" (click)="clickOnOrderDetailsButton(order)">
              Order Details
            </button>
          </div>
        </div>
        <div class="contant-box-right">
          <button class="OrderDetailsButton" (click)="clickOnTrackOrderButton(order)">
            Track Order
          </button>
          <button class="OrderDetailsButton" (click)="clickOnCancelOrderButton(order)">
            Cancel Order
          </button>
          <button class="OrderDetailsButton" (click)="clickOnContactToSellerButton(order)">
            Contact To Seller
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
