.timeline-item {
  background: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  padding: 12px;

  margin: 0 auto;
  /* max-width: 472px; */
  min-height: 300px;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }

  100% {
    background-position: 468px 0
  }
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}

.background-masker {
  background: #fff;
  position: absolute;
}

/* Every thing below this is just positioning */

.background-masker.header-top,
.background-masker.header-bottom,
.background-masker.subheader-bottom {
  top: 0;
  left: 40px;
  right: 0;
  height: 10px;
}

.background-masker.header-left,
.background-masker.subheader-left,
.background-masker.header-right,
.background-masker.subheader-right {
  top: 10px;
  left: 40px;
  height: 8px;
  width: 10px;
}

.background-masker.header-bottom {
  top: 18px;
  height: 6px;
}

.background-masker.subheader-left,
.background-masker.subheader-right {
  top: 24px;
  height: 6px;
}


.background-masker.header-right,
.background-masker.subheader-right {
  width: auto;
  left: 300px;
  right: 0;
}

.background-masker.subheader-right {
  left: 230px;
}

.background-masker.subheader-bottom {
  top: 30px;
  height: 10px;
}

.background-masker.content-top,
.background-masker.content-second-line,
.background-masker.content-third-line,
.background-masker.content-second-end,
.background-masker.content-third-end,
.background-masker.content-first-end {
  top: 40px;
  left: 0;
  right: 0;
  height: 6px;
}

.background-masker.content-top {
  height: 20px;
}

.background-masker.content-first-end,
.background-masker.content-second-end,
.background-masker.content-third-end {
  width: auto;
  left: 380px;
  right: 0;
  top: 60px;
  height: 8px;
}

.background-masker.content-second-line {
  top: 68px;
}

.background-masker.content-second-end {
  left: 420px;
  top: 74px;
}

.background-masker.content-third-line {
  top: 82px;
}

.background-masker.content-third-end {
  left: 300px;
  top: 88px;
}






.slider-container {
  height: 60%;
  overflow: hidden;
}

.container {
  height: 60%;
  overflow: hidden;
}

.img-container {
  position: absolute;
  left: 0;
  opacity: 0;
  /* height: auto !important; */
  height: inherit;
  width: 100%;
  background-size: cover;
  background-position: center;
  // will-change: opacity;
  transition: opacity 0.3s;
  /* cursor: pointer; */
}

.img-pic {
  height: 100%;
  max-height: 300px;
  width: 100%;
  max-width: 1400px;
}

.slide-button:hover,
.slide-button-select {
  width: 64px !important;
  background-color: rgba(255, 255, 255, 1) !important;
  /* pointer-events: none; */
  transition: background-color 0.4s, width 4s cubic-bezier(0.19, 1, 0.22, 1) !important;
}

.slide-button {
  width: 30px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  position: absolute;
  border: 1px solid gray;
}

.slide-button:hover {
  border: 1px solid black;
}

.slider {
  position: absolute;
  top: 10%;
  right: 80px;
  opacity: 1;
  min-width: 30px;
}

.slide-button-parent-container {
  position: relative;
  margin: 22px 0;
  min-height: 4px;
}

.select-box {
  min-height: 10px;
}

.text-container {
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-text {
  min-height: 373px;
  width: 50%;
  height: 100%;
  opacity: 0;
  font-weight: 300;
  font-size: 90px;
  color: white;
}

.selected {
  opacity: 1;
  transition: 1s;
}

.wrapper {
  margin-top: 22px;
}

.wrapper,
.header,
.content,
.content-grid {
  width: 100%;
}

.header {
  height: 60px;
}

.content {
  width: 100%;
}

.content-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-text {
  float: left;
  margin-left: 16px;
  margin-top: 0;
  margin-bottom: 0;
  color: #0d0d0d;
  overflow: hidden;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2rem;
}

.see-all-button {
  float: right;
  padding: 10px 16px;
  border: none;
  color: #ffffff;
  background-color: rgb(221, 72, 20);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.007px;
  text-transform: uppercase;
  margin-right: 22px;
  cursor: pointer;
}

.see-all-button:hover {
  background-color: rgba(221, 72, 20, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
}

.item {
  width: 210px;
  // height: 205px;
  margin: auto;
  box-shadow: 5px 5px 3px lightgray;
  margin-bottom: 12px;
  border: 1px solid transparent;
}

.item:hover {
  border: 1px solid grey;
}

a:visited,
a:active,
a:focus {
  outline: 0;
  border: none;
  text-decoration: none;
  outline-style: none;
  -moz-outline-style: none;
}

.item-thumbnail {
  text-decoration: none;
}

.item-thumbnail,
.item-thumbnail-img {
  width: 210px;
  height: 118px;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

.details {
  // width: 210px;
  padding-left: 8px;
  padding-right: 8px;
  // height: 84px;
}

.item-name,
.item-name-h3 {
  height: 26px;
}

.item-name-h3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 0.9em;
  font-weight: normal;
  color: #0d0d0d;
  text-transform: capitalize;
}

.item-metadata {
  display: flex;
  flex-direction: column;
  color: #606060;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 0.9em;
  font-weight: normal;
}

.item-metadata-line1 {
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-metadata-line2 {
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-metadata-line3 {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 8px;
  margin-top: 6px;

  .star-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 72, 20);
    color: #ffffff;
    font-size: inherit;
    font-weight: inherit;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;

    .star-icon-svg {
      width: 14px;
      height: 14px;
      fill: #ffffff;
    }

    .star-rating-number {
      font-size: inherit;
      font-weight: inherit;
      padding-left: 3px;
    }
  }

  .max-delivery-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: inherit;
    font-weight: inherit;
    margin-left: 10px;

    .max-delivery-time-number {
      font-size: inherit;
      font-weight: inherit;
    }

    .max-delivery-time-text {
      text-transform: uppercase;
      font-size: inherit;
      font-weight: inherit;
      padding-left: 3px;
    }
  }

  .min-order-amount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: inherit;
    font-weight: inherit;
    margin-left: 10px;

    .amount-rs {
      font-size: inherit;
      font-weight: inherit;
    }

    .amount-rs:before {
      font-size: inherit;
      font-weight: inherit;
      content: '₹';
    }

    .min-amount-text {
      font-size: inherit;
      font-weight: inherit;
      text-transform: uppercase;
      padding-left: 3px;
    }
  }
}

.item-metadata-category {
  height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.item-link {
  cursor: pointer;
}

/* desable selection of text in browser */
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

.category-item {
  width: 210px;
  height: 205px;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-bottom: 12px;
  box-shadow: 5px 5px 3px lightgray;
}

.category-item:hover {
  border: 1px solid gray;
}

.no-store-section {
  text-align: center;
  margin-top: 40px;
}

.store-icon-svg {
  display: inline-block;
  margin: auto;
  width: 100px;
  color: rgb(167, 126, 111);
  fill: rgb(221, 72, 20);
}

.no-store-section-h2 {
  font-size: 1em;
  font-weight: 300;
}

.refer-a-store-button {
  display: inline-block;
  padding: 10px 16px;
  border: none;
  color: #ffffff;
  background-color: rgb(221, 72, 20);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .007px;
  text-transform: uppercase;
  margin: auto;
  cursor: pointer;
}

.refer-a-store-button:hover {
  background-color: rgba(221, 72, 20, .6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
}










// .slide-button:hover {
//   border: 1px solid black;
// }

// .item {
//   width: 210px;
//   height: 205px;
//   margin: auto;
//   box-shadow: 5px 5px 3px lightgray;
//   margin-bottom: 12px;
//   border: 1px solid transparent;
// }


.Category-thumbnail,
.Category-thumbnail-img {
  width: 100px;
  height: 100px;
  margin: auto;
  padding: 0;
  border: 0;
  background: transparent;
}

// .details {
//   padding-left: 8px;
//   padding-right: 8px;
//   height: 84px;
// }


// .item-metadata {
//   height: 36px;
//   color: #606060;
//   display: -webkit-box;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: normal;
//   font-size: 0.9em;
//   font-weight: 500;
// }

// .item-metadata-line1 {
//   height: 18px;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   text-transform: capitalize;
// }

// .item-metadata-line2 {
//   height: 18px;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   text-transform: capitalize;
// }
