$gray: #eee;
$white: #fff;
$black: #333;
$active: #e74c3c;

.wrapper {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;

  .left-side,
  .right-side {
    // flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-left: 22px;
  }

  .left-side {
    display: none;
  }

  .right-side {

    #first,
    #second,
    #third,
    #fourth {
      transition: all 0.6s ease-in-out;
      opacity: 0;
      display: none;

      .title {
        // align-items: center;
        justify-content: center;
        font-weight: 300;
        font-size: 2em;
        color: $black;
        text-align: center;
      }

      p {
        color: $black;
        font-weight: 300;
      }

      .textareaContainer {
        .textareaText {
          text-align: left;
        }

        .textareaSellerNote {
          resize: none;
          height: 80px;
        }
      }
    }

    #first.active,
    #second.active,
    #third.active,
    #fourth.active {
      margin-top: 0px;
      opacity: 1;
      display: flex;
      // align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: all 0.6s ease-in-out;
    }

    #first.active {
      .addressContainer {
        .title {
          // align-items: center;
          justify-content: center;
          font-weight: 300;
          font-size: 2em;
          color: $black;
          text-align: center;
        }

        .dilivery-address-box {
          margin: 16px 25px 25px 0;
          padding: 23px 30px 29px 57px;
          border: 1px solid #e9e9eb;

          p {
            color: $black;
            font-weight: 300;
          }
        }

        .DeleverOnThisAddressButton {
          display: block;
          // align-items: center;
          padding: 10px 16px;
          border: none;
          color: #ffffff;
          background-color: rgb(221, 72, 20);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          white-space: nowrap;
          font-size: 1rem;
          font-weight: 500;
          letter-spacing: 0.007px;
          text-transform: uppercase;
          cursor: pointer;
          margin: auto;
        }

        .DeleverOnThisAddressButton:hover {
          background-color: rgba(221, 72, 20, 0.6);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
        }
      }

      .DeleverOnThisAddressButton,
      .DeleverToNewAddressButton {
        padding: 10px 16px;
        border: none;
        color: #ffffff;
        background-color: rgb(221, 72, 20);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        vertical-align: middle;
        white-space: nowrap;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 0.007px;
        text-transform: uppercase;
        cursor: pointer;
      }

      .DeleverOnThisAddressButton:hover,
      .DeleverToNewAddressButton:hover {
        background-color: rgba(221, 72, 20, 0.6);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
      }

      .DeleverToNewAddressButton {
        display: block;
        margin: auto;
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .wrapper {
    display: flex;

    .left-side,
    .right-side {
      // flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    .left-side {
      .unorder-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;

        .unorder-list-items {
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          flex-direction: row;
          padding-top: 10px;
          padding-bottom: 10px;
          display: flex;
          line-height: 34px;
          color: rgba($black, 0.5);
          font-weight: 500;
          cursor: pointer;
          transition: all 0.2s ease-out;

          &:hover {
            color: rgba($black, 1);
            transition: all 0.2s ease-out;
          }

          &:hover>.icon {
            fill: $black;
          }

          .icon {
            position: relative;
            width: 32px;
            height: 32px;
            display: block;
            fill: rgba($black, 0.5);
            margin-right: 20px;
            transition: all 0.2s ease-out;
          }

          .icon.active {
            fill: $active;
          }

          .icon.big {
            width: 64px;
            height: 64px;
            fill: rgba($black, 0.5);
            margin: auto;
          }

          .list-text {
            color: rgba($black, 0.5);
          }

          .list-text.active {
            color: $active;
          }
        }

        .unorder-list-items.active {
          color: rgba($black, 1);

          &:hover>.icon {
            fill: $active;
          }
        }
      }
    }

    .right-side {

      #first,
      #second,
      #third,
      #fourth {
        transition: all 0.6s ease-in-out;
        opacity: 0;
        display: none;

        .title {
          // align-items: center;
          justify-content: center;
          font-weight: 300;
          font-size: 2em;
          color: $black;
          text-align: center;
        }

        p {
          color: $black;
          font-weight: 300;
        }

        .textareaContainer {
          .textareaText {
            text-align: left;
          }

          .textareaSellerNote {
            resize: none;
            height: 80px;
          }
        }
      }

      #first.active,
      #second.active,
      #third.active,
      #fourth.active {
        margin-top: 0px;
        opacity: 1;
        display: flex;
        // align-items: center;
        justify-content: center;
        flex-direction: row;
        transition: all 0.6s ease-in-out;
      }

      #first.active {
        .addressContainer {
          .title {
            // align-items: center;
            justify-content: center;
            font-weight: 300;
            font-size: 2em;
            color: $black;
            text-align: center;
          }

          .DeleverOnThisAddressButton {
            display: block;
            // align-items: center;
            padding: 10px 16px;
            border: none;
            color: #ffffff;
            background-color: rgb(221, 72, 20);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            white-space: nowrap;
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: 0.007px;
            text-transform: uppercase;
            cursor: pointer;
            margin: auto;
          }

          .DeleverOnThisAddressButton:hover {
            background-color: rgba(221, 72, 20, 0.6);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
          }
        }

        .DeleverOnThisAddressButton,
        .DeleverToNewAddressButton {
          padding: 10px 16px;
          border: none;
          color: #ffffff;
          background-color: rgb(221, 72, 20);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          vertical-align: middle;
          white-space: nowrap;
          font-size: 1rem;
          font-weight: 500;
          letter-spacing: 0.007px;
          text-transform: uppercase;
          cursor: pointer;
        }

        .DeleverOnThisAddressButton:hover,
        .DeleverToNewAddressButton:hover {
          background-color: rgba(221, 72, 20, 0.6);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
        }

        .DeleverToNewAddressButton {
          display: block;
          margin: auto;
          margin-bottom: 20px;
        }
      }

      #second.active {

        .second-container {
          .title {
            // align-items: center;
            justify-content: center;
            font-weight: 300;
            font-size: 2em;
            color: $black;
            text-align: center;
          }

          p {
            color: $black;
            font-weight: 300;
            padding-left: 30px;
            padding-right: 30px;
          }

          .textareaContainer {
            .textareaText {
              text-align: left;
            }

            .textareaSellerNote {
              resize: none;
              height: 80px;
            }
          }

          .button-container {

            .Back-Button,
            .ContinueOrderButton {
              padding: 10px 16px;
              border: none;
              color: #ffffff;
              background-color: rgb(221, 72, 20);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              vertical-align: middle;
              white-space: nowrap;
              font-size: 1rem;
              font-weight: 500;
              letter-spacing: 0.007px;
              text-transform: uppercase;
              margin-right: 22px;
              cursor: pointer;
            }

            .Back-Button {
              float: left;
            }

            .ContinueOrderButton {
              float: right;
            }
          }
        }
      }

      #third.active {
        .third-container {
          .title {
            // align-items: center;
            justify-content: center;
            font-weight: 300;
            font-size: 2em;
            color: $black;
            text-align: center;
          }

          .icon {
            position: relative;
            width: 32px;
            height: 32px;
            display: block;
            fill: rgba($black, 0.5);
            margin-right: 20px;
            transition: all 0.2s ease-out;
          }

          .icon.active {
            fill: $active;
          }

          .icon.big {
            width: 64px;
            height: 64px;
            fill: rgba($black, 0.5);
            margin: auto;
          }


          .button-container {

            .Back-Button,
            .ContinueOrderButton {
              padding: 10px 16px;
              border: none;
              color: #ffffff;
              background-color: rgb(221, 72, 20);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              vertical-align: middle;
              white-space: nowrap;
              font-size: 1rem;
              font-weight: 500;
              letter-spacing: 0.007px;
              text-transform: uppercase;
              margin-right: 22px;
              cursor: pointer;
            }

            .Back-Button {
              float: left;
            }

            .ContinueOrderButton {
              float: right;
            }
          }
        }
      }
    }
  }
}
