.wrapper {
  padding-top: 24px;
  padding-bottom: 24px;
}

.login-container {
  max-width: 460px;
  margin: auto;
}

.top-logo {
  display: block;
  width: 250px;
  height: 75px;
  margin: auto;
  text-align: center;

  .top-logo-image {
    float: left;
    height: 75px;
    width: 100px;
  }

  .logoname {
    color: #e95420;
    font-size: 40px;
    font-weight: 500;
  }

  .logoname-subtext {
    color: #e95420;
    font-weight: 300;
  }
}

.welcome-text {
  color: #000000;
  margin-top: 8%;
  margin-bottom: 6%;
  font-size: 1.5em;
  font-weight: 400;
  margin-left: 22px;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}




.form-area .login-input-icon {
  position: absolute;
}

.form-area {
  margin-bottom: 10px;
}

.login-input-icon {
  padding: 20px;
  width: 16px;
  height: 16px;
  margin-top: -10px;
  fill: rgb(36, 34, 33);
  color: rgb(36, 34, 33);
}

.login-input-eye-slash-icon,
.login-input-eye-icon {
  position: absolute;
  padding: 20px;
  width: 16px;
  height: 16px;
  margin-top: -10px;
  margin-left: -50px;
  fill: rgb(36, 34, 33);
  color: rgb(36, 34, 33);
  cursor: pointer;
}

.login-input-field {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 36px;
  padding-right: 36px;
  margin-left: 10px;
  border-radius: 12px;
  background-color: #ffffff;
  outline: none;
  caret-color: rgb(221, 72, 20);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.agree-text {
  color: rgb(221, 72, 20);
  margin-left: 22px;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .terms-of-service {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
  }

  .privacy-policy {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
  }
}

.submit-button {
  display: block;
  padding: 10px 24px;
  border-radius: 10px;
  color: #ffffff;
  background-color: rgb(221, 72, 20);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: .007px;
  text-transform: uppercase;
  cursor: pointer;
  margin: auto;
  outline: none;
}

.submit-button:hover,
.submitButton-disabled  {
  background-color: rgba(221, 72, 20, .6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
}

.create-new-account {
  color: #4d4a4a;
  font-size: 1.25em;
  margin-top: 8%;
  text-align: center;
  cursor: pointer;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* desable selection of text in browser */
.noselect {
  pointer-events: none;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
